{{ govukFieldset({
  legend: {
    text: __('passenger_travelling_reason'),
    classes: "govuk-fieldset__legend--m"
  },
  describedBy: "passengerTravellingReasonAnswer-hint",
  classes: "govuk-form-group",
  html: govukTextarea({
    id: "passengerTravellingReason",
    name: "passengerTravellingReason",
    label: {
      text: __('passenger_travelling_reason_hint')
    },
    attributes: {
      placeholder: __('passenger_travelling_reason_placeholder')
    },
    value: gar.passengerTravellingReason,
    rows: 5,
    maxlength: MAX_TEXT_BOX_LENGTH,
    errorMessage: errors | containsError('passengerTravellingReason')
   })
  })
}}
