
<div class="govuk-form-group {{ m.form_group_class('continentalShelf', errors) }}" id="continentalShelf" hidden>
  <fieldset class="govuk-fieldset" aria-describedby="continental-shelf-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      {{ m.error_message('continentalShelf', errors, __) }}
      <h2 class="govuk-fieldset__heading">{{__('field_continental_shelf_question')}}</h2>
    </legend>

    <div class="govuk-radios govuk-radio--conditional" data-module="govuk-radios">
      {% for choice in continentalShelfOptions %}
      <div class="govuk-radios__item">
        <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="continentalShelf"
          value="{{choice.value}}" aria-labelledby="continentalShelf-label-{{ loop.index }}"
          {{ "data-aria-controls=conditional-continentalShelfDeclaration" if choice.value==='Yes' }} {{ "checked"
          if choice.value==gar.continentalShelf }}>
        <label id="continentalShelf-label-{{ loop.index }}" class="govuk-label govuk-radios__label"
          for="{{choice.option}}">{{choice.option}}</label>
      </div>
      {% if choice.value == 'Yes' %}
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden"
        id="conditional-continentalShelfDeclaration">
        <div class="govuk-form-group">
          <span id="continental_shelf-hint" class="govuk-hint">
            {{__('field_continental_shelf_hint')}}
            <a href=https://www.gov.uk/guidance/moving-goods-between-the-uk-and-the-uk-continental-shelf
              target="_blank">Moving goods between the UK and the UK Continental Shelf - GOV.UK (www.gov.uk) </a>
          </span>
          <label class="govuk-label" for="continentalShelfDeclaration">
            {{__('field_goods_declaration_label_150')}}
          </label>
          <textarea class="govuk-textarea" id="continentalShelfDeclaration" name="continentalShelfDeclaration"
            placeholder="e.g. Rig Essentials (food, drink, medical supplies, newspapers, sanitary items) "
            rows="5" aria-describedby="continentalShelf-hint"
            maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.continentalShelfDeclaration}}</textarea>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </fieldset>
</div>

