<div class="govuk-form-group {{ m.form_group_class('prohibitedGoods', errors) }}" id="prohibitedGoods" hidden>
  <fieldset class="govuk-fieldset" aria-describedby="prohibitedGoods-hint">
    <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
      {{ m.error_message('prohibitedGoods', errors, __) }}
      <h2 class="govuk-fieldset__heading">{{__('field_allowances_question')}}</h2>
    </legend>

    <div class="govuk-radios govuk-radio--conditional" data-module="govuk-radios">
      {% for choice in prohibitedGoodsOptions %}
      <div class="govuk-radios__item">
        <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="prohibitedGoods"
          value="{{choice.value}}" aria-labelledby="prohibitedGoods-label-{{ loop.index }}"
          {{ "data-aria-controls=conditional-goodsDeclaration" if choice.value==='Yes' }} {{ "checked" if
          choice.value==gar.prohibitedGoods }}>
        <label id="prohibitedGoods-label-{{ loop.index }}" class="govuk-label govuk-radios__label"
          for="{{choice.option}}">{{choice.option}}</label>
      </div>
      {% if choice.value == 'Yes' %}
      <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-goodsDeclaration">
        <div class="govuk-form-group">
          <span id="allowances-hint" class="govuk-hint">{{__('field_allowances_hint')}}<a
              href=https://www.gov.uk/bringing-goods-into-uk-personal-use target="_blank"> Overview - GOV.UK
              (www.gov.uk) </a></span>
          <label class="govuk-label" for="goodsDeclaration">{{__('field_goods_declaration_label_150')}}</label>
          <textarea class="govuk-textarea" id="goodsDeclaration" name="goodsDeclaration"
            placeholder="e.g. alcohol or tobacco" rows="5" aria-describedby="prohibitedGoods-hint"
            maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.goodsDeclaration}}</textarea>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </fieldset>
</div>


