{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
Manage aircraft | Submit a General Aviation Report (GAR)
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

{% import "common/templates/includes/macros.njk" as m %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

  {% if errors %}
  	{% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

  {% if cookie.getUserRole() != 'User' %}

		<h1 class="govuk-heading-xl">Aircraft</h1>
		<p class="govuk-body-l">You can view, edit, cancel or delete GARs dependant on the status of the GAR.</p>
	</div>

	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>

	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">Save a new aircraft</h2>
		<p class="govuk-body-l">Save the details of aircraft that you regularly submit GARs for.</p>
		<a href='/aircraft/add' class='govuk-button'>
			Save an aircraft
		</a>
	</div>

	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>

  {% endif %}

	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">Saved aircraft</h2>

    <form id="aircraft" action="/aircraft" class="form-group" method="post" role="form" >

		<table class="govuk-table" id="SavedCraft">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">Aircraft registration</th>
					<th class="govuk-table__header" scope="col">Aircraft type</th>
					<th class="govuk-table__header" scope="col">Home / Usual base</th>
          {% if cookie.getUserRole() != 'User' %}
					<th class="govuk-table__header" scope="col">Action</th>
          {% endif %}
				</tr>
			</thead>
			<tbody class="govuk-table__body">
				{% for craft in savedCrafts.items %}
				<tr class="govuk-table__row">
          {% if cookie.getUserRole() != 'User' %}
					<td class="govuk-table__cell" scope="row"><button class="govuk-link btn-link" name="editCraft" value="{{ craft.craftId }}">{{ craft.registration }}</button></th>
          {% else %}
          <td class="govuk-table__cell">{{ craft.registration }}</td>
          {% endif %}
					<td class="govuk-table__cell">{{ craft.craftType }}</td>
					<td class="govuk-table__cell">{{ craft.craftBase }}</td>
          {% if cookie.getUserRole() != 'User' %}
					<td class="govuk-table__cell"><button class="govuk-link btn-link" name="deleteCraft" value="{{ craft.craftId }}">Delete</button></th>
          {% endif %}
				</tr>
				{% endfor %}
			</tbody>
		</table>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
	</div>
</div>

{% endblock %}
