{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
Manage aircraft | Submit a General Aviation Report (GAR)
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

{% import "common/templates/includes/macros.njk" as m %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">

  {% if errors %}
  	{% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

    <h1 class="govuk-heading-xl">Aircraft</h1>
      {% if cookie.getUserRole() != 'User' %}
		  <p class="govuk-body-l">You can view, edit or delete aircraft that you regularly add to GARs.</p>
      {% endif %}
    <form id="aircraft" action="/aircraft" class="form-group" method="post" role="form" >
		  <table class="govuk-table" id="SavedCraft">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Aircraft registration</th>
            <th class="govuk-table__header" scope="col">Aircraft type</th>
            <th class="govuk-table__header" scope="col">Aircraft home port / location</th>
            {% if cookie.getUserRole() != 'User' %}
            <th class="govuk-table__header" scope="col">Action</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for craft in savedCrafts.items %}
          <tr class="govuk-table__row">
            {% if cookie.getUserRole() != 'User' %}
            <td class="govuk-table__cell" scope="row"><button class="govuk-link btn-link" name="editCraft" value="{{ craft.craftId }}">{{ craft.registration }}</button></th>
            {% else %}
            <td class="govuk-table__cell">{{ craft.registration }}</td>
            {% endif %}
            <td class="govuk-table__cell">{{ craft.craftType }}</td>
            <td class="govuk-table__cell">{{ craft.craftBase | upper }}</td>
            {% if cookie.getUserRole() != 'User' %}
            <td class="govuk-table__cell"><button class="govuk-link btn-link" name="deleteCraft" value="{{ craft.craftId }}">Delete</button></th>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <nav>
        <div class="pagination__summary">Showing {{ pages.startItem }} &ndash; {{ pages.endItem }} of {{ pages.totalItems }} results {{ paginate }}, current page: {{ pages.currentPage }}</div>
        <ul class="pagination">
        {% for page in pages.items %}
          {% if page.number == pages.currentPage %}
            <li class="pagination__item"><a class="pagination__link current" href="" aria-current="true" aria-label="Page {{ page.number }}, current page">{{ page.number }}</a></li>
          {% else %}
            <li class="pagination__item"><a class="pagination__link" href="{{ page.url }}">{{ page.number }}</a></li>
          {% endif %}
        {% endfor%}
          {# <li class="pagination__item"><a class="pagination__link" href="#" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
          <li class="pagination__item"><a class="pagination__link current" href="#" aria-current="true" aria-label="Page 1, current page">1</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#" aria-label="Page 2">2</a></li>
          <li class="pagination__item"><a class="pagination__link" href="#" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li> #}
          <li class="pagination__item"><a class="pagination__link" href="/aircraft/next" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
        </ul>
      </nav>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
	</div>

  {% if cookie.getUserRole() != 'User' %}
	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>

	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">Add a new aircraft</h2>
		<p class="govuk-body-l">Add the details of an aircraft that you regularly submit GARs for.</p>
		<a href='/aircraft/add' class='govuk-button'>
			Add an aircraft
		</a>
	</div>

	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>

  {% endif %}
</div>

{% endblock %}
