{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Submit GAR | Failure
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}
  <div class="govuk-grid-row">
  	<div class="govuk-grid-column-two-thirds">
		 <h1 class="govuk-heading-xl">
				Service Unavailable
		 </h1>
     <h2 class="govuk-heading-l">
        The Submit a General Aviation Report (GAR) service is currently unavailable.
     </h2>
    {% if (IS_PLANNED_MAINTENANCE == "true") %}
     <div>
        <p class="govuk-body-m">
         This is due to a planned outage. The service will be unavailable between {{ MAINTENANCE_START_DATETIME }} UTC and {{ MAINTENANCE_END_DATETIME }} UTC, but available thereafter.
        </p>
        <p class="govuk-body-m">
          If you are required to submit a GAR during this period, please download and complete the required GAR form found on <a href="https://www.gov.uk/government/publications/general-aviation-operators-and-pilots-notification-of-flights" target="_blank" rel="noopener noreferrer">General aviation operators and pilots notification of flights - GOV.UK (www.gov.uk)</a>.
				</p>
				<p class="govuk-body-m">
					GAR forms should be submitted directly to the National Co-Ordination Unit (NCU) at <a href="mailto:ncu@hmrc.gov.uk">ncu@hmrc.gov.uk</a> as per the instructions on GOV.UK. Submissions will not be received direct from sGAR for the duration of this outage.
				</p>
				<p class="govuk-body-m">
					We apologise for any inconvenience.
				</p>
       <p class="govuk-body-m">
     </div>
		{% else %}
		<div>
			 <p class="govuk-body-m">
				 If you are required to submit a GAR for an imminent service, please download and complete the required GAR form found on <a href="https://www.gov.uk/government/publications/general-aviation-operators-and-pilots-notification-of-flights" target="_blank" rel="noopener noreferrer">General aviation operators and pilots notification of flights - GOV.UK (www.gov.uk)</a>.
			 </p>
			 <p class="govuk-body-m">
				 GAR forms should be submitted directly to the National Co-Ordination Unit (NCU) at <a href="mailto:ncu@hmrc.gov.uk">ncu@hmrc.gov.uk</a> as per the instructions on GOV.UK. Submissions will not be received direct from sGAR whilst the service is unavailable.
			 </p>
			 <p class="govuk-body-m">
				 We apologise for any inconvenience.
			 </p>
			<p class="govuk-body-m">
		</div>
    {% endif %}
     <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  </div>

{% endblock %}
