{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit an Aircraft
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/aircraft">Aircraft</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Edit aircraft
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

	{% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

      <form action="/aircraft/edit" autocomplete="off" class="form-group"
      method="post" role="form" >

      <h1 class="govuk-heading-xl">
        Edit aircraft
      </h1>

      <p class="govuk-body-l">Please enter the following information. This information can be re-used when submitting a GAR.</p>

      <div class="govuk-form-group {{ m.form_group_class('craftReg', errors) }}">
          <label class="govuk-label" for="craftReg">Aircraft registration</label>
          {{ m.error_message('craftReg', errors) }}
          <span class="govuk-hint">
            For example G-ABCD
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="craftReg"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input  class="govuk-input govuk-input--width-10"
            id="craftReg" name="craftReg" style="width:100%" type="text"
            value="{{cookie.getEditCraft().registration}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('craftType', errors) }}">
            <label class="govuk-label" for="craftType">Aircraft type</label>
          {{ m.error_message('craftType', errors) }}
          <span class="govuk-hint">
            For example Gulfstream
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="craftType"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input  class="govuk-input govuk-input--width-20"
            id="craftType" name="craftType" style="width:100%" type="text"
            value="{{cookie.getEditCraft().craftType}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('craftBase', errors) }}">
             <label class="govuk-label" for="craftBase">Aircraft home port / location</label>
          {{ m.error_message('craftBase', errors) }}
          <span class="govuk-hint">
            IATA / ICAO / Coordinates (decimal)
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="craftBase"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input  class="govuk-input govuk-input--width-10"
            id="craftBase" name="craftBase" style="width:100%" type="text"
            value="{{cookie.getEditCraft().craftBase}}" />
         <input type="hidden" id="craftId" name="craftId" value="{{cookie.getEditCraft().craftId}}">
      </div>

          <div class="govuk-form-group">

           <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a class="govuk-button" href="/aircraft">Exit without saving</a></td>
            <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and exit"
          onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
          </tr>
        </table>

          </div>
            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    </form>

 </div>

{% endblock %}
