{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
  {{ __('error_prefix') if errors }} GAR | Edit an Aircraft
{% endblock %}

{% set active = '/aircraft' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/aircraft">{{__('title_aircraft')}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">{{__('title_edit_aircraft')}}</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

      <form action="/aircraft/edit" autocomplete="off" class="form-group"method="post" role="form" >
        <h1 class="govuk-heading-xl">{{__('title_edit_aircraft')}}</h1>
        <p class="govuk-body-l">{{__('edit_aircraft_caption')}}</p>

        <div class="{{ m.form_group_class('registration', errors) }}">
          <label class="govuk-label" for="registration">{{__('field_aircraft_registration')}}</label>
          {{ m.hint('registration', __('field_aircraft_registration_hint')) }}
          {{ m.error_message('registration', errors, __) }}
          <input id="registration" name="registration"  class="govuk-input govuk-input--width-10"
            type="text" aria-describedby="registration-hint{{ ' registration-error' if errors | containsError('registration') }}"
            value="{{cookie.getEditCraft().registration}}"/>
        </div>

        <div class="{{ m.form_group_class('craftType', errors) }}">
          <label class="govuk-label" for="craftType">{{__('field_aircraft_type')}}</label>
          {{ m.hint('craftType', __('field_aircraft_type_hint')) }}
          {{ m.error_message('craftType', errors, __) }}
          <input id="craftType" name="craftType" class="govuk-input govuk-input--width-20"
            type="text" aria-describedby="craftType-hint{{ ' craftType-error' if errors | containsError('craftType') }}"
            value="{{cookie.getEditCraft().craftType}}">
        </div>
        <div class="{{ m.form_group_class('portChoice', errors) }}">
          <fieldset class="govuk-fieldset" aria-describedby="portChoice-hint">
            <legend class="govuk-fieldset__legend">{{__('field_aircraft_base')}}</legend>
            <span id="portChoice-hint" class="govuk-hint">{{__('field_aircraft_base_hint')}}</span>
            {{ m.error_message('portChoice', errors, __) }}
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input id="portChoiceCode" name="portChoice" class="govuk-radios__input"
                  type="radio"
                  value="Yes" 
                  {{'checked' if cookie.getEditCraft().portChoice  === 'Yes'}}
                  data-aria-controls="portChoiceCodeContainer"
                  aria-labelledby="portChoiceCode-label"
                >
                <label id="portChoiceCode-label" class="govuk-label govuk-radios__label" for="portChoiceCode">{{__('field_choice_yes')}}</label>
              </div>
              <div id="portChoiceCodeContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="{{ m.form_group_class('craftBase', errors) }}">
                  <label id="departurePort-label" class="govuk-label" for="departurePort">{{__('field_port_code')}}</label>
                  {{ m.hint('departurePort', __('field_port_hint')) }}
                  {{ m.error_message('craftBasePort', errors, __) }}
                  <select id="craftBasePort" name="craftBasePort" class="govuk-select" 
                    value="{{ craftObj.craftBasePort }}"
                    aria-labelledby="craftBasePort-label"
                    aria-describedby="craftBasePort-hint{{ ' craftBasePort-error' if errors | containsError('craftBasePort') }}">
                    {% for airport in airportList | sort(attribute = 'label') %}
                      <option value="{{ airport.id | upper}}" {{ 'selected=selected' if cookie.getEditCraft().craftBasePort in [airport.id, airport.id2] }}>{{ airport.label }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input id="portChoiceCoordinates" name="portChoice" class="govuk-radios__input"
                  type="radio"
                  value="No"
                  {{ 'checked' if cookie.getEditCraft().portChoice  === 'No'}}
                  data-aria-controls="portChoiceCoordinatesContainer"
                  aria-labelledby="portChoiceCoordinates-label"
                >
                <label id="portChoiceCoordinates-label" class="govuk-label govuk-radios__label" for="portChoiceCoordinates">{{__('field_choice_no')}}</label>
              </div>
              <div id="portChoiceCoordinatesContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="govuk-form-group">
                  {{ m.hint('craftBaseCoordinates', __('field_coordinate_hint')) }}
                </div>
                {# Start departure coords #}
                <div class="govuk-form-group {{ m.form_group_class('craftBaseLat', errors) }}">
                  <label class="govuk-label" for="craftBaseLat">
                    {{__('field_latitude')}}
                  </label>
                  <span id="departureLatitude-hint" class="govuk-hint">
                    {{__('field_latitude_hint')}}
                  </span>

                  {{ m.error_message('craftBaseLat', errors, __) }}

                  <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="craftBaseLat" name="craftBaseLat" type="number" step="0.000001" max="90" min="-90" value="{{ cookie.getEditCraft().craftBaseLat }}">
                </div>

                <div class="govuk-form-group {{ m.form_group_class('craftBaseLong', errors) }}">
                  <label class="govuk-label" for="craftBaseLong">
                    {{__('field_longitude')}}
                  </label>
                  <span id="craftBaseLongitude-hint" class="govuk-hint">
                    {{__('field_longitude_hint')}}
                  </span>
                  {{ m.error_message('craftBaseLong', errors, __) }}

                  <input class="govuk-input govuk-date-input__input govuk-input--width-20" id="craftBaseLong" name="craftBaseLong" type="text" step="0.000001" max="180" min="-180" value="{{ cookie.getEditCraft().craftBaseLong }}">

                </div>
                {# End departure coords #}
              </div>
            </div>
          </fieldset>
        </div>

        <div class="govuk-form-group">
          <input id="save-and-exit" class="govuk-button" type="submit"
            name="buttonClicked"
            value="{{__('form_save_and_exit')}}"
            onclick="sendAnalytics(event, 'Saved Aircraft Edit - Save', 'click')">
          <p class="govuk-body-m">
            <a id="exit-without-saving" class="govuk-button govuk-button--secondary" href="/aircraft#" onclick="sendAnalytics(event, 'Saved Aircraft Edit - Cancel', 'click')">{{__('form_exit_without_saving')}}</a>
          </p>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      </form>
    </div>
  </div>
  <script type="text/javascript">

    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#craftBasePort'), minLength: 2,
      //inputClasses: 'govuk-input govuk-date-input__input govuk-input--width-20'
    });
    document
      .getElementById("craftBasePort")
      .setAttribute('aria-describedby', 'craftBasePort-hint{{ ' craftBasePort-error' if errors | containsError('craftBasePort') }}');
  </script>
{% endblock %}