{{ govukNotificationBanner({
  titleText: "Important",
  html: '
    <p class="govuk-notification-banner__heading">
      The GB departure and arrival ports must be officially designated to handle this flight.
    </p>
    <p class="govuk-notification-banner__heading">
      Check the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1151707/GOV.UK_GAR-Instructions-April_2023_V1.0_SDS.pdf" class="notification-banner-text-link">General aviation report (GAR) guidance</a> to find out if your intended port is officially approved or confirm with aerodrome authority directly.
    </p>
  ',
  attributes: {
    role: "region",
    id: "important-flight-notice",
    "aria-labelledby": "govuk-notification-banner-title"
  }
}) }}
