{% from "dist/govuk/components/footer/macro.njk" import govukFooter %}
{% macro footer() %}

  {{ govukFooter({
    meta: {
      items: [
        {
          text: "Privacy Policy",
          href: "https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship"
        },
        {
          text: "Help",
          href: "/help"
        },
        {
          text: "Cookies",
          href: "/cookies"
        },
        {
          text: "Accessibility Statement",
          href: "/accessibility"
        }
      ]
    }
  }) }}

{% endmacro %}
