<nav class="footer-nav">
  <ul>
    <li>Built by the <a href="https://www.gov.uk/government/organisations/government-digital-service">Digital Government Service</a></li>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="https://www.gov.uk/government/publications/external-contact-information-privacy-notice/external-contact-information-privacy-notice">Privacy</a></li>
    <li><a href="/terms">Terms</a></li>
  </ul>
</nav>
