{% set pagesList = [
  { href: '/home', text: __('nav_bar_gars') },
  { href: '/aircraft', text: __('title_aircraft') },
  { href: '/people', text: __('title_people') },
  { href: '/resperson', text: __('nav_bar_responsible_person') }
] %}

{% if cookie.getUserRole() == 'Individual' %}
  {% set _ = pagesList.push({ href: '/organisation/create', text: __('nav_bar_create_organisation') }) %}
{% elseif cookie.getUserRole() == 'Admin' or cookie.getUserRole() == 'Manager' %}
  {% set _ = pagesList.push({ href: '/organisation', text: __('nav_bar_organisation') }) %}
{% endif %}

{% set _ = pagesList.push({ href: '/user/details', text: __('nav_bar_account') }) %}
{% set _ = pagesList.push({ href: '/user/logout', text: __('nav_bar_sign_out') }) %}
{% set _ = pagesList.push({ href: '/help', text: __('nav_bar_upt-help') }) %}

{{ navigation(pagesList, active) }}
