{% from "dist/govuk/components/header/macro.njk" import govukHeader %}

{{ govukHeader({
  homepageUrl: "http://www.gov.uk/"
}) }}


{% set pagesList = [
  { href: '/help', text: __('nav_bar_upt-help') }
] %}

{{ navigation(pagesList, active) }}
