{% macro form_group_class(identifier, errors) %}
	{% set class = '' %}
	{% for error in errors %}
		{% if error.identifier == identifier %}
			{% set class = 'govuk-form-group govuk-form-group--error' %}
		{% endif %}
	{% endfor %}
	{{class}}
{% endmacro %}

{% macro error_message(identifier, errors, __) %}
	{% for error in errors %}
		{% if error.identifier == identifier %}
			<p id="{{ identifier }}-error" class="govuk-error-message"><span class="govuk-visually-hidden">{{__('error_prefix')}}</span>{{error.message}}</p>
		{% endif %}
	{% endfor %}
{% endmacro %}

{% macro submit_buttons(analyticsPage, csrfToken, __) %}
  <input id="save-and-continue" class="govuk-button" type="submit"
    name="buttonClicked"
    value="{{__('form_save_and_continue')}}"
    onclick="sendAnalytics(event, '{{ analyicsPage }} - Save and Continue', 'click')">
  <p class="govuk-body-m">
    <input id="save-and-come-back" class="disableAutoFillSubmit govuk-button govuk-button--secondary" type="submit"
      name="buttonClicked"
      value="{{__('form_save_and_come_back')}}"
      onclick="sendAnalytics(event, '{{ analyicsPage }} - Save and Exit', 'click')">
  </p>
  
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
{% endmacro %}

{% macro exit_without_saving(garId, csrfToken, __) %}
<form id="cancel-form" action="/garfile/view" method="post" role="form">
  <p class="govuk-body-m">
    <button type="submit" id="exit-without-saving" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      {{__('form_exit_without_saving')}}
    </button>
    <input type="hidden" name="garId" value="{{ garId }}">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  </p>
</form>
{% endmacro %}
