{% from "dist/govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}
{% from "dist/govuk/components/header/macro.njk" import govukHeader %}
{% macro navigation(pagesList, active)%}

  {{ govukHeader({
    homepageUrl: "/"
  }) }}

  {% set pages = [] %}
  {% for page in pagesList %}
    {% set _ = pages.push({
      href: page.href,
      text: page.text,
      active: (page.href == active)
    }) %}
  {% endfor %}

  {{ govukServiceNavigation({
    navigation: pages
  }) }}
{% endmacro %}
