<div class="header-proposition">
  <div class="content">
    <nav id="proposition-menu">
         <a href="{{baseUrl}}/home" id="proposition-name">{{$journeyHeader}}{{/journeyHeader}}</a>
         <span class="egar-logout"><a href="/oauth/logout?redirect=/sign-out?s=1">Sign out</a></span>
    </nav>
  </div>
</div>