{% from "dist/govuk/components/pagination/macro.njk" import govukPagination %}
  
{% macro build(formName, pages, __) %}

{% block header %}
  <script type="text/javascript">
    function transitionToPage(pageNumber) {
      nextPage=document.createElement('input');
      nextPage.type='hidden';
      nextPage.name='nextPage';
      nextPage.value=pageNumber;
      document.getElementById('{{ formName }}').appendChild(nextPage);
      document.getElementById('{{ formName }}').submit();
      return false;
    }
  </script>
{% endblock %}

{% set pageList = [] %}
{% set previousItem = null %}
{% set nextItem = null %}

{% if pages.currentPage > 1 %}
  {% set previousItem = {
    href: "#",
    attributes: {
      onclick: "return transitionToPage(" + (pages.currentPage  - 1) + ")"
    }
  } %}
{% endif %}

{% if pages.currentPage < pages.totalPages %}
  {% set nextItem = {
    href: "#",
    attributes: {
      onclick: "return transitionToPage(" + (pages.currentPage + 1) + ")"
    }
  } %}
{% endif %}

{% for pageNumber in pages.items %}
  {% set items = pageList.push({
      number: pageNumber,
      href: "#",
      current: pageNumber === pages.currentPage,
      attributes: {
        onclick: "return transitionToPage(" + (pageNumber) + ")"
      }
    }) 
  %}
{% endfor %} 





<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    {{ govukPagination({
      previous: previousItem,  
      next: nextItem,
      items: pageList
    }) }}
  </div>
  <div class="govuk-grid-column-one-half">
    <p class="govuk-body-m govuk-!-text-align-right">
      Showing {{ pages.startItem }} &ndash; {{ pages.endItem }} of {{ pages.totalItems }} results
    </p>
  </div>
</div>
{% endmacro %}
