<div class="{{ m.form_group_class('savedpeople', errors) }}">
  <div class="{{ m.form_group_class('firstName', errors) }}">
    <label class="govuk-label govuk-label--m" for="firstName">{{ __('field_given_name') }}</label>
    {{ m.error_message('firstName', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="firstName" name="firstName" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person.firstName or req.body.firstName }}"
      {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
  </div>

  <div class="{{ m.form_group_class('lastName', errors) }}">
    <label class="govuk-label govuk-label--m" for="lastName">{{ __('field_surname') }}</label>
    {{ m.error_message('lastName', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="lastName" name="lastName" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person.lastName or req.body.lastName }}"
      {{ 'aria-describedby=lastName-error' if errors | containsError('lastName') }}>
  </div>

  <div class="{{ m.form_group_class('nationality', errors) }}">
    <label class="govuk-label govuk-label--m" for="nationality">{{ __('field_nationality') }}</label>
    {{ m.hint('nationality', __('field_nationality_hint')) }}
    {{ m.error_message('nationality', errors, __) }}
    {# <span class="govuk-hint">{{ __('field_nationality_hint') }}</span> #}
    <select class="govuk-select" id="nationality" name="nationality" value="{{ (person['nationality'] or req.body['nationality'])}}" aria-describedby="nationality-hint">
      {% for country in countryList|sort(attribute='label') %}
        <option value="{{ country.code }}" {{ 'selected=selected' if (person['nationality'] or req.body['nationality']) == country.code }}>{{ country.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="{{ m.form_group_class('birthplace', errors) }}">
    <label class="govuk-label govuk-label--m" for="birthplace">{{ __('field_birth_place') }}</label>
    {{ m.error_message('birthplace', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="birthplace" name="birthplace" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person['placeOfBirth'] or req.body['birthplace'] }}"
      {{ 'aria-describedby=birthplace-error' if errors | containsError('birthplace') }}>
  </div>

  <!-- Date of birth -->
  <div class="{{ m.form_group_class('dob', errors) }}">
    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">{{ __('field_dob') }}</h1>
      </legend>
      <span class="govuk-hint" id="dob-hint">{{ __('field_dob_hint') }}</span>
      {{ m.error_message('dob', errors, __) }}
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dobDay">{{ __('field_date_day') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobDay" name="dobDay" type="number" pattern="[0-9]*"
            min="01" max="31" value="{{cookie.dateSlice('day', person.dateOfBirth) or req.body['dobDay']}}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="dobMonth">{{ __('field_date_month') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobMonth" name="dobMonth" type="number" pattern="[0-9]*"
            min="01" max="12" value="{{cookie.dateSlice('month', person.dateOfBirth) or req.body['dobMonth']}}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="dobYear">{{ __('field_date_year') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobYear" name="dobYear" type="number" pattern="[0-9]*"
            min="1900" max="2200" value="{{cookie.dateSlice('year', person.dateOfBirth) or req.body['dobYear']}}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <!-- End date of birth -->

  <div class="govuk-form-group {{ m.form_group_class('gender', errors) }}" id="gender">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_gender') }}</h2>
      </legend>
      {{ m.error_message('gender', errors, __) }}
      <div class="govuk-radios">
        {% for choice in genderchoice %}
          <div class="govuk-radios__item">
          {% if choice.gender == person.gender or choice.gender == req.body.gender %}
            <input class="govuk-radios__input" id={{choice.gender}} type="radio" name="gender" value={{choice.gender}} checked>
          {% else %}
            <input class="govuk-radios__input" id={{choice.gender}} type="radio" name="gender" value={{choice.gender}}>
          {% endif %}
            <label class="govuk-label govuk-radios__label" for={{choice.gender}}>{{choice.gender}}</label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <div class="{{ m.form_group_class('personType', errors) }}" id="personTypeContainer">
    <fieldset class="govuk-fieldset" aria-describedby="personType-hint personType-error">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_person_type') }}</h2>
      </legend>
      {{ m.hint('personType', __('field_person_type_hint')) }}
      {{ m.error_message('personType', errors, __) }}
      <div class="govuk-radios">
        {% for choice in persontype %}
        <div class="govuk-radios__item">
        {% if choice.persontype == person['peopleType'].name or choice.persontype == req.body.personType %}
          <input class="govuk-radios__input" id={{choice.persontype}} type="radio" name="personType" value={{choice.persontype}} checked>
        {% else %}
          <input class="govuk-radios__input" id={{choice.persontype}} type="radio" name="personType" value={{choice.persontype}}>
        {% endif %}
        <label class="govuk-label govuk-radios__label" for={{choice.persontype}}>{{choice.persontype}}</label>
      </div>
    {% endfor %}
    </fieldset>
  </div>

  <h2 class="govuk-heading-l">{{ __('heading_travel_document_details') }}</h2>
  <p class="govuk-body">{{ __('caption_travel_document_details') }}</p>

  <div class="govuk-form-group {{ m.form_group_class('travelDocumentNumber', errors) }}">
    <label class="govuk-label govuk-label--m" for="travelDocumentNumber">{{ __('field_travel_document_number') }}</label>
    {{ m.error_message('travelDocumentNumber', errors, __) }}
    <input id="travelDocumentNumber" name="travelDocumentNumber" class="govuk-input govuk-input--width-20" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{person.documentNumber or req.body.travelDocumentNumber}}"
      {{ 'aria-describedby=travelDocumentNumber-error' if errors | containsError('travelDocumentNumber') }}>
  </div>

  <div class="{{ m.form_group_class('documentExpiryDate', errors) }}" id="documentExpiryDate">
    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_document_expiry_date') }}</h2>
      </legend>
      <span id="dob-hint" class="govuk-hint">{{ __('field_document_expiry_date_hint') }}{{ futureYear }}.</span>
      {{ m.error_message('documentExpiryDate', errors, __) }}
      <div class="govuk-date-input" id="expiry">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryDay">{{ __('field_date_day') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryDay" name="expiryDay" type="number" pattern="[0-9]*"
            min="01" max="31" value="{{ cookie.dateSlice('day', person.documentExpiryDate) or req.body['expiryDay'] }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryMonth">{{ __('field_date_month') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryMonth" name="expiryMonth" type="number" pattern="[0-9]*"
            min="01" max="12" value="{{ cookie.dateSlice('month', person.documentExpiryDate) or req.body['expiryMonth'] }}">
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryYear">{{ __('field_date_year') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiryYear" name="expiryYear" type="number" pattern="[0-9]*"
            min="1900" max="2200" value="{{ cookie.dateSlice('year', person.documentExpiryDate) or req.body['expiryYear'] }}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="{{ m.form_group_class(issuingState, errors) }}">
    <label class="govuk-label govuk-label--m" for="issuingState">{{ __('field_issuing_state') }}</label>
    {{ m.hint('issuingState', __('field_issuing_state_hint')) }}
    {{ m.error_message(issuingState, errors, __) }}
    <select class="govuk-select" id="issuingState" name="issuingState" value="{{ (person.issuingState or req.body.issuingState)}}">
      {% for country in countryList|sort(attribute='label') %}
        <option value="{{ country.code }}" {{ 'selected=selected' if (person.issuingState or req.body.issuingState) == country.code }}>{{ country.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="{{ m.form_group_class('travelDocumentType', errors) }}">
    <label class="govuk-label govuk-label--m" for="travelDocumentType">{{ __('field_travel_document_type') }}</label>
    {{ m.hint('travelDocumentType', __('field_travel_document_type_hint')) }}
    {{ m.error_message('travelDocumentType', errors, __) }}
    <select class="govuk-select" id="travelDocumentType" name="travelDocumentType">
    {% for document in documenttype %}
      {% if document.documenttype  == person['documentType'] or document.documenttype == req.body.travelDocumentType %}
        <option selected="true">{{document.documenttype}}</option>
      {% else %}
        <option>{{document.documenttype}}</option>
      {% endif %}
    {% endfor %}
    </select>
  </div>

<script type="text/javascript" src="/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#nationality')
  });
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#issuingState')
  });
</script>
