<div class="{{ m.form_group_class('savedpeople', errors) }}">
  <div class="{{ m.form_group_class('firstName', errors) }}">
    <label class="govuk-label govuk-label--m" for="firstName">{{ __('field_given_name') }}</label>
    {{ m.error_message('firstName', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="firstName" name="firstName" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person.firstName or req.body.firstName }}"
      {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
  </div>

  <div class="{{ m.form_group_class('lastName', errors) }}">
    <label class="govuk-label govuk-label--m" for="lastName">{{ __('field_surname') }}</label>
    {{ m.error_message('lastName', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="lastName" name="lastName" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person.lastName or req.body.lastName }}"
      {{ 'aria-describedby=lastName-error' if errors | containsError('lastName') }}>
  </div>

  <div class="{{ m.form_group_class('nationality', errors) }}">
    <label id="nationality-label" class="govuk-label govuk-label--m" for="nationality">{{ __('field_nationality') }}</label>
    {{ m.hint('nationality', __('field_nationality_hint')) }}
    {{ m.error_message('nationality', errors, __) }}
    <select class="govuk-select" id="nationality" name="nationality" value="{{ (person['nationality'] or req.body['nationality'])}}" aria-labelledby="nationality-label" aria-describedby="nationality-hint">
      {% for country in countryList|sort(attribute='label') %}
        <option value="{{ country.code }}" {{ 'selected=selected' if (person['nationality'] or req.body['nationality']) == country.code }}>{{ country.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="{{ m.form_group_class('birthplace', errors) }}">
    <label class="govuk-label govuk-label--m" for="birthplace">{{ __('field_birth_place') }}</label>
    {{ m.error_message('birthplace', errors, __) }}
    <input class="govuk-input govuk-input--width-30" id="birthplace" name="birthplace" autocomplete="off" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{ person['placeOfBirth'] or req.body['birthplace'] }}"
      {{ 'aria-describedby=birthplace-error' if errors | containsError('birthplace') }}>
  </div>

  <!-- Date of birth -->
  <div class="{{ m.form_group_class('dob', errors) }}">
    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h1 class="govuk-fieldset__heading">{{ __('field_dob') }}</h1>
      </legend>
      {{ m.hint('dob', __('field_dob_hint')) }}
      {{ m.error_message('dob', errors, __) }}
      <div class="govuk-date-input" id="dob">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="dobDay">{{ __('field_date_day') }}</label>
            <input id="dobDay" name="dobDay" class="govuk-input govuk-date-input__input govuk-input--width-2" 
            type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'day');autoTab(dobDay, 'day', dobMonth);"
             value="{{cookie.dateSlice('day', person.dateOfBirth) or req.body['dobDay']}}" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="dobMonth">{{ __('field_date_month') }}</label>
            <input id="dobMonth" name="dobMonth" class="govuk-input govuk-date-input__input govuk-input--width-2" 
            type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'month');autoTab(dobMonth, 'month', dobYear);"
            value="{{cookie.dateSlice('month', person.dateOfBirth) or req.body['dobMonth']}}" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label" for="dobYear">{{ __('field_date_year') }}</label>
            <input id="dobYear" name="dobYear" class="govuk-input govuk-date-input__input govuk-input--width-4" type="text" maxLength=4
            onKeyup="value = sanitiseValue(this.value, 'year');" value="{{cookie.dateSlice('year', person.dateOfBirth) or req.body['dobYear']}}">
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <!-- End date of birth -->

  <div class="govuk-form-group {{ m.form_group_class('gender', errors) }}" id="gender">
    <fieldset class="govuk-fieldset"{{ ' aria-describedby=gender-error' if errors | containsError('gender') }}>
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_gender') }}</h2>
      </legend>
      {{ m.error_message('gender', errors, __) }}
      <div class="govuk-radios">
        {% for choice in genderchoice %}
          <div class="govuk-radios__item">
            <input id={{choice.gender}} name="gender" class="govuk-radios__input" type="radio"
              value={{choice.gender}}
              aria-labelledby="gender-label-{{ loop.index }}"
              {{ 'checked' if choice.gender == person.gender or choice.gender == req.body.gender }}>
            <label id="gender-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for={{choice.gender}}>{{choice.gender}}</label>
          </div>
        {% endfor %}
      </div>
    </fieldset>
  </div>

  <div class="{{ m.form_group_class('personType', errors) }}" id="personType">
    <fieldset class="govuk-fieldset" aria-describedby="personType-hint{{ ' personType-error' if errors | containsError('personType' )}}">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_person_type') }}</h2>
      </legend>
      {{ m.hint('personType', __('field_person_type_hint')) }}
      {{ m.error_message('personType', errors, __) }}
      <div class="govuk-radios">
        {% for choice in persontype %}
          <div class="govuk-radios__item">
            <input id="{{choice.persontype}}" name="personType" class="govuk-radios__input" type="radio"
              value={{choice.persontype}}
              aria-labelledby="personType-label-{{ loop.index }}"
              {{ 'checked' if choice.persontype == person['peopleType'].name or choice.persontype == req.body.personType }}>
            <label id="personType-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for={{choice.persontype}}>{{choice.persontype}}</label>
          </div>
      {% endfor %}
      </div>
    </fieldset>
  </div>

  <h2 class="govuk-heading-l">{{ __('heading_travel_document_details') }}</h2>
  <p class="govuk-body">{{ __('caption_travel_document_details') }}</p>

  <div class="govuk-form-group {{ m.form_group_class('travelDocumentNumber', errors) }}">
    <label class="govuk-label govuk-label--m" for="travelDocumentNumber">{{ __('field_travel_document_number') }}</label>
    {{ m.error_message('travelDocumentNumber', errors, __) }}
    <input id="travelDocumentNumber" name="travelDocumentNumber" class="govuk-input govuk-input--width-20" type="text"
      maxlength="{{ MAX_STRING_LENGTH }}" value="{{person.documentNumber or req.body.travelDocumentNumber}}"
      {{ 'aria-describedby=travelDocumentNumber-error' if errors | containsError('travelDocumentNumber') }}>
  </div>

  <div class="{{ m.form_group_class('documentExpiryDate', errors) }}" id="documentExpiryDate">
    <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
        <h2 class="govuk-fieldset__heading">{{ __('field_document_expiry_date') }}</h2>
      </legend>
      <span id="dob-hint" class="govuk-hint">{{ __('field_document_expiry_date_hint') }}{{ futureYear }}.</span>
      {{ m.error_message('documentExpiryDate', errors, __) }}
      <div class="govuk-date-input" id="expiry">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryDay">{{ __('field_date_day') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryDay" name="expiryDay" 
            type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'day');autoTab(expiryDay, 'day', expiryMonth);"
            value="{{ cookie.dateSlice('day', person.documentExpiryDate) or req.body['expiryDay'] }}" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryMonth">{{ __('field_date_month') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryMonth" name="expiryMonth" 
            type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'month');autoTab(expiryMonth, 'month', expiryYear);"
            value="{{ cookie.dateSlice('month', person.documentExpiryDate) or req.body['expiryMonth'] }}" >
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="expiryYear">{{ __('field_date_year') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiryYear" name="expiryYear" type="text" maxLength=4
            value="{{ cookie.dateSlice('year', person.documentExpiryDate) or req.body['expiryYear'] }}" onKeyup="value = sanitiseValue(this.value, 'year');">
          </div>
        </div>
      </div>
    </fieldset>
  </div>

  <div class="{{ m.form_group_class(issuingState, errors) }}">
    <label id="issuingState-label" class="govuk-label govuk-label--m" for="issuingState">{{ __('field_issuing_state') }}</label>
    {{ m.hint('issuingState', __('field_issuing_state_hint')) }}
    {{ m.error_message(issuingState, errors, __) }}
    <select class="govuk-select" id="issuingState" name="issuingState" value="{{ (person.issuingState or req.body.issuingState)}}"  aria-labelledby="issuingState-label"  aria-describedby="issuingState-hint">
      {% for country in countryList|sort(attribute='label') %}
        <option value="{{ country.code }}" {{ 'selected=selected' if (person.issuingState or req.body.issuingState) == country.code }}>{{ country.label }}</option>
      {% endfor %}
    </select>
  </div>

  <div class="{{ m.form_group_class('travelDocumentType', errors) }}">
    <label class="govuk-label govuk-label--m" for="travelDocumentType">{{ __('field_travel_document_type') }}</label>
    {{ m.hint('travelDocumentType', __('field_travel_document_type_hint')) }} <p class="govuk-body-l"> <span style="background-color: #66ff66"> {{__('id_card_withdrawl_text_part')}} <a href=https://www.gov.uk/guidance/visiting-the-uk-as-an-eu-eea-or-swiss-citizen>GOV.UK</a>. </span> </p>
    {{ m.error_message('travelDocumentType', errors, __) }}
    <select class="govuk-select" id="travelDocumentType" name="travelDocumentType" onchange="checkDocumentType()">
    {% for document in documenttype %}
      {% if document.documenttype  == person['documentType'] or document.documenttype == req.body.travelDocumentType %}
        <option selected="true">{{document.documenttype}}</option>
      {% else %}
        <option>{{document.documenttype}}</option>
      {% endif %}
    {% endfor %}
    </select>
  </div>

    {% if person.documentType  === 'Other' %}
      <div class="{{ m.form_group_class('travelDocumentOther', errors) }}" id="travelDocumentOtherDiv" >
      {{ m.hint('travelDocumentOther', __('field_travel_document_type_other')) }}</label>
      <input id="travelDocumentOther" name="travelDocumentOther" class="govuk-input govuk-input--width-20" type="text"
      maxlength="{{ MAX_STRING_LENGTH - 10 }}" value="{{ person.documentDesc or req.body.documentDesc }}">
      </div>
    {% else %} 
      <div class="{{ m.form_group_class('travelDocumentOther', errors) }}" id="travelDocumentOtherDiv" hidden>
      {{ m.hint('travelDocumentOther', __('field_travel_document_type_other')) }}</label>
      <input id="travelDocumentOther" name="travelDocumentOther" class="govuk-input govuk-input--width-20" type="text"
      maxlength="{{ MAX_STRING_LENGTH - 10 }}" value="{{ person.documentDesc or req.body.documentDesc }}">
      </div>
    {% endif %}

  

<script type="text/javascript" src="/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript" src="/utils/validator.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#nationality')
  });
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#issuingState')
  });

  function checkDocumentType(){
    if (document.getElementById('travelDocumentType').value == 'Other'){
      document.getElementById('travelDocumentOtherDiv').style.display = 'block';
    }
    else{
      document.getElementById('travelDocumentOtherDiv').style.display = 'none';
    }
    
  }
</script>
