{% from "dist/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}

{{ govukPhaseBanner({
  tag: {
    text: "Beta"
  },
  "html": "This is a new service – <a class=\"govuk-link\" href=\"mailto:{{ __('support_email') }}?subject=sGAR FEEDBACK\">your feedback</a> will help us to improve it."
}) }}
