<div class="govuk-grid-row">
	<div class="govuk-column-full">
	 	<div class="govuk-notification-banner govuk-notification-banner--success" role="alert" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" tabindex="-1">
			 <div class="govuk-notification-banner__header">
			 <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
				{{successHeader}}
			</h2>
			</div>
			<div class="govuk-notification-banner__content">
    		<p class="govuk-notification-banner__heading">
        	<strong>{{successMsg}}</strong>
			</p>
			</div>
	    </div>
	</div>
</div>



