<div class="govuk-grid-row">
	<div class="govuk-column-full">
	 	<div class="success-summary" role="alert" aria-labelledby="success-summary-heading" tabindex="-1">
			<h2 class="heading-medium success-summary-heading" id="success-summary-heading">
				{{successHeader}}
			</h2>
        <strong><h2 id="success-text" class="heading-medium">{{successMsg}}</h2></strong>
	    </div>
	</div>
</div>
