{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} GAR | Save Person Details
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/people">{{ __('title_people') }}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">{{__('title_add_person')}}</li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <form action="/people/add" autocomplete="off" class="form-group" method="post" role="form">
      <h1 class="govuk-heading-xl">{{__('title_add_person')}}</h1>

      <p class="govuk-body-l">{{__('people_add_caption')}}</p>

      {% include "person-details.njk" %}

      <div class="govuk-form-group">
        <input id="add-and-exit" class="govuk-button" type="submit"
          name="buttonClicked"
          value="{{__('form_add_and_exit')}}"
          onclick="sendAnalytics(event, 'Saved People Add - Save', 'click')">
        <p class="govuk-body-m">
          <a class="govuk-button govuk-button--secondary" href="/people" onclick="sendAnalytics(event, 'Saved People Add - Cancel', 'click')">{{__('form_exit_without_adding')}}</a>
        </p>
      </div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</div>
{% endblock %}
