{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} Create GAR | Passenger Confirmation
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/stylesheets/amg.css"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{__('confirmation_count', 2, 2)}}</span>
      <h1 class="govuk-heading-xl">{{__('title_amg_departure_status')}}</h1>
      <p class="govuk-body-l">{{__('amg_departure_status_caption')}}</p>

      <div id="pane">
        {% include "app/garfile/amg/departurestatus/pane.njk" %}
      </div>
    </div>
  </div>
  <script>
    $(function () {
      setInterval(function () {
        $('#pane').load('/garfile/amg/departurestatus?template=pane');
      }, 5000);
    })
  </script>

  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-warning-text__assistive">{{__('assistive_warning')}}</span>{{__('amg_departure_status_warning')}}
    </strong>
  </div>

{% endblock content %}