<table>
<tr>
  <th>Person</th>
  <th>Status</th>
</tr>
  {% for person in garpeople.items %}
  <tr>
    <td>{{person.firstName}} {{person.lastName}}</td>
    <td>
        <div style="display: inline-block; width: 1em; height: 1em; background-color:red; border-radius: 50%;"></div>
      </td>
  </tr>
  {% endfor %}
</table>