{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Create GAR | Add person
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/manifest" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}
  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{__('section_count', 4, 8)}}</span>

      <h1 class="govuk-heading-xl">{{__('heading_manifest_edit_person_details')}}</h1>{# Person details #}
      <p class="govuk-body-l"><span style="background-color: #66ff66>{{__('id_card_withdrawl_text')}}</span></p>
      
      <p class="govuk-body-m">{{__('caption_manifest_person_details')}}</p>

      <form action="/garfile/manifest/editperson" autocomplete="off" class="form-group" method="post" role="form" >
        <input type="hidden" id="garPeopleId" name="garPeopleId" value="{{person.garPeopleId}}" />
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        {% include "person-details.njk" %}
        <br>
        <input id="add-person-manifest" class="govuk-button" type="submit" value="{{__('form_save_and_add_to_gar')}}" onclick="sendAnalytics(event, 'GAR Manifest Edit Person - Save', 'click')">
        <p class="govuk-body-m">
          <a href="/garfile/manifest" class="govuk-button govuk-button--secondary" onclick="sendAnalytics(event, 'GAR Manifest Edit Person - Cancel', 'click')">{{ __('form_exit_without_saving') }}</a>
        </p>
      </form>
    </div>
  </div>
</div>
{% endblock %}
