{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Error - Login
{% endblock %}



{% block content %}
  {% include "common/templates/includes/errors.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with your account</h1>
      <p class="govuk-body"> <a href="mailto:{{__('support_email')}}" class="govuk-link">Contact the support hub</a> to speak to someone about your account.</p>
    </div>
</div>
{% endblock %}
