{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Error - Login
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with your account</h1>
      <p class="govuk-body">You can email the Submit a GAR technical support team at <a href="mailto:garsupport@homeoffice.gov.uk">garsupport@homeoffice.gov.uk</a> for help with your account.</p>
    </div>
</div>
{% endblock %}
