{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Error - One Login service
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}


{% block content %}{% include "common/templates/includes/errors.njk" %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>
      <p class="govuk-body">Try again later.</p>
    </div>
  </div>
</div>
{% endblock %}
