{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Save Person Details
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
      <form action="/user/savedpeople/add" autocomplete="false" class="form-group" method="post" role="form">
      <h1 class="govuk-heading-xl">
        Save a Person
      </h1>

      <p class="govuk-body-l">Please enter the following information. This information can be re-used when submitting a GAR.</p>

        <div class="govuk-form-group {{ m.form_group_class('savedpeople', errors) }}">
          <div class="govuk-form-group {{ m.form_group_class('first-name', errors) }}">
            <label class="govuk-label govuk-label--m" for="first-name">Given Name(s)</label>
            {{ m.error_message('first-name', errors) }}
            <input class="govuk-input" id="first-name" name="first-name" autocomplete="false" type="text" value="{{req.body['first-name']}}" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('last-name', errors) }}">
            <label class="govuk-label govuk-label--m" for="last-name">Surname</label>
            {{ m.error_message('last-name', errors) }}
            <input class="govuk-input" id="last-name" name="last-name" autocomplete="false" type="text" value="{{ req.body['last-name'] }}" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('nationality', errors) }}">
            <label class="govuk-label govuk-label--m" for="nationality">Nationality</label>
            {{ m.error_message('nationality', errors) }}
            <input class="govuk-input" id="nationality" name="nationality" autocomplete="false" type="text" maxlength="3" value="{{ req.body['nationality'] }}" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('birthplace', errors) }}">
            <a name="birthplace"></a>
            <label class="govuk-label govuk-label--m" for="birthplace">Place of Birth</label>
            {{ m.error_message('birthplace', errors) }}
            <input class="govuk-input" id="birthplace" name="birthplace" autocomplete="false" type="text" value="{{ req.body['birthplace'] }}" />
          </div>

          <!–– Date of birth -->

               <div class="govuk-form-group {{ m.form_group_class('dob', errors) }}" id="dob">
                   <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
                   <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                       <h2 class="govuk-fieldset__heading">
                       Date of birth
                       </h2>
                   </legend>
                   <span class="govuk-hint">
                       For example, 20 12 1988
                   </span>
                   {{ m.error_message('dob', errors) }}

                   <div class="govuk-date-input" id="dob">
                       <div class="govuk-date-input__item">
                       <div class="govuk-form-group">
                           <label class="govuk-label govuk-date-input__label" for="dobDay">
                           Day
                           </label>
                           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobDay" name="dobDay" type="number" pattern="[0-9]*" value="{{req.body.dobDay}}">

                       </div>
                       </div>
                       <div class="govuk-date-input__item">
                       <div class="form-group">
                           <label class="govuk-label govuk-date-input__label" for="dobMonth">
                           Month
                           </label>
                           <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="dobMonth" name="dobMonth" type="number" pattern="[0-9]*" value="{{req.body.dobMonth}}">
                       </div>
                       </div>
                       <div class="govuk-date-input__item">
                       <div class="form-group">
                           <label class="govuk-label govuk-date-input__label" for="dobYear">
                           Year
                           </label>
                           <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="dobYear" name="dobYear" type="number" pattern="[0-9]*" value="{{req.body.dobYear}}">
                       </div>
                       </div>
                   </div>
                   </fieldset>
               </div>
               <!-- End date of birth -->

          <div class="govuk-form-group {{ m.form_group_class('gender', errors) }}" id="gender">
            {{ m.error_message('gender', errors) }}
              <fieldset class="govuk-fieldset">
                <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                  <h2 class="govuk-fieldset__heading">Gender</h2>
                </legend>
                <div class="govuk-radios">
                {% for choice in genderchoice %}
                <div class="govuk-radios__item">
                {% if choice.gender  == req.body.gender %}
                  <input class="govuk-radios__input" id={{choice.gender}} type="radio" name="gender" value={{choice.gender}} checked>
                {% else %}
                  <input class="govuk-radios__input" id={{choice.gender}} type="radio" name="gender" value={{choice.gender}}>
                {% endif %}
                  <label class="govuk-label govuk-radios__label" for={{choice.gender}}>{{choice.gender}}</label>
                </div>
              {% endfor %}
              </div>
            </fieldset>
          </div>

        <div class="govuk-form-group {{ m.form_group_class('person-type', errors) }}" id="person-type">
            {{ m.error_message('person-type', errors) }}
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Person Type</h2>
              </legend>
              <div class="govuk-radios">
              {% for person in persontype %}
              <div class="govuk-radios__item">
              {% if person.persontype == req.body['person-type'] %}
                <input class="govuk-radios__input" id={{person.persontype}} type="radio" name="person-type" value={{person.persontype}} checked>
              {% else %}
                <input class="govuk-radios__input" id={{person.persontype}} type="radio" name="person-type" value={{person.persontype}}>
              {% endif %}
              <label class="govuk-label govuk-radios__label" for={{person.persontype}}>{{person.persontype}}</label>
              </div>
            {% endfor %}
            </div>
            </fieldset>
          </div>

        <div class="govuk-form-group {{ m.form_group_class('travel-document-number', errors) }}">
          <label class="govuk-label govuk-label--m" for="travel-document-number">Travel Document Number</label>
          {{ m.error_message('travel-document-number', errors) }}
          <input class="govuk-input" id="travel-document-number" name="travel-document-number" type="text" value="" />
        </div>

          <div class="govuk-form-group {{ m.form_group_class('documentExpiryDate', errors) }}" id="documentExpiryDate">
            <fieldset class="govuk-fieldset" aria-describedby="dob-hint" role="group">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">
                  What is the Document expiry date?
                </h2>
              </legend>
              <span id="dob-hint" class="govuk-hint">
                For example, 22 5 2021
              </span>
              {{ m.error_message('documentExpiryDate', errors) }}
              <div class="govuk-date-input" id="expiry">
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryDay">
                      Day
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryDay" name="expiryDay" type="number" pattern="[0-9]*" value="{{req.body.expiryDay}}">

                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryMonth">
                      Month
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="expiryMonth" name="expiryMonth" type="number" pattern="[0-9]*" value="{{req.body.expiryMonth}}">
                  </div>
                </div>
                <div class="govuk-date-input__item">
                  <div class="govuk-form-group">
                    <label class="govuk-label govuk-date-input__label" for="expiryYear">
                      Year
                    </label>
                    <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="expiryYear" name="expiryYear" type="number" pattern="[0-9]*" value="{{req.body.expiryYear}}">
                  </div>
                </div>
              </div>
            </fieldset>
          </div>

        <div class="govuk-form-group {{ m.form_group_class('issuing-state', errors) }}">
          <label class="govuk-label govuk-label--m" for="issuing-state">Issuing State</label>
          {{ m.error_message('issuing-state', errors) }}
          <input class="govuk-input" id="issuing-state" maxlength="3" name="issuing-state" autocomplete="false" type="text" value="" />
        </div>

          <div class="govuk-form-group {{ m.form_group_class('travel-document-type', errors) }}">
            <label class="govuk-label govuk-label--m" for="travel-document-type">Travel Document Type</label>
            <span class="govuk-hint">
                  This should be one of either: Passport, Identity Card or Other
              </span>
            {{ m.error_message('travel-document-type', errors) }}
              <select class="govuk-select" id="travel-document-type" name="travel-document-type">
              {% for document in documenttype %}
                {% if document.documenttype  == req.body['travel-document-type'] %}
                        <option selected="true">{{document.documenttype}}</option>
                {% else %}
                        <option>{{document.documenttype}}</option>
                {% endif %}
              {% endfor %}
              </select>
          </div>

        </div>
        <div class="govuk-form-group">
          <table class="govuk-table">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a class="govuk-button" href="/user/details">Exit Without Saving</a></td>
              <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and Exit" onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
            </tr>
          </table>
        </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
    </div>
</main>
{% endblock %}
