{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{ __('error_prefix') if errors }} GAR | Edit organisation users
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/organisation" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/organisation/users/edit" autocomplete="off" class="form-group" method="post" role="form">

      <h1 class="govuk-heading-xl">{{__('title_edit_organisation_user')}}</h1>
      <p class="govuk-body-l">{{__('edit_organisation_user_caption')}}</p>

      <div class="{{ m.form_group_class('firstName', errors) }}">
        <label class="govuk-label govuk-label--m" for="firstName">{{__('field_given_name')}}</label>
        {{ m.error_message('firstName', errors, __) }}
        <input id="firstName" name="firstName" class="govuk-input" type="text"
          value="{{orgUser.firstName}}" {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
      </div>

      <div class="{{ m.form_group_class('lastName', errors) }}">
        <label class="govuk-label govuk-label--m" for="lastName">{{__('field_surname')}}</label>
        {{ m.error_message('lastName', errors, __) }}
        <input id="lastName" name="lastName" class="govuk-input" type="text" maxlength="{{ MAX_STRING_LENGTH }}"
          value="{{orgUser.lastName}}" {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
      </div>

      <div class="{{ m.form_group_class('role', errors) }}">
        <fieldset class="govuk-fieldset" aria-describedby="role-hint{{ ' role-error' if errors | containsError('role') }}">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">{{__('title_assign_role')}}</h1>
            <span id="role-hint" class="govuk-hint">{{__('assign_role_caption')}}</span>
          </legend>
          {{ m.error_message('role', errors, __) }}
          <div class="govuk-radios">
            {% for role in roles %}
              <div class="govuk-radios__item">
                <input id="option-{{role.id}}" name="role" class="govuk-radios__input" type="radio"
                  value="{{role.name}}"
                  aria-labelledby="option-{{role.id}}-label" aria-describedby="option-{{role.id}}-hint" 
                  {{ 'checked' if role.name == orgUser.role}}>
                <label id="option-{{role.id}}-label" class="govuk-label govuk-radios__label" for="option-{{role.id}}">{{role.name}}</label>
                <span id="option-{{role.id}}-hint" class="govuk-hint govuk-radios__hint">{{role.description}}</span>
              </div>
            {% endfor %}
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group">
        <button id="save-and-exit" class="govuk-button" type="submit"
          onclick="sendAnalytics(event, 'Edit Organisation User - Save and exit', 'click')">
          {{__('form_save_and_exit')}}
        </button>
        <p class="govuk-body-m">
          <a id="exit-without-saving" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
            href="/organisation#"
            onclick="sendAnalytics(event, 'Edit Organisation User - Exit without saving', 'click')">
            {{__('form_exit_without_saving')}}
          </a>
        </p>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</div>
{% endblock %}
