{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit Organisation Users
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}


  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

    <form action="/organisation/users/edit" autocomplete="off" class="form-group"
      method="post" role="form">

      <h1 class="govuk-heading-xl">Edit an organisation user</h1>
      <p class="govuk-body-l">Edit the user's details</p>

      <div class="govuk-form-group {{ m.form_group_class('firstName', errors) }}">
        <label class="govuk-label govuk-label--m" for="firstName">Given name</label>
          {{ m.error_message('firstName', errors) }}
        <span class="govuk-hint">
            Given Name
        </span>
        <span class="field-validation-valid error-message" data-valmsg-for="firstName"
          data-valmsg-replace="true" style="display:block">
        </span>
        <input class="govuk-input" id="firstName" name="firstName"  type="text" value="{{orgUser.firstName}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('lastName', errors) }}">
        <label class="govuk-label govuk-label--m" for="lastName">Surname</label>
          {{ m.error_message('lastName', errors) }}
        <span class="govuk-hint">
          Surname
        </span>
        <span class="field-validation-valid error-message" data-valmsg-for="lastName"
          data-valmsg-replace="true" style="display:block">
        </span>
        <input class="govuk-input" id="lastName" name="lastName"  type="text" value="{{orgUser.lastName}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('role', errors) }}">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">Invite a user</h1>
            <span id="customs-hint" class="govuk-hint">Select the user's role</span>
          </legend>
        {{ m.error_message('role', errors) }}
          <div class="govuk-radios">
          {% for role in roles %}
            <div class="govuk-radios__item">
            {% if role.name == orgUser.role.name %}
              <input class="govuk-radios__input" id="option-{{role.id}}" type="radio" name="role" value="{{role.name}}" checked>
            {% else %}
              <input class="govuk-radios__input" id="option-{{role.id}}" type="radio" name="role" value="{{role.name}}">
            {% endif %}
            <label class="govuk-label govuk-radios__label" for="option-{{role.id}}">{{role.name}}</label>
            </div>
          {% endfor %}

      </div>

      <div class="form-group">
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a class="govuk-button" href="/organisation">Exit without saving</a></td>
            <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and exit"
            onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
          </tr>
        </table>
      </div>

      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>

</main>
{% endblock %}
