{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{ __('error_prefix') if errors }} GAR | Edit organisation users
{% endblock %}

{% set active = '/organisation' %}

{% block beforeContent %}
  
  <a href="/organisation" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  {% include "common/templates/includes/errors.njk" %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form action="/organisation/users/edit" autocomplete="off" class="form-group" method="post" role="form">

      <h1 class="govuk-heading-xl">{{__('title_edit_organisation_user')}}</h1>
      <p class="govuk-body-l">{{__('edit_organisation_user_caption')}}</p>

      <div class="{{ m.form_group_class('firstName', errors) }}">
        <label class="govuk-label govuk-label--m" for="firstName">{{__('field_given_name')}}</label>
        {{ m.error_message('firstName', errors, __) }}
        <input id="firstName" name="firstName" class="govuk-input" type="text"
          value="{{orgUser.firstName}}" {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
      </div>

      <div class="{{ m.form_group_class('lastName', errors) }}">
        <label class="govuk-label govuk-label--m" for="lastName">{{__('field_surname')}}</label>
        {{ m.error_message('lastName', errors, __) }}
        <input id="lastName" name="lastName" class="govuk-input" type="text" maxlength="{{ MAX_STRING_LENGTH }}"
          value="{{orgUser.lastName}}" {{ 'aria-describedby=firstName-error' if errors | containsError('firstName') }}>
      </div>

{% set roleItems = [] %}

{% for role in roles %}
  {% set item = {
    value: role.name,
    text: role.name,
    hint: {
      text: role.description
    },
    checked: orgUser.role == role.name
  } %}
  {% set roleItems = roleItems.concat(item) %}
{% endfor %}

{{ govukRadios({
  idPrefix: "role",
  name: "role",
  fieldset: {
    legend: {
      text: __("title_assign_role"),
      classes: "govuk-fieldset__legend--m"
    }
  },
  classes: m.form_group_class('role', errors),
  hint: {
    text: __("assign_role_caption")
  },
  errorMessage: errors | filterArray('identifier', 'role') | first | transform({'message': 'text'}),
  items: roleItems
}) }}
      <div class="govuk-form-group">
        <button id="save-and-exit" class="govuk-button" type="submit"
          onclick="sendAnalytics(event, 'Edit Organisation User - Save and exit', 'click')">
          {{__('form_save_and_exit')}}
        </button>
        <p class="govuk-body-m">
          <a id="exit-without-saving" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
            href="/organisation#"
            onclick="sendAnalytics(event, 'Edit Organisation User - Exit without saving', 'click')">
            {{__('form_exit_without_saving')}}
          </a>
        </p>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</div>
{% endblock %}
