{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} Create GAR | Passenger Check
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/stylesheets/amg.css"/>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{__('section_count', 9, 9)}}</span>
      <h1 class="govuk-heading-xl">{{__('title_submit_gar_amg')}}</h1>
      <p class="govuk-body-m">{{__('amg_check_caption')}}</p>

      <div class="custom-govuk-notification-banner" role="region"
        aria-labelledby="govuk-notification-banner-title"
        data-module="custom-govuk-notification-banner">
        <div class="govuk-notification-banner__header">
            <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
            Important
            </h2>
        </div>
        <div class="govuk-notification-banner__content">
            <p class="govuk-notification-banner__heading">
              {{__('amg_check_warning')}}
            </p>
        </div>
      </div>
      <div>
        <p>You must show that all passengers are travelling with a valid passport and travel document.</p>
      </div>
      <div id="pane">
        {% include "app/garfile/amg/checkin/pane.njk" %}
      </div>
    </div>
  </div>

  <script nonce="{{ CSP_NONCE }}">
   $(function () {
      window.myinterval = setInterval(function () {
        const permissionDetails = () => Array.from(document.getElementsByClassName('permission-details'));
        const permissionDetailsState = permissionDetails().map(el => el.open);
        
        $.get('/garfile/amg/checkin?template=pane', null, function (data) {
          const html = $(data);
          if (!html.find('#spinner').length) {
            clearInterval(window.myinterval);
          }

          $('#pane').html($(data));

          permissionDetails().forEach((el, index) => {
            
            el.toggleAttribute("open", permissionDetailsState[index])
          })
        });

      }, 3000);
    })
  </script>
{% endblock content %}