{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/banners.njk" as banner %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} Create GAR | Passenger Check
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  <link rel="stylesheet" href="/stylesheets/amg.css"/> 
  <div class="govuk-grid-row" id="checkinpage">
     <div id="top-notification-banner"></div> 

      <span class="govuk-caption-xl">{{__('section_count', 9, 9)}}</span>
      <h1 class="govuk-heading-xl">{{__('title_submit_gar_amg')}}</h1>
     
      <div>
       <p class="govuk-body">Passenger details have been sent for permission to travel checks.</p>
       <p class="govuk-body">{{__('guidance') | safe}}</p>
      </div>
      <div id="pane">
        {% include "app/garfile/amg/checkin/pane.njk" %}
      </div>
    </div>
  </div>
  <input type="hidden" value="{{resubmitted}}" id='resubmitted' />
  <form id="reSubmitGarForm" action="/garfile/review" method="post">
    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
    <input type="hidden" name="resubmitFor0T" value="resubmit0T" />
    <input type="hidden" name="resubmitFor0TLink" id="resubmitFor0TLink" value="no" />
  </form>

  <script>
   $(function () {
      window.myinterval = setInterval(function () {
        const permissionDetails = () => Array.from(document.getElementsByClassName('permission-details'));
        const permissionDetailsState = permissionDetails().map(el => el.open);
        
        $.get('/garfile/amg/checkin?template=pane', null, function (data) {
          const html = $(data);
           
          if (!html.find('#spinner').length) {
            clearInterval(window.myinterval);
          }

          $('#pane').html($(data));
          $('#banner0T-content').appendTo('#top-notification-banner');
          $('#banner0T').empty();
        
          permissionDetails().forEach((el, index) => {
            
            el.toggleAttribute("open", permissionDetailsState[index])
          })
        });
        
      }, 3000);

     
    });


</script>
<script type="text/javascript" src="/javascripts/resubmitGar.js"></script>
{% endblock content %}