{% macro status(data) %}

{% if (data == 'Complete') %}
{% set statuscolour = 'green' %}
{% set statustitle = 'This passenger has permission to travel' %}
{% set statustext = 'Permission' %}
{% elif (data == 'Pending') %}
{% set statuscolour = 'amber' %}
{% set statustitle = 'This passenger is still waiting for permission to travel' %}
{% set statustext = 'Pending' %}
{% else %}
{% set statuscolour = 'red' %}
{% set statustitle = 'There was a problem requesting permission to travel for this passenger' %}
{% set statustext = 'Error' %}
{% endif %}
<div>
  <div class="status-disc {{statuscolour}}" title="{{statustitle}}"></div>
  <small>{{statustext}}</small>
</div>
{% endmacro %}

<table class="govuk-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header">Person</th>
      <th class="govuk-table__header">Status</th>
    </tr>
  </thead>
  {% for person in garpeople.items %}
  <pre>{{person | dump(2)}}</pre>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">{{person.firstName}} {{person.lastName}}</td>
    <td class="govuk-table__cell">
      {{status(person.amg_checkin_status.name)}}
    </td>
  </tr>
  {% endfor %}
</table>