{% macro statusRow(person) %}

  {% set status = person.amgCheckinStatus.name %}
  {% set checkin_code = person.amgCheckinResponseCode %}

  {% if (status === 'Complete') %}
    {% if (checkin_code === travelPermissionCodes.VALID) %}
      {% set statuscolour = 'green' %}
    {% elif(checkin_code === travelPermissionCodes.NO_BOARD) %}
      {% set statuscolour = 'red' %}
      {% set statustitle = 'This passenger may not travel' %}
    {% else %}
      {% set statuscolour = 'blue' %}
    {% endif %}

    {% set statustitle = __('amg_status_check_response_code_' + checkin_code) if checkin_code else '' %}

  {% elif(status === 'Pending') %}
    {% set statuscolour = 'amber' %}
    {% set statustitle = 'Permission to travel pending' %}
  {% else %}
    {% set statuscolour = 'black' %}
    {% set statustitle = 'There was a problem requesting permission to travel for this passenger' %}
  {% endif %}

  {% if person.amgCheckinResponseCode === '0B'%}
    {% set statusColor = 'no-reocord'%}
  {% elif person.amgCheckinResponseCode === '0A'%}
    {% set statusColor = 'valid-permission-to-travel'%}
  {% elif person.amgCheckinResponseCode === '0Z'%}
    {% set statusColor = 'authority-to-carry-granted'%}
  {% endif %}

  {% set statustitle = statustitle %}

  <tr class="govuk-table__row">
    <td class="govuk-table__cell">
      <div>
        <div class="{{statusColor}} status-text"  title="{{statustitle}}">{{statustitle}}</div>
      </div>
    </td>
    <td class="govuk-table__cell">{{person.firstName}}
      {{person.lastName}}</td>
    <td class="govuk-table__cell">
        <div>
            {% if checkin_code === travelPermissionCodes.NO_BOARD %} 
              Pilots, operators and agents will receive a NO BOARD response via a call and email when Authority to Carry (ATC) has been refused.
            {% elif(checkin_code === travelPermissionCodes.VALID) %}
              <p class="govuk-body">
                No action required.
              </p>
            {% else %}
            <p class="govuk-body">
              You must check if this individual has a valid passport or travel document.
            </p>
            {% endif %}
        </div>
    </td>
  </tr>

{% endmacro %}

{# <pre>{{garfile | dump(2)}}</pre> #}
<table class="govuk-table" id="upt-responses" style="table-layout: fixed;">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th class="govuk-table__header" style="width:35%;">Status</th>
      <th class="govuk-table__header" style="width:40%;">Passenger</th>
      <th class="govuk-table__header" style="width:35%;">What you need to do</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    {% if statusCheckComplete %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"></td>
        <td class="govuk-table__cell" colspan="2" style="opacity:.5;">This process is now complete.</td>
      </tr>
    {% else %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">
          <div id="spinner" title="loading..." class="status-disc spinner"></div>
        </td>
        <td class="govuk-table__cell" colspan="2" style="opacity:.5;">Awaiting Permission to Travel responses...</td>
      </tr>
    {% endif %}

    {% for person in garpeople.items %}
      {# <pre>{{person | dump(2)}}</pre> #}
      {{statusRow(person)}}
    {% endfor %}
  </tbody>
</table>
<div class="margin-bottom-40">
<p>
  You must check if this individual has a valid passport or travel document. </p>
  <p> You must also check for a valid immigration or exemption document. <a href="https://www.gov.uk/government/publications/uk-visa-requirements-list-for-carriers/uk-visa-requirements-for-international-carriers">Check UK visa requirements.</a></p>
  <p>You should conduct a manual check for an immigration permission by: 
<ul>
<li><p>Checking for a valid physical immigration document (such as a visa vignette or stamp etc.)</p></li>
</ul>
<p>Or</p>
<ul>
<li>
  <p>By using a sharecode which the individual can request from their UKVI account.
  <a href="https://www.gov.uk/check-immigration-status">Access the UKVI service.</a>
  <p>
</li></ul>
</p>
 <p>If the individual has no exemption or proof of physical or digital permission, you may contact the Home Office for advice by calling the Border Force Carrier Support Hub 0300 369 0610 or +44 204 619 6020 from outside the UK.</p>
           
</div>
<form action="/garfile/review" method="post">
  <h2 class="govuk-heading-m">Declaration</h2>
  <p class="govuk-body-m">{{__('submit_gar_caption')}}</p>
  <input id='review-submit' type="submit" class="govuk-button" value="{{__('amg_check_form_submit')}}">
  <input type="hidden" name="statuscheck" value="true"/>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
</form>

<form id="cancel-form" action="/garfile/view" method="post" role="form">
  <button type="submit" id="review-exit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
    {{__('review_gar_exit')}}
  </button>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
</form>