{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/pagination.njk" as pagination %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | Aircraft
{% endblock %}

{% block header %}
  {% include "common/templates/includes/header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/arrival" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

	{% if errors %}
		{% include "common/templates/includes/errors.njk" %}
	{% endif %}

  <form id="page-form" action="/garfile/craft" autocomplete="off" class="form-group" method="post" role="form">
    <div class="govuk-grid-column-two-thirds">
			<span class="govuk-caption-xl">{{__('section_count', 3, 8)}}</span>
			<h1 class="govuk-heading-xl">{{__('heading_aircraft_details')}}</h1>

			<h2 id="saved_aircraft" class="govuk-heading-l">{{__('title_aircraft')}}</h2>
			<p class="govuk-body-l">{{__('caption_aircraft_details')}}</p>
    </div>
    <div class="govuk-grid-column-full">
      <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" style="width: 5%;">&nbsp;</th>
          <th class="govuk-table__header">{{__('field_aircraft_registration')}}</th>
          <th class="govuk-table__header">{{__('field_aircraft_type')}}</th>
          <th class="govuk-table__header">{{__('field_aircraft_base')}}</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if cookie.getSavedCraft().items | length %}
          {% for craft in cookie.getSavedCraft().items %}
            <tr class="govuk-table__row">
              <div class="govuk-radios">
              <td class="govuk-table__cell">
                <div class="govuk-radios govuk-radios--inline">
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="aircraft_{{ loop.index }}" name="addCraft" type="radio" value="{{craft.craftId}}">
                    <label class="govuk-label govuk-radios__label" for="aircraft_{{ loop.index }}"></label>
                  </div>
                </div>
              </td>
              <td class="govuk-table__cell">{{ craft.registration }}</td>
              <td class="govuk-table__cell">{{ craft.craftType }}</td>
              <td class="govuk-table__cell">{{ craft.craftBase }}</td>
            </tr>
          {% endfor %}
        {% else %}
          {{ m.empty_table_message(__('aircraft_no_records')) }}
        {% endif %}
        </tbody>
      </table>
      {% if cookie.getSavedCraft().items | length %}
        {{ pagination.build('page-form', pages, __)}}
      {% endif %}
    </div>
    <div class="govuk-grid-column-two-thirds">
      {% if cookie.getSavedCraft().items | length %}
        <div class="govuk-form-group">
          <input id="saveCraft" class="govuk-button" type="submit" name="buttonClicked" value="Add to GAR"
            onclick="sendAnalytics(event, 'Add craft to GAR - submit', 'click')">
        </div>
      {% endif %}

      <div class="govuk-form-group {{ m.form_group_class('newCraft', errors) }}">
        <h2 class="govuk-heading-l">{{__('aircraft_add')}}</h2>
        {% if not cookie.getGarCraft().registration %}
          <p class="govuk-body-l">{{__('aircraft_add_caption_garfile')}}</p>
        {% endif %}
        <div class="govuk-form-group {{ m.form_group_class('craftReg', errors) }}">
        <label class="govuk-label" for="craftReg">{{__('field_aircraft_registration')}}</label>
        {{ m.hint('craftReg', __('field_aircraft_registration_hint'))}}
        {{ m.error_message('craftReg', errors, __) }}
        <input id="craftReg" name="craftReg" class="govuk-input govuk-input--width-10"
          type="text" maxlength="{{ MAX_REGISTRATION_LENGTH }}"
          value="{{cookie.getGarCraft().registration}}"
          aria-describedby="craftReg-hint{{ ' craftReg-error' if errors | containsError('craftReg') }}">
      </div>

      <div class="govuk-form-group {{ m.form_group_class('craftType', errors) }}">
        <label class="govuk-label" for="craftType">{{__('field_aircraft_type')}}</label>
        {{ m.hint('craftType', __('field_aircraft_type_hint'))}}
        {{ m.error_message('craftType', errors, __) }}
        <input id="craftType" name="craftType" class="govuk-input govuk-input--width-20"
          type="text" maxlength="{{ MAX_STRING_LENGTH }}"
          value="{{cookie.getGarCraft().craftType}}"
          aria-describedby="craftType-hint{{ ' craftType-error' if errors | containsError('craftType') }}">
      </div>

      <div class="govuk-form-group {{ m.form_group_class('craftBase', errors) }}">
        <label class="govuk-label" for="craftBase">{{__('field_aircraft_base')}}</label>
        <span id="craftBase-hint" class="govuk-hint">
          Provide the IATA / ICAO code or coordinates (decimal). You are only required to enter coordinates if your port does not have an IATA / ICAO code. Provide coordinates to 4 decimal places
        </span>
        {{ m.error_message('craftBase', errors, __) }}
        <input id="craftBase" name="craftBase" class="govuk-input govuk-input--width-10"
          type="text" value="{{cookie.getGarCraft().craftBase | upper }}"
          aria-describedby="craftBase-hint{{ ' craftBase-error' if errors | containsError('craftBase') }}">
      </div>
    {# Start buttons #}</div>
        {{ m.submit_buttons('Add craft to GAR', csrfToken, __) }}
    </form>
    
    {# End buttons #}
      {# <div class="govuk-form-group">
        <input id="newCraft" class="govuk-button" type="submit" name="buttonClicked" value="{{__('form_save_and_continue')}}"
          onclick="sendAnalytics(event, 'Add craft to GAR - Submit', 'click')">
      </div>
      <p class="govuk-body-m">
        <a href="#" class="disableAutoFillSubmit" onclick="document.forms[0].submit();return false;" name="submit_button">{{__('form_save_and_come_back')}}</a>
      </p>
      <p class="govuk-body-m">
        <a href="/home">{{__('form_exit_without_saving')}}</a>
      </p>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" /> #}
	  </div>
    <div class="govuk-grid-column-two-thirds">
      {{ m.exit_without_saving(csrfToken, __) }}
    </div>
</div>

{% endblock %}
