{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} GAR | MFA Verify
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <a href="/login" class="govuk-back-link">{{__('nav_back')}}</a>

{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

      {% if successMsg %}
        {% include "common/templates/includes/success-action.njk" %}
      {% endif %}

      <h1 class="govuk-heading-l">{{__('title_confirm_mfa_code')}}</h1>

      <p class="govuk-body-l">{{__('confirm_mfa_code_caption')}}</p>

      <form action="/login/authenticate" method="post">
        <div class="govuk-form-group {{ m.form_group_class('mfaCode', errors) }}">
          <label class="govuk-label" for="mfaCode">
            <h2 class="govuk-heading-m">{{__('field_authentication_code')}}</h2>
          </label>
          <span id="mfaCode-hint" class="govuk-hint">{{__('field_authentication_code_hint')}}</span>
          {{ m.error_message('mfaCode', errors, __) }}
          <input id="mfaCode" autocomplete="off" class="govuk-input" maxlength="{{ mfaTokenLength }}" name="mfaCode" type="text" aria-describedby="mfaCode-hint{{ ' mfaCode-error' if errors}}">
        </div>
        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" value="Confirm"
          onclick="sendAnalytics(event, 'Send MFA code - submit', 'click')">
          <p class="govuk-body-m">
            <a href="/login/authenticate?resend=true">{{__('resend_code')}}</a>
          </p>
        </div>
        
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
  </div>
</div>

{% endblock %}
