{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | MFA Verify
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <a href="/login" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

      {% if successMsg %}
        {% include "common/templates/includes/success-action.njk" %}
      {% endif %}

      <h1 class="govuk-heading-l">
        Confirm your multi-factor authentication code
      </h1>

      <p class="govuk-body-l">
        If the email that you entered is associated with an account then you will have received
        an email with your login code. Please enter it below.
      </p>

      <form action="/login/authenticate" method="post">
        <div class="govuk-form-group {{ m.form_group_class('mfa-authentication-code', errors) }}">
          <label class="govuk-label" for="mfa-authentication-code">
            <h2 class="govuk-heading-m">Authentication code</h2>
          </label>
          <span class="govuk-hint">
            Please enter the code you received
          </span>
          {{ m.error_message('mfa-authentication-code', errors) }}
          <span class="field-validation-valid error-message" data-valmsg-for="mfa-authentication-code"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input id="mfa-authentication-code" autocomplete="off" class="govuk-input" maxlength="{{ mfaTokenLength }}" name="mfa-authentication-code" type="text">
        </div>
        <p style="margin-top: 0.25em;" class="govuk-body-m"><a href="/login/authenticate?resend=true">Didn't receive a code?</a></p>
        <div class="govuk-form-group">
          <input class="govuk-button" type="submit" value="Confirm"
          onclick="sendAnalytics(event, 'Send MFA code - submit', 'click')">
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
  </div>
</div>



{% endblock %}
