{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | View
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/home" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">GAR Summary</h1>
    </div>

    {% include "check-your-answers.njk" %}

    <div class="govuk-grid-column-two-thirds">
      {% if garfile.status.name !== 'Cancelled' %}
        <a href="/garfile/cancel">
          <button class="govuk-button" id="cancel-gar" type="submit">Cancel GAR</button>
        </a>
      {% endif %}
      <p class="govuk-body-m">
        <a href="/home" id='exit-view'>Exit</a>
      </p>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </div>
  </div>
{% endblock %}
