{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Delete Account
{% endblock %}

{% set active = '/user/details' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

    <div class="govuk-grid-row padding-bottom-60 margin-top-30 padding-left-60">
      <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">
          {{__('heading_are_you_sure_delete_account')}}
        </h1>

          {% if ONE_LOGIN_SHOW_ONE_LOGIN %}
            <p class="govuk-body-m">
              {{__('are_you_sure_delete_account_one_login_caption')}}
              </p>
          {% else %}
          <p class="govuk-body-m">{{ text.deleteOrgInfo or "" }}</p>
            <p>
              {{__('are_you_sure_delete_account_caption')}}
            </p>
          {% endif %}

        <form action="/user/delete" method="post">
          <input id="delete" class="govuk-button govuk-button--warning" type="submit" value="Yes, delete this account">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        </form>

        <p class="govuk-body-m">
          <a id="exit-without-deleting" href="/user/details">{{__('form_exit_without_deleting')}}</a>
        </p>
      </div>
    </div>
{% endblock %}
