{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/pagination.njk" as pagination %}

{% block pageTitle %}
  Manage organisation | Submit a General Aviation Report (GAR)
{% endblock %}



{% set active = '/organisation' %}

{% block content %}
  <script type="text/javascript" src="/javascripts/organisation.js"></script>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {% if errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

   {% include "common/templates/includes/success-action.njk" %}

      <h1 class="govuk-heading-xl">{{__('nav_bar_organisation')}}</h1>
      <p class="govuk-body-l">{{__('organisation_caption')}}</p>

      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: __('field_organisation_name')
            },
            value: {
              html: cookie.getOrganisationName()
            },
            actions: {
              items: [
                {
                  href: '/organisation/editorganisation',
                  text: __('title_edit_organisation'),
                  visuallyHiddenText: __('title_edit_organisation')
                }
              ]
            }
          }
        ]
      }) }}

        <h2 class="govuk-heading-l">{{__('title_invite_users')}}</h2>
        <p class="govuk-body-l">{{__('invite_users_caption')}}</p>
        <a id="invite-users" href="/organisation/inviteusers" role="button" draggable="false" class="govuk-button">
          {{__('title_invite_user')}}
        </a>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">

      <form id="organisationSearch" action="/organisation/users/search" class="form-group" method="GET" role="form" >
        <p class="govuk-body-m">Search for people within the organisation,  {{ cookie.getOrganisationName() }}</p>
        <input class="govuk-input govuk-input--width-20" id="organisation-search" name="searchUserName" type="text" value="{{ searchUserName }}" placeholder="Search" required>

        <button id="searchUsers" class="govuk-button" type="submit">
            <svg class="gem-c-search__icon" width="20" height="15" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg"  aria-hidden="true" focusable="false">
              <circle cx="12.0161" cy="11.0161" r="8.51613" stroke="white" stroke-width="3"></circle>
              <line x1="17.8668" y1="17.3587" x2="26.4475" y2="25.9393" stroke="white" stroke-width="3"></line>
            </svg>
        </button>
        <a class="govuk-button" href="/organisation">Refresh Search</a>
      </form>

      <h1 class="govuk-heading-l">{{__('title_organisation_users')}}</h1>
      <p class="govuk-body-l">{{__('organisations_users_caption')}}</p>
      <p class="govuk-body-s">{{__('person_sort')}}</p>

      <form id="organisation" action="/organisation" class="form-group" method="post" role="form" >
        <div class="govuk-grid-column-full">
          <table class="govuk-table" id="organisation_table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col">{{__('field_surname')}}</th>
                <th class="govuk-table__header" scope="col">{{__('field_given_name')}}</th>
                <th class="govuk-table__header" scope="col">{{__('field_email')}}</th>
                <th class="govuk-table__header" scope="col">{{__('field_role')}}</th>
                <th class="govuk-table__header" scope="col">{{__('table_action')}}</th>
              </tr>
            </thead>
            <tbody class="govuk-table__body" id="organisation_table_row">
              {% if orgUsers | length %}
                {% for user in orgUsers %}
                  <tr class="govuk-table__row">
                    {% if user.isEditable %}
                      <td class="govuk-table__cell">
                        <button id="edit_user_{{ loop.index }}" class="govuk-button--link" name="editOrgUser" value="{{ user.userId }}" type="submit">
                          {{ user.lastName }}
                        </button>
                      </td>
                    {% else %}
                      <td class="govuk-table__cell">{{ user.lastName }}</td>
                    {% endif %}
                    <td class="govuk-table__cell" scope="row">{{ user.firstName }}</th>
                    <td class="govuk-table__cell">{{ user.email }}</td>
                    <td class="govuk-table__cell">{{ user.role.name }}</td>
                    <td class="govuk-table__cell">
                      {% if user.isEditable %}

                        <button id="delete_user_{{ loop.index }}" class="govuk-button--link" name="deleteUser" value="{{user.email}}" type="submit">
                          {{ __('table_delete') }}
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                {% endfor %}
              {% else %}
                {{ m.empty_table_message(__('organisation_no_records')) }}
              {% endif %}
            </tbody>
          </table>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>

            {% if orgUsers | length and pages %}
              {{ pagination.build('organisation', pages, __)}}
            {% endif %}
        </form>
        {% if orgUsers | length  and pages %}
          <a href="/organisation/users/export" class="govuk-button">Download CSV</a>
        {% endif %}

      </div>

    </div>

  {% endblock %}
