{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Manage account | Submit a General Aviation Report (GAR)
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-full">
		<form action="account-edit.html">
			<h1 class="govuk-heading-xl">Account</h1>
			<p class="govuk-body-l">Manage your account details and the details of any aircraft or people you want to save or have saved previously.</p>
				<dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 1em;">
					<div class="app-check-your-answers__contents" style="border-bottom: none;">
						<dt class="app-check-your-answers__question" style="border-bottom: none;">
							Given name
						</dt>
						<dd class="app-check-your-answers__answer" style="border-bottom: none;">
							{{cookie.getUserFirstName()}}
						</dd>
					</div>
					<div class="app-check-your-answers__contents" style="border-bottom: none;">
						<dt class="app-check-your-answers__question" style="border-bottom: none;">
							Surname
						</dt>
						<dd class="app-check-your-answers__answer" style="border-bottom: none;">
							{{cookie.getUserLastName()}}
						</dd>
					</div>
					<div class="app-check-your-answers__contents" style="border-bottom: none;">
						<dt class="app-check-your-answers__question" style="border-bottom: none;">
							Email
						</dt>
						<dd class="app-check-your-answers__answer" style="border-bottom: none;">
							{{cookie.getUserEmail()}}
						</dd>
					</div>
				</dl>
				<a href="/user/manageuserdetail" role="button" draggable="false" class="govuk-button">
					Edit details
				</a>
			</div>
			<div class="govuk-grid-column-full">
				<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
			</div>
		</form>
	</div>
</div>

{% endblock %}

