{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Manage account | Submit a General Aviation Report (GAR)
{% endblock %}

{% set active = '/user/details' %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <form action="account-edit.html">
      <h1 class="govuk-heading-xl">{{__('nav_bar_account')}}</h1>
      <p class="govuk-body-l">{{__('account_caption')}}</p>
      <dl class="app-check-your-answers app-check-your-answers--short govuk-!-margin-bottom-4">
        <div class="app-check-your-answers__contents govuk-!-border-bottom-0">
          <dt class="app-check-your-answers__question govuk-!-border-bottom-0">
            {{__('field_given_name')}}
          </dt>
          <dd class="app-check-your-answers__answer govuk-!-border-bottom-0">
            {{cookie.getUserFirstName()}}
          </dd>
        </div>
        <div class="app-check-your-answers__contents govuk-!-border-bottom-0">
          <dt class="app-check-your-answers__question govuk-!-border-bottom-0">
            {{__('field_surname')}}
          </dt>
          <dd class="app-check-your-answers__answer govuk-!-border-bottom-0">
            {{cookie.getUserLastName()}}
          </dd>
        </div>
        <div class="app-check-your-answers__contents govuk-!-border-bottom-0">
          <dt class="app-check-your-answers__question govuk-!-border-bottom-0">
            {{__('field_email')}}
          </dt>
          <dd class="app-check-your-answers__answer govuk-!-border-bottom-0">
            {{cookie.getUserEmail()}}
          </dd>
        </div>
      </dl>
      <a href="/user/manageuserdetail" role="button" draggable="false" class="govuk-button">
        {{__('form_edit_details')}}
      </a>
    </form>
  </div>
  <div class="govuk-grid-column-full">
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
  </div>
</div>
{% endblock %}

