{% extends "base-template.njk" %}

{% from "radios/macro.njk" import govukRadios %}
{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | Departure | {{__('title')}}
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/home" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

      <form id="page-form" action="/garfile/departure" autocomplete="off" class="form-group" method="post" role="form">
        <span class="govuk-caption-xl">{{__('section_count', 1, 8)}}</span>
        <h1 class="govuk-heading-xl">{{__('heading_departure_details')}}</h1>
        <p class="govuk-body-l">{{__('departure_details_caption')}}</p>

        {# Start departure date #}
        <div id="departureDate" class="govuk-form-group {{ m.form_group_class('departureDate', errors) }}">
          <fieldset class="govuk-fieldset" aria-describedby="departureDate-hint" role="group">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">
              {{__('field_departure_date')}}
            </h2>
          </legend>
          <span id="departureDate-hint" class="govuk-hint">{{__('field_date_hint')}}</span>
          {{ m.error_message('departureDate', errors, __) }}
          <div class="govuk-date-input" id="departure">
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="departureDay">
                  <span class="govuk-visually-hidden">{{__('field_departure_hint')}}</span>{{__('field_day')}}
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departureDay"
                name="departureDay" type="number" pattern="[0-9]*" min="1" max="31"
                value="{{ cookie.dateSlice('day', cookie.getGarDepartureVoyage().departureDate) }}"
                {{ 'aria-describedby=departureDate-error' if errors | containsError('departureDate') }}>
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="departureMonth">
                  <span class="govuk-visually-hidden">{{__('field_departure_hint')}}</span>{{__('field_month')}}
                </label>
                <span id="departure-month-hint" class="govuk-visually-hidden">{{__('field_departure_month_hint')}}</span>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departureMonth"
                    name="departureMonth" type="number" pattern="[0-9]*" min="1" max="12"
                    value="{{ cookie.dateSlice('month', cookie.getGarDepartureVoyage().departureDate) }}"
                    aria-describedby="{{ 'departureDate-error ' if errors | containsError('departureDate') }}departure-month-hint">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departureYear">
                    <span class="govuk-visually-hidden">{{__('field_departure_hint')}}</span>{{__('field_year')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="departureYear"
                    name="departureYear" type="number" pattern="[0-9]*" min="1900" max="2200"
                    value="{{ cookie.dateSlice('year', cookie.getGarDepartureVoyage().departureDate) }}"
                    {{ 'aria-describedby=departureDate-error' if errors | containsError('departureDate') }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {# End departure date #}

        {# Start departure time #}
        <div class="govuk-form-group {{ m.form_group_class('departureTime', errors) }}" id="departureTime">
          <fieldset class="govuk-fieldset" aria-describedby="departureTime-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">
                {{__('field_departure_time')}}
              </h2>
            </legend>
            <span id="departureTime-hint" class="govuk-hint">{{__('field_time_hint')}}</span>
            {{ m.error_message('departureTime', errors, __) }}

            <div class="govuk-date-input" id="departureTime">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departureHour">
                    <span class="govuk-visually-hidden">{{__('field_departure_hint')}}</span>{{__('field_hour')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departureHour"
                    name="departureHour" type="number" pattern="[0-9]*" min="00" max="23"
                    value="{{ cookie.timeSlice('hour', cookie.getGarDepartureVoyage().departureTime) }}"
                    {{ 'aria-describedby=departureTime-error' if errors | containsError('departureTime') }}>
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="departureMinute">
                    <span class="govuk-visually-hidden">{{__('field_departure_hint')}}</span>{{__('field_minute')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="departureMinute"
                    name="departureMinute" type="number" pattern="[0-9]*" min="00" max="59"
                    value="{{ cookie.timeSlice('minute', cookie.getGarDepartureVoyage().departureTime) }}"
                    {{ 'aria-describedby=departureTime-error' if errors | containsError('departureTime') }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {# End departure time #}

        <div class="{{ m.form_group_class('portChoice', errors) }}">
          <fieldset class="govuk-fieldset" aria-describedby="departureChoice-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">{{__('field_port_choice')}}</h2>
            </legend>
            <span id="departureChoice-hint" class="govuk-hint">{{__('field_port_choice_hint')}}</span>
            {{ m.error_message('portChoice', errors, __) }}
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input id="departureChoicePort" name="portChoice" class="govuk-radios__input"
                  type="radio" value="Yes"{{ ' checked' if cookie.getGarDepartureVoyage().departurePort != undefined and cookie.getGarDepartureVoyage().departurePort != 'YYYY'}}
                  data-aria-controls="departurePortContainer" aria-labelledby="departureChoicePort-label">
                <label id="departureChoicePort-label" class="govuk-label govuk-radios__label" for="departureChoicePort">{{__('field_choice_yes')}}</label>
              </div>
              <div id="departurePortContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="{{ m.form_group_class('departurePort', errors) }}">
                  <label id="departurePort-label" class="govuk-label" for="departurePort">{{__('field_port_code')}}</label>
                  {{ m.hint('departurePort', __('field_port_hint')) }}
                  {{ m.error_message('departurePort', errors, __) }}
                  <select id="departurePort" name="departurePort" class="govuk-select" 
                    value="{{ cookie.getGarDepartureVoyage().departurePort | upper }}"
                    aria-labelledby="departurePort-label"
                    aria-describedby="departurePort-hint{{ ' departurePort-error' if errors | containsError('departurePort') }}">
                    {% for airport in airportList | sort(attribute = 'label') %}
                      <option value="{{ airport.id }}" {{ 'selected=selected' if cookie.getGarDepartureVoyage().departurePort == airport.id }}>{{ airport.label }}</option>
                    {% endfor%}
                  </select>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input id="departureChoiceCoordinates" name="portChoice" class="govuk-radios__input"
                type="radio" value="No"{{ ' checked' if cookie.getGarDepartureVoyage().departurePort == 'YYYY'}}
                data-aria-controls="departureCoordinatesContainer" aria-labelledby="departureChoiceCoordinates-label">
                <label id="departureChoiceCoordinates-label" class="govuk-label govuk-radios__label" for="departureChoiceCoordinates">{{__('field_choice_no')}}</label>
              </div>
              <div id="departureCoordinatesContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="govuk-form-group">
                  {{ m.hint('departureCoordinates', __('field_coordinate_hint')) }}
                </div>

                {# Start departure coords #}
                <div class="govuk-form-group {{ m.form_group_class('departureLat', errors) }}">
                  <label class="govuk-label" for="departureLat">
                    {{__('field_latitude')}}
                  </label>
                  <span id="departureLatitude-hint" class="govuk-hint">
                    {{__('field_latitude_hint')}}
                  </span>

                  {{ m.error_message('departureLat', errors, __) }}
                  <input class="govuk-input govuk-input--width-10" id="departureLat" name="departureLat" autocomplete="off" type="text"
                    value="{{ cookie.getGarDepartureVoyage().departureLat }}" aria-describedby="departureCoordinates-hint departureLatitude-hint{{ ' departureLat-error' if errors | containsError('departureLat')}}"/>
                </div>

                <div class="govuk-form-group {{ m.form_group_class('departureLong', errors) }}">
                  <label class="govuk-label" for="departureLong">
                    {{__('field_longitude')}}
                  </label>
                  <span id="departureLongitude-hint" class="govuk-hint">
                    {{__('field_longitude_hint')}}
                  </span>
                  {{ m.error_message('departureLong', errors, __) }}
                  <input class="govuk-input govuk-input--width-10" id="departureLong" name="departureLong" autocomplete="off" type="text"
                    value="{{ cookie.getGarDepartureVoyage().departureLong }}" aria-describedby="departureCoordinates-hint departureLongitude-hint{{ ' departureLong-error' if errors | containsError('departureLong') }}"/>
                </div>
                {# End departure coords #}
              </div>
            </div>
          </fieldset>
        </div>

    {# Start buttons #}
        {{ m.submit_buttons('GAR Departure', csrfToken, __) }}
    </form>
    {{ m.exit_without_saving(csrfToken, __) }}
    {# End buttons #}
  </div>
</div>

<script type="text/javascript" src="/javascripts/accessible-autocomplete.min.js"></script>
<script type="text/javascript">
  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.querySelector('#departurePort'),
    minLength: 2,
  });
</script>

{% endblock %}
