{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{ __('error_prefix' if errors )}} GAR | {{__('title_edit_organisation')}}
{% endblock %}

{% set active = '/organisation' %}

{% block beforeContent %}


  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/organisation">{{__('nav_bar_organisation')}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{__('title_edit_organisation')}}
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/organisation/editorganisation" autocomplete="off" class="form-group"
        method="post" role="form">

        <h1 class="govuk-heading-xl">{{__('title_edit_organisation')}}</h1>
        <p class="govuk-body-l">{{__('edit_organisation_caption')}}</p>

        <div class="govuk-form-group {{ m.form_group_class('orgName', errors) }}">
          <label class="govuk-label govuk-label--m" for="orgName">{{__('field_organisation_name')}}</label>
          {{ m.error_message('orgName', errors, __) }}
          <input id="orgName" name="orgName" class="govuk-input"
            type="text" {{ 'aria-describedby=orgName-error' if errors }}
            value="{{ orgName or cookie.getOrganisationName() }}">
        </div>

        <div class="govuk-form-group">
          <button id="save-and-exit" class="govuk-button" type="submit"
            onclick="sendAnalytics(event, 'Edit Organisation - Save and exit', 'click')">
            {{__('form_save_and_exit')}}
          </button>
          <p class="govuk-body-m">
            <a id="exit-without-saving" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
              href="/organisation#"
              onclick="sendAnalytics(event, 'Edit Organisation - Exit without saving', 'click')">
              {{__('form_exit_without_saving')}}
            </a>
          </p>
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
    </div>
  </div>
</main>
{% endblock %}
