{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit Organisation
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}


  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

    <div>
    <form action="/organisation/editorganisation" autocomplete="false" class="form-group"
      method="post" role="form">

      <h1 class="govuk-heading-xl">Edit organisation</h1>
      <p class="govuk-body-l">Edit the details of the organisation</p>

      <div class="govuk-form-group {{ m.form_group_class('orgname', errors) }}">

          <label class="govuk-label govuk-label--m"  for="orgname">Organisation Name</label>
          {{ m.error_message('orgname', errors) }}
          <span class="govuk-hint">
            Enter a new value
          </span>
          <span class="field-validation-valid error-message" data-valmsg-for="orgname"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input class="govuk-input"
            id="orgname" name="orgname" style="width:100%" type="text"
            value="{{cookie.getOrganisationName()}}" />
         </div>

        <div class="govuk-form-group">
          <table class="govuk-table">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell "><a class="govuk-button" href="/organisation">Exit Without Saving</a></td>
              <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and Exit"
              onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
            </tr>
          </table>
        </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    </form>

 </div>




</main>
{% endblock %}
