{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/pagination.njk" as pagination %}

{% macro currentManifestTable(manifest, manifestInvalidPeople, pages, __) %}
  <table class="govuk-table table-clickable"
         id="manifest_table"
         data-multi-select-group="manifest">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">
          {% if manifest.items | length %}
            <div class="govuk-checkboxes__item">
              <input type="checkbox"
                     class="govuk-checkboxes__input jsCheckboxAll"
                     id="manifest-select-all">
              <label class="govuk-label govuk-checkboxes__label" for="manifest-select-all">
                <span class="govuk-visually-hidden">Select all people on the manifest</span>
              </label>
            </div>
          {% endif %}
        </th>
        <th class="govuk-table__header" scope="col">{{ __('field_surname') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_given_name') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_dob') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_nationality') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_gender') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_birth_place') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_person_type_short') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('table_action') }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body" id="manifestTable_row">
      {% if manifest.items | length %}
        {% for person in manifest.items %}
          {% if manifestInvalidPeople and (("person-" + loop.index0) in manifestInvalidPeople) %}
            <tr class="govuk-table__row govuk-form-group govuk-form-group--error"
                id="person-{{ loop.index0 }}">
              <td class="govuk-table__cell"></td>
          {% else %}
            <tr class="govuk-table__row" id="person-{{ loop.index0 }}">
              <td class="govuk-table__cell">
                <div class="govuk-checkboxes__item">
                  <input type="checkbox"
                         class="govuk-checkboxes__input jsCheckbox"
                         id="garperson-{{ loop.index0 }}"
                         name="garPeopleId"
                         value="{{ person.garPeopleId }}"
                         autocomplete="off">
                  <label class="govuk-label govuk-checkboxes__label"
                         for="garperson-{{ loop.index0 }}">&nbsp;</label>
                </div>
              </td>
          {% endif %}
            <td class="govuk-table__cell garPersonLastName">{{ person.lastName }}</td>
            <td class="govuk-table__cell garPersonFirstName">{{ person.firstName }}</td>
            <td class="govuk-table__cell">{{ person.dateOfBirth }}</td>
            <td class="govuk-table__cell garPersonNationality">{{ person.nationality | upper }}</td>
            <td class="govuk-table__cell">{{ person.gender }}</td>
            <td class="govuk-table__cell">{{ person.placeOfBirth }}</td>
            <td class="govuk-table__cell">{{ person.peopleType.name }}</td>
            <td class="govuk-table__cell">
              <button class="govuk-button--link"
                      type="submit"
                      name="editPersonId"
                      value="{{ person.garPeopleId }}">Edit</button>
            </td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="9">
              <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary"
                         aria-controls="details-content-{{ loop.index }}"
                         aria-expanded="false"
                         title="{{ __('further_information_for', person.firstName, person.lastName) }}">
                  <span id="further-information-{{ loop.index }}"
                        class="govuk-details__summary-text">{{ __('label_manifest_further_personal_details') }}</span>
                </summary>
                <div class="panel panel-border-narrow"
                     id="details-content-{{ loop.index }}"
                     aria-hidden="true">
                  <table class="govuk-table">
                    <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ __('field_travel_document_type') }}</td>
                        <td class="govuk-table__cell">{{ person.documentType }}</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ __('field_travel_document_issuing_state') }}</td>
                        <td class="govuk-table__cell">{{ person.issuingState | upper }}</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ __('field_travel_document_number') }}</td>
                        <td class="govuk-table__cell">{{ person.documentNumber }}</td>
                      </tr>
                      <tr class="govuk-table__row">
                        <td class="govuk-table__cell">{{ __('field_document_expiry_date') }}</td>
                        <td class="govuk-table__cell">{{ person.documentExpiryDate }}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </details>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        {{ m.empty_table_message(__('manifest_no_records')) }}
      {% endif %}
    </tbody>
  </table>
  {% if manifest.items | length and pages %}
    {{ pagination.build(pages) }}
  {% endif %}
{% endmacro %}
