{% import "common/templates/includes/macros.njk" as m %}

{% macro savedPeopleTable(savedPeople, isUnableToAddPeople, __) %}
  {% if savedPeople | length %}
    <table class="table-clickable govuk-table"
           id="people_table"
           data-multi-select-group="saved-people">
  {% else %}
    <table class="govuk-table"
           id="people_table"
           data-multi-select-group="saved-people">
  {% endif %}
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th class="govuk-table__header multiple-choice--hod" scope="col">
          {% if savedPeople | length and not isUnableToAddPeople %}
            <div class="govuk-checkboxes__item">
              <input type="checkbox"
                     class="govuk-checkboxes__input jsCheckboxAll"
                     id="saved-people-select-all">
              <label class="govuk-label govuk-checkboxes__label"
                     for="saved-people-select-all">
                <span class="govuk-visually-hidden">Select all saved people</span>
              </label>
            </div>
          {% endif %}
        </th>
        <th class="govuk-table__header" scope="col">{{ __('field_surname') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_given_name') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_person_type_short') }}</th>
        <th class="govuk-table__header" scope="col">{{ __('field_document_expiry_date') }}</th>
      </tr>
    </thead>
    <tbody class="govuk-table__body" id="people_table_row">
      {% if savedPeople | length %}
        {% for person in savedPeople %}
          <tr class="govuk-table__row {{ "unselectable-row" if person.isDuplicate or person.isInvalid }} {{ "govuk-form-group govuk-form-group--error" if person.isInvalid }}">
            <td class="govuk-table__cell multiple-choice--hod{% if person.isInvalid %} govuk-!-padding-left-2{% endif %}">
              {% if person.isInvalid %}
                <button id="edit-person-{{ loop.index }}"
                        type="submit"
                        class="govuk-button--link"
                        title="Edit details for {{ person.firstName }} {{ person.lastName }}"
                        name="editSavedPerson"
                        value="{{ person.personId }}">Edit</button>
              {% elif not person.isDuplicate %}
                <div class="govuk-checkboxes__item">
                  <input type="checkbox"
                         class="govuk-checkboxes__input jsCheckbox"
                         id="savedPerson-{{ loop.index0 }}"
                         name="personId"
                         value="{{ person.personId }}"
                         autocomplete="off">
                  <label class="govuk-label govuk-checkboxes__label"
                         for="savedPerson-{{ loop.index0 }}">&nbsp;</label>
                </div>
              {% endif %}
            </td>
            <td class="govuk-table__cell">{{ person.lastName }}</td>
            <td class="govuk-table__cell">{{ person.firstName }}</td>
            <td class="govuk-table__cell">{{ person.peopleType.name }}</td>
            <td class="govuk-table__cell">{{ person.documentExpiryDate }}</td>
          </tr>
        {% endfor %}
      {% else %}
        {{ m.empty_table_message(__('people_no_records'), 5) }}
      {% endif %}
    </tbody>
  </table>
{% endmacro %}
