{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Invite sent
{% endblock %}

{% set active = '/organisation' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      {{__('heading_invite_sent')}}
    </h1>
  </div>

	<div>
	  <h2 class="govuk-heading-m">{{__('heading_what_happens_next')}}</h2>
	  <p class="govuk-body-m">{{__('what_happens_next_caption')}}</p>
	  <p class="govuk-body-m">{{__('what_happens_next_any_queries_1')}}<a href="mailto:{{__('support_email')}}">{{__('what_happens_next_any_queries_2')}}</a>{{__('what_happens_next_any_queries_3')}}</p>
	</div>
	<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</div>
{% endblock %}
