{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Invite sent
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      Invitation Sent
    </h1>
  </div>

	<div>
	<h2 class="govuk-heading-m">What happens next</h2>
	<p class="govuk-body-m">We have sent the user an email that contains an invitation link. This link will remain valid for 12 hours.
	The user will need to click the link in the button to complete the account registration process.
	</p>
	 <p class="govuk-body-m">If you have any queries please <a href="mailto:egarsupport@homeoffice.gov.uk">contact us</a>.</p>
	</div>
	<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</div>
{% endblock %}
