{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit User Details
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/user/details">Account</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">Edit account</li>
    </ol>
  </div>
{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

      <form id="signform" action="/user/manageuserdetail" autocomplete="new-password" class="form-group"
      method="post" role="form">

      <h1 class="govuk-heading-xl">Edit account</h1>
      <p class="govuk-body-l">Edit the details of your account.</p>

        <div class="govuk-form-group {{ m.form_group_class('firstname', errors) }}">
          <label class="govuk-label govuk-label--m" for="firstname">Given name</label>
          {{ m.error_message('firstname', errors, __) }}
          <input autocomplete="off" class="govuk-input"
            data-val="true" data-val-required="First Name is required." id="firstname" name="Firstname" style="width:100%" type="text" value="{{cookie.getUserFirstName()}}" />
        </div>

        <div class="govuk-form-group {{ m.form_group_class('lastname', errors) }}">
          <label class="govuk-label govuk-label--m" for="lastname">Surname</label>
          {{ m.error_message('lastname', errors, __) }}

          <span class="field-validation-valid error-message" data-valmsg-for="Lastname"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="govuk-input"
            data-val="true" data-val-required="Surname is required." id="lastname" name="Lastname" style="width:100%" type="text" maxlength="{{ MAX_STRING_LENGTH}}" value="{{cookie.getUserLastName()}}" />
        </div>


			<button type="submit" class="govuk-button">
				Save changes
			</button>

			<p class="govuk-body-m">
				<a href="/user/details">Exit without saving</a>
			</p>

    </div>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  </div>
  </form>

  	    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
        <div class="govuk-form-group">
            <h1 class="govuk-heading-m">Delete account</h1>
            <p class="govuk-body-l">Delete this account and any organisation listed in it.</p>
            <p class="govuk-body-m">
                <a href="/user/delete">Delete this account</a>
            </p>
        </div>

  </div>

{% endblock %}
