{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit User Details
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

      <form id="signform" action="/user/manageuserdetail" autocomplete="new-password" class="form-group"
      method="post" role="form">

      <h1 class="govuk-heading-xl">Edit User Details</h1>
      <p class="govuk-body-l">Enter any new details by replacing the values below</p>

        <div class="govuk-form-group {{ m.form_group_class('firstname', errors) }}">
          <label class="govuk-label govuk-label--m" for="firstname">First Name</label>
          {{ m.error_message('firstname', errors) }}
          <input autocomplete="off" class="govuk-input"
            data-val="true" data-val-required="First Name is required." id="firstname" name="Firstname" style="width:100%" type="text" value="{{cookie.getUserFirstName()}}" />
        </div>

        <div class="form-group {{ m.form_group_class('lastname', errors) }}">
          <label class="govuk-label govuk-label--m" for="lastname">Last Name</label>
          {{ m.error_message('lastname', errors) }}

          <span class="field-validation-valid error-message" data-valmsg-for="Lastname"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="govuk-input"
            data-val="true" data-val-required="Last Name is required." id="lastname" name="Lastname" style="width:100%" type="text" value="{{cookie.getUserLastName()}}" />
        </div>

        <div class="govuk-form-group">
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a class="govuk-button" href="/user/details">Exit Without Saving</a></td>
            <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and Exit"
          onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
          </tr>
        </table>
        </div>
    </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

  </div>
  </form>
  </div>

{% endblock %}
