{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} GAR | Edit User Details
{% endblock %}

{% set active = '/user/details' %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/user/details">{{__('nav_bar_account')}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item" aria-current="page">{{__('title_edit_account')}}</li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form id="signform" action="/user/manageuserdetail" autocomplete="new-password" class="form-group" method="post" role="form">
        <h1 class="govuk-heading-xl">{{__('title_edit_account')}}</h1>
        <p class="govuk-body-l">{{__('edit_account_caption')}}</p>

        <div class="govuk-form-group {{ m.form_group_class('firstname', errors) }}">
          <label class="govuk-label govuk-label--m" for="firstname">{{__('field_given_name')}}</label>
          {{ m.error_message('firstname', errors, __) }}
          <input id="firstname" name="firstname" autocomplete="off" class="govuk-input"
            type="text" value="{{cookie.getUserFirstName()}}"
            {{ 'aria-describedby=firstname-error' if errors | containsError('firstname') }}>
        </div>

        <div class="govuk-form-group {{ m.form_group_class('lastname', errors) }}">
          <label class="govuk-label govuk-label--m" for="lastname">{{__('field_surname')}}</label>
          {{ m.error_message('lastname', errors, __) }}
          <input id="lastname" name="lastname" autocomplete="off" class="govuk-input"
            type="text" maxlength="{{ MAX_STRING_LENGTH}}" value="{{cookie.getUserLastName()}}"
            {{ 'aria-describedby=lastname-error' if errors | containsError('lastname') }}>
        </div>

        <button type="submit" class="govuk-button" onclick="sendAnalytics(event, 'Edit Account - Save', 'click')">{{__('form_save_changes')}}</button>

        <p class="govuk-body-m">
          <a class="govuk-button govuk-button--secondary" href="/user/details#" onclick="sendAnalytics(event, 'Edit Account - Cancel', 'click')">{{__('form_exit_without_adding')}}</a>
        </p>

        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>

    <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
    <div class="govuk-form-group">
        <h1 class="govuk-heading-l">{{__('heading_delete_account')}}</h1>

        <p class="govuk-body-m">{{__('are_you_sure_delete_account_caption')}}</p>
        <p class="govuk-body-m">
          <a href="/user/delete">{{__('form_delete_this_account')}}</a>
        </p>
    </div>
  </div>
</div>

{% endblock %}
