{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Register
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <a href="/" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <form id="page-form" action="/user/register" autocomplete="off" method="post" role="form">
      <h1 class="govuk-heading-xl">{{__('title_create_account')}}</h1>

      <div class="govuk-form-group {{ m.form_group_class('userFname', errors) }}">
        <label class="govuk-label govuk-label--m" for="userFname">{{ __('field_given_name') }}</label>
        {{ m.error_message('userFname', errors) }}
        <input id="userFname" name="userFname" autocomplete="off" class="govuk-input govuk-input--width-30"
          type="text" maxlength="{{ MAX_STRING_LENGTH }}" value="{{cookie.getUserFirstName()}}" >
      </div>

      <div class="govuk-form-group {{ m.form_group_class('userLname', errors) }}">
        <label class="govuk-label govuk-label--m" for="userLname">{{ __('field_surname') }}</label>
        {{ m.error_message('userLname', errors) }}
        <input id="userLname" name="userLname" autocomplete="off" class="govuk-input govuk-input--width-30"
          type="text" maxlength="{{ MAX_STRING_LENGTH }}" value="{{cookie.getUserLastName()}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('userId', errors) }}">
        <label class="govuk-label govuk-label--m" for="userId">Email address</label>
        {{ m.error_message('userId', errors) }}
        <span class="govuk-hint">{{__('field_email_hint')}}</span>
        <input id="userId" name="userId" autocomplete="off" class="govuk-input"
          type="text" maxlength="{{ MAX_EMAIL_LENGTH }}" value="{{cookie.getUserEmail()}}" />
      </div>

      <div class="govuk-form-group {{ m.form_group_class('cUserId', errors) }}">
        <label class="govuk-label govuk-label--m" for="cUserId">{{__('field_confirm_email')}}</label>
        {{ m.error_message('cUserId', errors) }}
        <input id="cUserId" name="cUserId" autocomplete="off" class="govuk-input"
          type="text" maxlength="{{ MAX_EMAIL_LENGTH }}" value="{{req.body.cUserId}}" />
      </div>

      <h2 class="govuk-heading-s">{{__('heading_declaration')}}</h2>
      <p class="govuk-body">{{__('declaration_caption_1')}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{__('declaration_caption_2')}}</li>
          <li>{{__('declaration_caption_3')}}
            <a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship">
              {{__('declaration_caption_4')}}
            </a>
          </li>
        </ul>
      </p>

      <div class="form-group">
        <input id="login" class="govuk-button" type="submit" value="Agree and submit" onclick="sendAnalytics(event, 'Register - submit', 'click')">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
