{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} GAR | Register
{% endblock %}

{% block header %}
  {% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    <form id="page-form" action="/user/register" autocomplete="off" method="post" role="form">
      <h1 class="govuk-heading-xl">{{__('title_create_account')}}</h1>

      <div class="govuk-form-group {{ m.form_group_class('userFname', errors) }}">
        <label class="govuk-label govuk-label--m" for="userFname">{{ __('field_given_name') }}</label>
        {{ m.error_message('userFname', errors, __) }}
        <input id="userFname" name="userFname" autocomplete="off" class="govuk-input govuk-input--width-30"
          type="text" maxlength="{{ MAX_STRING_LENGTH }}" value="{{ fname }}"
          {{ 'aria-describedby=userFname-error' if errors | containsError('userFname') }}>
        {{ m.character_count_hint('userFname', MAX_STRING_LENGTH) }} 
      </div>

      <div class="govuk-form-group {{ m.form_group_class('userLname', errors) }}">
        <label class="govuk-label govuk-label--m" for="userLname">{{ __('field_surname') }}</label>
        {{ m.error_message('userLname', errors, __) }}
        <input id="userLname" name="userLname" autocomplete="off" class="govuk-input govuk-input--width-30"
          type="text" maxlength="{{ MAX_STRING_LENGTH }}" value="{{ lname }}"
          {{ 'aria-describedby=userLname-error' if errors | containsError('userLname') }}>
        {{ m.character_count_hint('userLname', MAX_STRING_LENGTH) }} 
      </div>

      <div class="govuk-form-group {{ m.form_group_class('userId', errors) }}">
        <label class="govuk-label govuk-label--m" for="userId">Email address</label>
        <span id="userId-hint" class="govuk-hint">{{__('field_email_hint')}}</span>
        {{ m.error_message('userId', errors, __) }}
        <input id="userId" name="userId" autocomplete="off" class="govuk-input"
          type="text" maxlength="{{ MAX_EMAIL_LENGTH }}" value="{{ usrname }}"
          aria-describedby="userId-hint{{ ' userId-error' if errors | containsError('userId') }}">
      </div>

      <div class="govuk-form-group {{ m.form_group_class('cUserId', errors) }}">
        <label class="govuk-label govuk-label--m" for="cUserId">{{__('field_confirm_email')}}</label>
        {{ m.error_message('cUserId', errors, __) }}
        <input id="cUserId" name="cUserId" autocomplete="off" class="govuk-input"
          type="text" maxlength="{{ MAX_EMAIL_LENGTH }}" value=""
          {{ 'aria-describedby=cUserId-error' if errors | containsError('cUserId') }}>
      </div>

      <h2 class="govuk-heading-s">{{__('heading_declaration')}}</h2>
      <p class="govuk-body">{{__('declaration_caption_1')}}</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>{{__('declaration_caption_2')}}</li>
          <li>{{__('declaration_caption_3')}}
            <a href="https://www.gov.uk/government/publications/personal-information-use-in-borders-immigration-and-citizenship">
              {{__('declaration_caption_4')}}
            </a>
          </li>
        </ul>
      </p>

      <div class="form-group">
        <input id="login" class="govuk-button" type="submit" value="Agree and submit" onclick="sendAnalytics(event, 'Register - submit', 'click')">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </div>
    </form>
  </div>
</div>
{% endblock %}
