{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/location.njk" as l %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} GAR | Save an Aircraft
{% endblock %}

{% set active = '/aircraft' %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/aircraft">{{__('title_aircraft')}}</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        {{__('title_add_aircraft')}}
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/aircraft/add" autocomplete="off" class="form-group" method="post" role="form">
        <h1 class="govuk-heading-xl">{{__('title_add_aircraft')}}</h1>
        <p class="govuk-body-l">{{__('add_aircraft_caption')}}</p>

        {{ govukInput({
          id: "registration",
          name: "registration",
          classes: "govuk-input--width-10",
          label: {
            text: __('field_aircraft_registration')
          },
          hint: {
            text: __('field_aircraft_registration_hint')
          },
          errorMessage: (
            errors | containsError('registration')
          ),
          value: craftObj.registration,
          attributes: {
            maxlength: MAX_REGISTRATION_LENGTH
          }
        }) }}

        {{ m.character_count_hint('registration', MAX_REGISTRATION_LENGTH) }}

        {{ govukInput({
          id: "craftType",
          name: "craftType",
          classes: "govuk-input--width-20",
          label: {
            text: __('field_aircraft_type')
          },
          hint: {
            text: __('field_aircraft_type_hint')
          },
          errorMessage: (
            errors | containsError('craftType')
          ),
          value: craftObj.craftType,
          attributes: {
            maxlength: MAX_STRING_LENGTH
          }
        }) }}

        {{ m.character_count_hint('craftType', MAX_STRING_LENGTH) }}

        {% set legendLabel = __('field_aircraft_base')%}
        {% set warningMessage = undefined%}
        {% set isPortChoice = (craftObj.portChoice === 'Yes' or craftObj.portChoice is undefined)%}
        {% set portCode = craftObj.craftBasePort%}
        {% set lat = craftObj.craftBaseLat%}
        {% set long = craftObj.craftBaseLong%}
        {% set prefix = 'craftBase'%}

        {{ l.location(legendLabel,
                      warningMessage,
                      isPortChoice,
                      portCode,
                      lat,
                      long,
                      prefix,
                      errors,
                      __) }}

        <div class="govuk-form-group">
          <input id="add-and-exit" class="govuk-button" type="submit"
          name="buttonClicked"
          value="{{__('form_add_and_exit')}}"
          onclick="sendAnalytics(event, 'Saved Aircraft Add - Save', 'click')">
          <p class="govuk-body-m">
            <a class="govuk-button govuk-button--secondary" href="/aircraft#" onclick="sendAnalytics(event, 'Saved Aircraft Add - Cancel', 'click')">{{__('form_exit_without_adding')}}</a>
          </p>

        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      </form>
    </div>

  {% endblock %}
