{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{ __('error_prefix') if errors }} GAR | {{__('title_assign_role')}}
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/organisation/inviteusers" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">

      <form action="/organisation/assignrole" autocomplete="off" class="form-group" method="post" role="form" >
        <div id="role" class="{{ m.form_group_class('role', errors) }}">
          <fieldset class="govuk-fieldset" aria-describedby="role-hint{{ ' role-error' if errors | containsError('role') }}">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h1 class="govuk-fieldset__heading">{{__('title_assign_role')}}</h1>
              <span id="role-hint" class="govuk-hint">{{__('assign_role_caption')}}</span>
            </legend>
            {{ m.error_message('role', errors, __) }}

            <div class="govuk-radios">
              {% for role in roles %}
                <div class="govuk-radios__item">
                  <input id="option-{{role.id}}" name="role" class="govuk-radios__input" type="radio"
                    aria-labelledby="option-{{role.id}}-label" aria-describedby="option-{{role.id}}-hint" value="{{role.name}}">
                  <label id="option-{{role.id}}-label" class="govuk-label govuk-radios__label" for="option-{{role.id}}">{{role.name}}</label>
                  <span id="option-{{role.id}}-hint" class="govuk-hint govuk-radios__hint">{{role.description}}</span>
                </div>
              {% endfor %}
            </div>

          </fieldset>
        </div>

        <div class="govuk-form-group">
          <button id="submit" class="govuk-button" onclick="sendAnalytics(event, 'Assign Role - Submit', 'click')">
            {{__('form_submit')}}
          </button>
          <p class="govuk-body-m">
            <a id="exit" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
              href="/organisation#"
              onclick="sendAnalytics(event, 'Assign Role - Exit', 'click')">
              {{__('form_exit')}}
            </a>
          </p>
        </div>
        
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>
    </div>
  </div>

{% endblock %}
