<div id="aircraft"></div>
{{ govukSummaryList({
   card: {
    title: {
      text: __('heading_aircraft_details')
    },
    actions: showChangeLinks and {
      items: [
        {
          href: "/garfile/craft",
          text: __('change_prefix'),
          visuallyHiddenText: __('heading_aircraft_details')
        }
      ]
    }
  },
  rows: [
    { key: { html: __('field_aircraft_registration') }, value: { text: garfile.registration or '' } },
    { key: { html: __('field_aircraft_type') }, value: { text: garfile.craftType or '' } },
    { key: { html: __('field_aircraft_base') }, value: { text: codeToAirfield(garfile.craftBase).label or '' } }
  ]
}) }}

