<dl id="customs" class="app-check-your-answers app-check-your-answers--short margin-bottom-10">
  <div class="app-check-your-answers__contents">
    <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
      {{__('heading_customs')}}
    </dt>
    {% if showChangeLinks %}
      <dd style="border-bottom: none;" class="app-check-your-answers__change">
        <a href="/garfile/customs" id="customs-change"  class="govuk-link">
          {{__('change_prefix')}}
          <span class="govuk-visually-hidden">{{__('heading_customs')}}</span>
        </a>
      </dd>
    {% endif %}
  </div>
</dl>

  {% set customsRows = [
    { key: { html: __('field_intention_review') }, value: { html: garfile.intentionValue or '' } }
  ] %}

  {% if garfile.intentionValue == 'Yes' %}
    {% set _ = customsRows.push({ key: { html: __('field_prohibited_goods_review') }, value: { html: garfile.prohibitedGoods or '' } }) %}

    {% if garfile.prohibitedGoods == 'Yes' %}
      {% set _ = customsRows.push({ key: { html: __('field_goods_declaration_review') }, value: { html: garfile.goodsDeclaration | truncate(50) | default('') } }) %}
    {% endif %}

    {% set _ = customsRows.push({ key: { html: __('field_baggage_review') }, value: { html: garfile.baggage or '' } }) %}
    {% if garfile.baggage == 'Yes' %}
      {% set _ = customsRows.push({ key: { html: __('field_baggage_declaration_review') }, value: { html: garfile.baggageDeclaration | truncate(50) | default('') } }) %}
    {% endif %}

    {% set _ = customsRows.push({ key: { html: __('field_continental_shelf_review') }, value: { html: garfile.continentalShelf or '' } }) %}
    {% if garfile.continentalShelf == 'Yes' %}
      {% set _ = customsRows.push({ key: { html: __('field_continental_shelf_declaration_review') }, value: { html: garfile.continentalShelfDeclaration | truncate(50) | default('') } }) %}
    {% endif %}
  {% endif %}

  {{ govukSummaryList({ rows: customsRows }) }}
