
{% macro sectionHeading(id, label, link, showChangeLinks, __) %}
  <h2 class="govuk-heading-m">{{ __(label) }}</h2>
  {% if showChangeLinks %}
    <p>
      <a href="{{ link }}" id="{{ id }}-change" class="govuk-link">
        {{ __('change_prefix') }}
        <span class="govuk-visually-hidden">{{ label }}</span>
      </a>
    </p>
  {% endif %}
{% endmacro %}

{% macro check_your_answers_row(label, value, id = "") %}
  <div class="app-check-your-answers__contents">
    <dt class="app-check-your-answers__question">{{ label }}</dt>
    <dd id="{{ id }}" class="app-check-your-answers__answer">{{ value }}</dd>
  </div>
{% endmacro %}

