{% extends "base-template.njk" %}

{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} Create GAR | Customs
{% endblock %}

{% set active = '/home' %}

{% block beforeContent %}
  
  <a href="/garfile/resperson" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}

    <form action="/garfile/customs" autocomplete="off" class="form-group" method="post" role="form">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-xl">{{__('section_count', 6, 9)}}</span>
        <h1 class="govuk-heading-xl">{{__('heading_customs')}}</h1>
      </legend>

      {% include "./partials/1-intention.njk" %}
      {% include "./partials/2-goods-declaration.njk" %}
      {% include "./partials/3-baggage-declaration.njk" %}
      {% include "./partials/4-continental-shelf.njk" %}
      {% include "./partials/5-passenger-reason.njk" %}
      {% include "./partials/6-aircraft-reason.njk" %}
      {% include "./partials/7-supporting-information.njk" %}

      {{ m.submit_buttons('GAR Customs', csrfToken, __) }}
    </form>
    {{ m.exit_without_saving(csrfToken, __) }}
  </div>
</div>

<script type="text/javascript">
  function hide() {
    if (document.getElementById('Yes  ').checked) {
      document.getElementById('prohibitedGoods').style.display = 'block';
      document.getElementById('baggage').style.display = 'block';
      document.getElementById('continentalShelf').style.display = 'block';
    }
    else {
      document.getElementById('prohibitedGoods').style.display = 'none';
      document.getElementById('baggage').style.display = 'none';
      document.getElementById('continentalShelf').style.display = 'none';
    }
  }
  document.addEventListener("DOMContentLoaded", hide);
</script>
{% endblock %}
