{% extends "base-template.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | Customs
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/responsibleperson" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}

    <form action="/garfile/customs" autocomplete="off" class="form-group" method="post" role="form">

      <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
        <span class="govuk-caption-xl">{{__('section_count', 6, 9)}}</span>
        <h1 class="govuk-heading-xl">{{__('heading_customs')}}</h1>
      </legend>
      <p class="govuk-body-l">{{__('caption_customs')}}</p>

      <div class="govuk-form-group {{ m.form_group_class('intentionValue', errors) }}" id="intentionValue">
        <fieldset class="govuk-fieldset" aria-describedby="intentionValue-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <p class="govuk-body-m">{{__('field_prohibited_goods_2')}}<a href=https://www.gov.uk/government/publications/travelling-to-the-uk target="_blank">Travelling to the UK (opens in new tab) </a>{{__('field_prohibited_goods_3')}}<a href=https://www.gov.uk/guidance/bringing-commercial-goods-into-great-britainin-your-baggage target="_blank">Merchandise in Baggage link (opens in new tab)</a></p>
            {{ m.error_message('intentionValue', errors, __) }}
            <h2 class="govuk-fieldset__heading">{{__('field_intention')}}</h2>
          </legend>

          <div class="govuk-radios govuk-radio--conditional" data-module="radios">
          {% for choice in intentionValueOptions %}
            <div class="govuk-radios__item">
              <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="intentionValue" value="{{choice.value}}" 
                aria-labelledby="intentionValue-label-{{ loop.index }}"
                {{ "checked" if choice.value == gar.intentionValue }} onchange=hide()>
              <label id="intentionValue-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for="{{choice.option}}">{{choice.option}}</label>
            </div> 
          {% endfor %}  
          {% if gar.intentionValue == 'Yes' %}
          <img src onerror=hide()>
          {% endif %}
          </div>
        </fieldset>
      </div> 
      <script>
      function hide() {
      if (document.getElementById('Yes  ').checked) {
        console.log("show");
        document.getElementById('prohibitedGoods').style.display = 'block';
        document.getElementById('baggage').style.display = 'block';
      }
      else {
        console.log("hide");
        document.getElementById('prohibitedGoods').style.display = 'none';
        document.getElementById('baggage').style.display = 'none';
      }
      }
      </script>

      <div class="govuk-form-group {{ m.form_group_class('prohibitedGoods', errors) }}" id="prohibitedGoods" hidden>
        <fieldset class="govuk-fieldset" aria-describedby="prohibitedGoods-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            {{ m.error_message('prohibitedGoods', errors, __) }}
            <h2 class="govuk-fieldset__heading">{{__('field_allowances_question')}}</h2>
          </legend>

          <div class="govuk-radios govuk-radio--conditional" data-module="radios">
          {% for choice in prohibitedGoodsOptions %}
            <div class="govuk-radios__item">
              <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="prohibitedGoods" value="{{choice.value}}"
                aria-labelledby="prohibitedGoods-label-{{ loop.index }}"
                {{ "data-aria-controls=conditional-goodsDeclaration" if choice.value === 'Yes' }}
                {{ "checked" if choice.value == gar.prohibitedGoods }}>
              <label id="prohibitedGoods-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for="{{choice.option}}">{{choice.option}}</label>
            </div>
            {% if choice.value == 'Yes' %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-goodsDeclaration">
              <div class="govuk-form-group">
                <span id="allowances-hint" class="govuk-hint">{{__('field_allowances_hint')}}<a href=https://www.gov.uk/bringing-goods-into-uk-personal-use target="_blank"> Overview - GOV.UK (www.gov.uk) </a></span>
                <label class="govuk-label" for="goodsDeclaration">{{__('field_goods_declaration_label_150')}}</label>
                <textarea class="govuk-textarea" id="goodsDeclaration" name="goodsDeclaration" placeholder="e.g. alcohol or tobacco"
                  rows="5" aria-describedby="prohibitedGoods-hint"
                  maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.goodsDeclaration}}</textarea>
              </div>
            </div>
            {% endif %} 
          {% endfor %}
          {# {% if gar.prohibitedGoods == 'Yes' or gar.prohibitedGoods == 'No' or gar.prohibitedGoods == "Don't Know" %}
          {% else %}
          <script>document.getElementById("No").checked = true;</script> 
          {% endif %} #}
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group {{ m.form_group_class('baggage', errors) }}" id="baggage" hidden>
        <fieldset class="govuk-fieldset" aria-describedby="baggage-hint"> 
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">{{__('field_baggage_question')}}</h2>  
          </legend>

          <div class="govuk-radios govuk-radio--conditional" data-module="radios">
          {% for choice in baggageOptions %}
            <div class="govuk-radios__item">
              <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="baggage" value="{{choice.value}}"
                aria-labelledby="baggage-label-{{ loop.index }}"
                {{ "data-aria-controls=conditional-baggageDeclaration" if choice.value === 'Yes' }}
                {{ "checked" if choice.value == gar.baggage }}>
              <label id="baggage-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for="{{choice.option}}">{{choice.option}}</label>
            </div>
              {% if choice.value == 'Yes' %}
              <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-baggageDeclaration">
                <div class="govuk-form-group">
                  <span id="baggage-hint" class="govuk-hint">{{__('field_baggage_hint')}}<a href= https://www.gov.uk/government/publications/travelling-to-the-uk target="_blank">Travelling to the UK - GOV.UK (www.gov.uk) </a> </span>
                  <label class="govuk-label" for="baggageDeclaration">{{__('field_goods_declaration_label_150')}}</label>
                  <textarea class="govuk-textarea" id="baggageDeclaration" name="baggageDeclaration" placeholder="e.g. firearms"
                    rows="5" aria-describedby="baggage-hint"
                    maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.baggageDeclaration}}</textarea>
                </div>
              </div>
            {% endif %}   
          {% endfor %}
          {# {% if gar.baggage == 'Yes' or gar.baggage == 'No' or gar.baggage == "Don't Know" %}
          {% else %}
          <script>document.getElementById("No ").checked = true;</script> 
          {% endif %} #}
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group {{ m.form_group_class('passengerTravellingReasonAnswer', errors) }}" id="passengerTravellingReasonAnswer">
        <fieldset class="govuk-fieldset" aria-describedby="passengerTravellingReasonAnswer-hint"> 
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">{{__('passenger_travelling_reason')}}</h2>  
         </legend>

      <div class="govuk-radios govuk-radios" id="conditional-passengerTravellingReason">
            <div class="govuk-form-group">
              <label class="govuk-label" for="passengerTravellingReason">{{__('passenger_travelling_reason_hint')}}</label>
              <textarea class="govuk-textarea" id="passengerTravellingReason" name="passengerTravellingReason" placeholder="{{__('passenger_travelling_reason_placeholder')}}"
              rows="5" aria-describedby="passengerTravellingReason-hint"
              maxlength="{{ MAX_TEXT_BOX_LENGTH }}">{{gar.passengerTravellingReason}}</textarea>
            </div>
          </div>
        </fieldset>
      </div>

      <div class="govuk-form-group {{ m.form_group_class('visitReason', errors) }}" id="visitReason">
        <fieldset class="govuk-fieldset" aria-describedby="visitReason-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">{{__('field_visit_reason_question')}}</h2>
            <span id="visitReason-hint" class="govuk-hint">{{__('field_visit_reason_hint')}}</span>
            {{ m.error_message('visitReason', errors, __) }}
          </legend>
          <div class="govuk-radios">
          {% for choice in reasonForVisitOptions %}
          <div class="govuk-radios__item">
            <input id="{{choice.option}}" name="visitReason" class="govuk-radios__input" type="radio"
              value="{{choice.value}}" aria-labelledby="visitReason-label-{{ loop.index }}"
              {{ "checked" if choice.value == gar.visitReason }}>
            <label id="visitReason-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for="{{choice.option}}">{{choice.option}}</label>
          </div>
          {% endfor %}
          </div>
        </fieldset>
      </div>

      {# <div class="govuk-form-group {{ m.form_group_class('fixedBasedOperator', errors) }}" id="fixedBasedOperator">
        <fieldset class="govuk-fieldset" aria-describedby="fixedBasedOperator-hint"> 
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h2 class="govuk-fieldset__heading">{{__('field_fbo_question')}}</h2>  
          </legend>

          <div class="govuk-radios govuk-radio--conditional" data-module="radios">
          {% for choice in fixedBasedOperatorOptions %}
            <div class="govuk-radios__item">
              <input id="{{choice.option}}" class="govuk-radios__input" type="radio" name="fixedBasedOperator" value="{{choice.value}}"
                aria-labelledby="fixedBasedOperator-label-{{ loop.index }}"
                {{ "data-aria-controls=conditional-fixedBasedOperatorAnswer" if choice.value === 'Fixed Based Operator' }}
                {{ "data-aria-controls=conditional-operatorAnswer" if choice.value === 'Operator' }}
                {{ "checked" if choice.value == gar.fixedBasedOperator }}>
              <label id="fixedBasedOperator-label-{{ loop.index }}" class="govuk-label govuk-radios__label" for="{{choice.option}}">{{choice.option}}</label>
            </div>
            {% if choice.value == 'Operator' %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-operatorAnswer">
              <div class="govuk-form-group">
                 <span id="baggage-hint" class="govuk-hint">{{__('field_operator_label')}}</span>
                <textarea class="govuk-textarea" id="operatorAnswer" name="operatorAnswer" 
                  rows="3" aria-describedby="operator-hint"
                  maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.operatorAnswer}}</textarea>
              </div>
            </div>
            {% endif %}
            {% if choice.value == 'Fixed Based Operator' %}
            <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-fixedBasedOperatorAnswer">
              <div class="govuk-form-group">
                <span id="baggage-hint" class="govuk-hint">{{__('field_fbo_label')}}</span>
                <textarea class="govuk-textarea" id="fixedBasedOperatorAnswer" name="fixedBasedOperatorAnswer"
                  rows="3" aria-describedby="fixedBasedOperator-hint"
                  maxlength="{{ MAX_TEXT_BOX_LENGTH - 100 }}">{{gar.fixedBasedOperatorAnswer}}</textarea>
              </div>
            </div>
          </div>     
            {% endif %}
          {% endfor %}
        </fieldset>
      </div> #}

      <div class="govuk-form-group {{ m.form_group_class('supportingInformationAnswer', errors) }}" id="supportingInformationAnswer">
        <fieldset class="govuk-fieldset" aria-describedby="supportingInformationAnswer-hint"> 
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h2 class="govuk-fieldset__heading">{{__('field_supporting_information_question')}}</h2>  
         </legend>

          <div class="govuk-radios govuk-radios" id="conditional-supportingInformation">
            <div class="govuk-form-group">
              <label class="govuk-label" for="supportingInformation">{{__('field_supporting_information_label')}}</label>
              <textarea class="govuk-textarea" id="supportingInformation" name="supportingInformation" placeholder="e.g. Unaccompanied minor travelling, animal onboard"
              rows="5" aria-describedby="supportingInformation-hint"
              maxlength="{{ MAX_TEXT_BOX_LENGTH - 50 }}">{{gar.supportingInformation}}</textarea>
            </div>
          </div>
        </fieldset>
      </div>

    
    
    {# Start buttons #}
      {{ m.submit_buttons('GAR Customs', csrfToken, __) }}
    </form>
    {{ m.exit_without_saving(csrfToken, __) }}
    {# End buttons #}
    </div>
  </div>
</div>

{% endblock %}
