{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Edit Person Details
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/people">People</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        Edit a person
      </li>
    </ol>
  </div>

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
      <form action="/people/edit" autocomplete="false" class="form-group" method="post" role="form">

      <h1 class="govuk-heading-xl">
        Edit a person
      </h1>

      <p class="govuk-body-l">Please enter the following information. This information can be re-used when submitting a GAR.</p>

      {% include "person-details.njk" %}

      <div class="form-group">
        <table class="govuk-table">
          <tr class="govuk-table__row">
            <td class="govuk-table__cell "><a class="govuk-button" href="/people">Exit without saving</a></td>
            <td class="govuk-table__cell "><input id="login" class="govuk-button" type="submit" value="Save and exit" onclick="sendAnalytics(event, 'Save and Exit', 'click')"></td>
          </tr>
        </table>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </form>

  </div>
</div>
{% endblock %}
