.status-disc {
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: .5em;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.125);
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner {
    border: 2px solid #ccc;
    border-top-color: #999;
    animation: spinner 0.6s linear infinite;
}

td {
    word-wrap:break-word;
}

.no-record{
    color: #74472E;
    background-color: #F6D7C6;
    text-transform:uppercase;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
}
.authority-to-carry-granted{
    color: #254D7D;
    background-color: #D5E2EF;
    text-transform:uppercase;
    padding: 5px 10px 5px 10px;
    font-weight: 600;
}
.valid-permission-to-travel{
    color: #2F623F;
    background-color: #D0E1D9;
    text-transform:uppercase;
    padding: 5px 10px 5px 10px;
    font-weight: 700;
}
.status-text{
    font-size: 14px;
    font-weight: 600;
}
