::backdrop {
    background: black;
    opacity: 0.5;
}

.warning-button {
    background: #b10e1e !important; 
    color: white !important;
}

.table-clickable tbody .unselectable-row:hover {
    background-color: inherit;
    cursor: default;
}


.table-clickable tbody tr td button.btn-link {
    cursor: pointer;
}

/** CSS for Organisation page */

  #organisation-search {
    float: left;
    margin-bottom: 10px;
  }

  .custom-govuk-notification-banner{
	background-color: #005ea5 !important;
    border: 5px solid #005ea5;
    margin-bottom: 50px;
}
.notification-banner-text-link{
    text-decoration: none;
    color: #005ea5;
}
.app-check-your-answers-margin-bottom{
    margin-bottom: 10px;
}