::backdrop {
    background: black;
    opacity: 0.5;
}

.warning-button {
    background: #b10e1e !important;
    color: white !important;
}

.table-clickable tbody .unselectable-row:hover {
    background-color: inherit;
    cursor: default;
}


.table-clickable tbody tr td button.btn-link {
    cursor: pointer;
}

#organisation-search {
    float: left;
    margin-bottom: 10px;
}

.notification-banner-text-link{
    text-decoration: none;
    color: #005ea5 !important;
}
.heading-text-spacing{
    margin: 40px 0 50px 0 !important;
}
