{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Manage Organisation
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}

    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}

    {% if successMsg %}
      {% include "common/templates/includes/success-action.njk" %}
    {% endif %}

    <h1 class="govuk-heading-l">
      Manage your Organisation
    </h1>

      <div>
        <form action="/organisation/manage" autocomplete="false" class="form-group" method="post" role="form" >
          <p class="govuk-body-m">
            Manage your organisation details and the details of any craft or people of your organisation.
          </p>
          <br>

          <div class="govuk-tabs" data-module="tabs">
            <h2 class="govuk-tabs__title">
              Contents
            </h2>

            <ul class="govuk-tabs__list">
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#OrganisationDetails">
                  Organisation Details
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#OrganisationUsers">
                  Organisation Users
                </a>
              </li>
              <li class="govuk-tabs__list-item">
                <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#SavedPeople">
                  Saved People
                </a>
              </li>
            </ul>

            <section class="govuk-tabs__panel" id="OrganisationDetails">
              <h2 class="govuk-heading-l">Organisation Details</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Attribute</th>
                    <th class="govuk-table__header" scope="col">Current Value</th>
                    <th class="govuk-table__header" scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell ">
                      Name
                    </td>
                    <td class="govuk-table__cell ">
                      {{cookie.getOrganisationName()}}
                    </td>
                    <td>
                      <div>
                        <a href="/organisation/editorganisation" class="button">Edit</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </section>

            <section class="govuk-tabs__panel" id="OrganisationUsers">
              <h2 class="govuk-heading-l">Organiation Users</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Email</th>
                    <th class="govuk-table__header" scope="col">First Name</th>
                    <th class="govuk-table__header" scope="col">Last Name</th>
                    <th class="govuk-table__header" scope="col">Role</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for user in cookie.getOrganisationUsers() %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell ">{{ user.email }} </td>
                    <td class="govuk-table__cell ">{{ user.firstName }}</td>
                    <td class="govuk-table__cell ">{{ user.lastName }}</td>
                    <td class="govuk-table__cell ">{{ user.role.name }}</td>
                    {% if not ((cookie.getUserRole() == 'Manager') and (user.role.name == 'Admin')) %}
                    <td class="govuk-table__cell "><button class="link btn-link" name="editUser" value="{{user.userId}}">Edit</button></td>
                    {% endif %}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if cookie.getUserRole() === 'Admin' or cookie.getUserRole() === 'Manager' %}
              <h2 class="govuk-heading-m">
                  Invite users to your Organisation
              </h2>
              <a href='/organisation/inviteusers/' class='govuk-button'>Invite Users</a>
              {% endif %}
            </section>

            <section class="govuk-tabs__panel" id="SavedPeople">
              <h2 class="govuk-heading-l">Saved People</h2>
              <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">First Name</th>
                    <th class="govuk-table__header" scope="col">Last Name</th>
                    <th class="govuk-table__header" scope="col">Type</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                  {% for person in savedPeople %}
                  <tr class="govuk-table__row">
                    <td class="govuk-table__cell ">{{ person.firstName }} </td>
                    <td class="govuk-table__cell ">{{ person.lastName }}</td>
                    <td class="govuk-table__cell ">{{ person.peopleType.name }}</td>
                    <td class="govuk-table__cell "><button class="link btn-link" name="editPerson" value="{{person.personId}}">Edit</button></td>
                    {# <td class="govuk-table__cell "><button class="link btn-link" name="deletePerson" value="{{person.personId}}">Delete</button></td> #}
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              {% if cookie.getUserRole().toLowerCase() === 'admin' or cookie.getUserRole().toLowerCase() === 'manager' %}
              <h2 class="govuk-heading-m">
                  Save a Person Details
              </h2>
              <p class="govuk-body-m">
                Save the details of Captain, Crew  or Passengers that you regularly submit GARs for.
              </p>
                <a href='/organisation/savedpeople/add' class='govuk-button' >Save a Person</a>

              {% endif %}
            </section>

            <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
        </form>
      </div>
{% endblock %}
