{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Organisation Created
{% endblock %}

{% set active = '/organisation' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

  <div class="govuk-panel govuk-panel--confirmation">
    <h1 class="govuk-panel__title">
      {{__('organisation_created')}}
    </h1>
  </div>

	</div>
</div>

{% endblock %}
