{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Invite User
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}


  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}
  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
    <form action="/organisation/inviteusers" autocomplete="false" class="form-group"
      method="post" role="form">

      <h1 class="govuk-heading-xl">Invite a user</h1>
      <p class="govuk-body-l">Please begin by providing the following information to register a user account in your organisation</p>

       <div class="govuk-form-group {{ m.form_group_class('invite', errors) }}">

          <div class="govuk-form-group {{ m.form_group_class('fname', errors) }}">
            <label class="govuk-label govuk-label--m" for="fname">First Name</label>
            {{ m.error_message('fname', errors) }}
            <span class="govuk-hint">
              Enter the first name of the user
            </span>
            <span class="field-validation-valid error-message" data-valmsg-for="fname"
              data-valmsg-replace="true" style="display:block">
            </span>
            <input class="govuk-input"
              id="fname" name="fname" style="width:100%" type="text"
              value="" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('lname', errors) }}">
            <label class="govuk-label govuk-label--m" for="lname">Last Name</label>
            {{ m.error_message('lname', errors) }}
            <span class="govuk-hint">
              Enter the last name of the user
            </span>
            <span class="field-validation-valid error-message" data-valmsg-for="lname"
              data-valmsg-replace="true" style="display:block">
            </span>
            <input  class="govuk-input"
              id="lname" name="lname" style="width:100%" type="text"
              value="" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('email', errors) }}">
            <label class="govuk-label govuk-label--m" for="email">Email Address</label>
            {{ m.error_message('email', errors) }}
            <span class="govuk-hint">
              Enter the email of the user
            </span>
            <span class="field-validation-valid error-message" data-valmsg-for="email"
              data-valmsg-replace="true" style="display:block">
            </span>
            <input  class="govuk-input"
              id="email" name="email" style="width:100%" type="text"
              value="" />
          </div>

          <div class="govuk-form-group {{ m.form_group_class('cemail', errors) }}">
            <label class="govuk-label govuk-label--m" for="cemail">Confirm Email Address</label>
            {{ m.error_message('cemail', errors) }}
            <span class="govuk-hint">
              Confirm the email of the user
            </span>
            <span class="field-validation-valid error-message" data-valmsg-for="cemail"
              data-valmsg-replace="true" style="display:block">
            </span>
            <input class="govuk-input"
              id="cemail" name="cemail" style="width:100%" type="text"
              value="" />
          </div>

        </div>

         <div class="form-group">
          <input id="createorg" class="govuk-button" type="submit" value="Submit"
          onclick="sendAnalytics(event, 'Invite User - submit', 'click')">
        </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    </form>
  </div>
 </div>

{% endblock %}
