{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | Review
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/supportingdocuments" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-xl">{{__('section_count', 8, 8)}}</span>
    <h1 class="govuk-heading-xl">{{__('title_review_gar')}}</h1>

    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}

    {% include "check-your-answers.njk" %}

    <form action="/garfile/review" method="post" class="form">
      <h2 class="govuk-heading-m">{{__('heading_submit_gar')}}</h2>

      <p class="govuk-body-m">{{__('submit_gar_caption')}}</p>

      <input id='review-submit' type="submit" class="govuk-button" value="{{__('review_gar_submit')}}">
      {# <p class="govuk-body-m">
        <a id='review-exit' href="/home">{{__('review_gar_exit')}}</a>
      </p> #}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
    <form id="cancel-form" action="/garfile/view" method="post" role="form">
  {# <p class="govuk-body-m"> #}
    <button type="submit" id="review-exit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
      {{__('review_gar_exit')}}
    </button>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  {# </p> #}
</form>
  </div>
</div>
{% endblock %}
