{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Create GAR | Review
{% endblock %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}

<span class="govuk-caption-xl">Section 8 of 8</span>
<h1 class="govuk-heading-xl">Check all the information you provided before submitting your GAR</h1>


<div class="govuk-grid-row">
	{% if error %}
  <div class="govuk-grid-column-full">
	 	<div class="govuk-error-summary" role="alert" aria-labelledby="error-summary-heading" tabindex="-1">
			<h2 class="govuk-error-summary__title" id="error-summary-heading">
				There's a problem
			</h2>
      {% for err in error.message %}
					<span><p class="govuk-body-m">{{err}}</p></span><br>
      {% endfor %}
	    </div>
	</div>
  	{% endif %}

   <div class="govuk-grid-column-two-thirds">

  <div class="previous-answers">
	<div class="done-questions">
		<table class="govuk-table">
      <caption class="govuk-table__caption">Aircraft Details
        <a href="/garfile/craft/" style="float: right">Change</a>
      </caption>
			<tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        </tr>
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">Aircraft Registration</td>
					<td class="govuk-table__cell">{{garfile.registration}}</td>
				</tr>
        <tr class="govuk-table__row">
					<td class="govuk-table__cell">Aircraft Type</td>
					<td class="govuk-table__cell">{{garfile.craftType}}</td>
				</tr>

        <tr class="govuk-table__row">
					<td class="previous-question-title">Home / Usual Base</td>
					<td class="previous-question-body">{{garfile.craftBase}}</td>
				</tr>
			</tbody>
		</table>

		<table class="govuk-table">
      <caption class="govuk-table__caption">Arrival Details
        <a href="/garfile/arrival/" style="float: right">Change</a>
      </caption>
			<tbody class="govuk-table__body">
         <tr class="govuk-table__row">
          <td class="govuk-table__cell">Arrival Date</td>
          <td class="govuk-table__cell">{{garfile.arrivalDate}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Arrival Time (UTC)</td>
          <td class="govuk-table__cell">{{garfile.arrivalTime}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"> Arrival Airport</td>
          <td class="govuk-table__cell">{{garfile.arrivalPort}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Arrival Airport Coordinates</td>
          <td class="govuk-table__cell">Lat&nbsp;{{garfile.arrivalLat}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="govuk-table__cell">Long&nbsp;{{garfile.arrivalLong}}</td>
        </tr>
			</tbody>
		</table>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Departure Details
        <a href="/garfile/departure/" style="float: right">Change</a>
      </caption>
			<tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Departure Date</td>
          <td class="govuk-table__cell">{{garfile.departureDate}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Departure Time (UTC)</td>
          <td class="govuk-table__cell">{{garfile.departureTime}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Departure Airport</td>
          <td class="govuk-table__cell">{{garfile.departurePort}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Departure Airport Coordinates</td>
          <td class="govuk-table__cell">Lat&nbsp;{{garfile.departureLat}}</td>
        </tr>
        <tr>
          <td></td>
          <td class="govuk-table__cell">Long&nbsp;{{garfile.departureLong}}</td>
        </tr>
			</tbody>
		</table>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Manifest Details
        <a href="/garfile/manifest/" style="float: right">Change</a>
      </caption>
			<tbody class="govuk-table__body">
				<tr class="govuk-table__row">
					<td  colspan="10"><h2 class ="govuk-heading-s">People on Board</h2></td>
					<td/>
				</tr>
        <tr class="govuk-table__row">
            {% for header in manifestFields.garfields.manifest.fields %}
          <th class="previous-question-title" scope="col">{{header.name}}</th>
           {% endfor %}
        </tr>
          {% for person in garpeople.items%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ person.peopleType.name }} </td>
            <td class="govuk-table__cell">{{ person.firstName }}</td>
            <td class="govuk-table__cell">{{ person.lastName }}</td>
            <td class="govuk-table__cell">{{ person.gender }}</td>
            <td class="govuk-table__cell">{{ person.dateOfBirth }}</td>
            <td class="govuk-table__cell">{{ person.placeOfBirth }}</td>
            <td class="govuk-table__cell">{{ person.nationality }}</td>
            <td class="govuk-table__cell">{{ person.documentType }}</td>
            <td class="govuk-table__cell">{{ person.documentNumber }}</td>
            <td class="govuk-table__cell">{{ person.documentExpiryDate }}</td>
            <td class="govuk-table__cell">{{ person.issuingState }}</td>
            </tr>
            {% endfor %}
            <tr class="govuk-table__row">
              <td class="govuk-table__header" colspan ="10">Total People on Board</td>
              <td class="govuk-table__cell ">{{garpeople.items.length}}</td>
            </tr>
        </tbody>
    </table>

    <br>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Responsible Person Details
        <a href="/garfile/responsibleperson/" style="float: right">Change</a>
      </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Given Name</td>
          <td class="govuk-table__cell">{{garfile.responsibleGivenName}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Surname</td>
          <td class="govuk-table__cell">{{garfile.responsibleSurname}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Address</td>
          <td class="govuk-table__cell">{{garfile.responsibleAddressLine1}}
          <br>{{garfile.responsibleAddressLine2}}
          <br>
          {{garfile.responsibleTown}}
          <br>
          {{garfile.responsibleCounty}}
          <br>
          {{garfile.responsiblePostcode}}
          </td>
          </tr>

         <tr class="govuk-table__row">
          <td class="govuk-table__cell">Contact Telephone Number</td>
          <td class="govuk-table__cell">{{garfile.responsibleContactNo }}</td>
        </tr>
      </tbody>
    </table>

    <br>

    <table class="govuk-table">
      <caption class="govuk-table__caption">Customs Details
        <a href="/garfile/customs/" style="float: right">Change</a>
      </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">Carrying Prohibited Goods</td>
          <td class="govuk-table__cell">{{garfile.prohibitedGoods}}</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="previous-question-title">Intentions Declared</td>
          <td class="previous-question-body">{{garfile.garfile.prohibitedGoods.goodsDeclared}}</td>
        </tr>
        <tr class="govuk-table__row">
					<td class="previous-question-title">Is Aircraft in free circulation in the EU?</td>
					<td class="previous-question-body">{{garfile.freeCirculation}}</td>
        </tr>
        <tr class="govuk-table__row">
					<td class="previous-question-title">Reason for Aircraft visit to EU?</td>
					<td class="previous-question-body">{{garfile.visitReason}}</td>
        </tr>
      </tbody>
    </table>

    <br>

     <table class="govuk-table">
        <caption class="govuk-table__caption">Supporting Documentation Details
          <a href="/garfile/supportingdocuments/" style="float: right">Change</a>
        </caption>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
            {% for header in manifestFields.garfields.supportingDocs.fields %}
          <th class="govuk-table__header" scope="row">{{header.name}}</th>
           {% endfor %}
        </tr>
        {% for file in supportingdocs.items %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">{{file.fileName}}</td>
          <td class="govuk-table__cell">{{file.size}}</td>
          <td class="govuk-table__cell">Done</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
	</div>
</div>

<form action="/garfile/review" method="post" class="form">
	<h2 class="govuk-heading-m">Send your submission</h2>

	<p class="govuk-body-m">
		By submitting this information you're confirming that the details you've provided are correct to the best of your knowledge.
	</p>

	<div class="form-group">
		<input type="submit" class="govuk-button" value="Submit">
	</div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
</form>
</div>
</div>
{% endblock %}
