{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}
	GAR | Account Deleted
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row margin-top-30">
    <div class="govuk-grid-column-two-thirds margin-left-45">
      {{ govukPanel({
          titleText: "Account deleted"
          })
      }}

      <p class="govuk-body-m">
        We have sent you a confirmation email.
      </p>
    </div>
</div>
{% endblock %}
