{% from "dist/govuk/components/button/macro.njk" import govukButton%}
{% from "dist/govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

<div class="govuk-grid-column-two-thirds govuk-!-margin-left-12 govuk-!-margin-top-8">
  <h1 class="govuk-heading-l">
    Create Account
  </h1>

  {{ govukSummaryList({
    rows: [
      {
        key: { text: "Email" },
        value: { html: email | truncate(50) }
      },
      {
        key: { text: "Name" },
        value: { html: firstName ~ " " ~ lastName },
        actions: {
          items: [
            {
              href: "/onelogin/register?action=change-name",
              text: "Change",
              visuallyHiddenText: "your name"
            }
          ]
        }
      }
    ],
    classes: "govuk-!-margin-bottom-2"
  }) }}

  <div class="govuk-!-margin-top-0">
    <h2 class="govuk-heading-m">Declaration</h2>
    <div class="govuk-body">
      <p>I confirm that:</p>
      <ul>
        <li>the information I have provided is correct to the best of my knowledge</li>
        <li>I have read and accept the privacy policy</li>
      </ul>
      <p>I understand that the Home Office may carry out checks on information that I submit.</p>
    </div>

    <div class="govuk-!-margin-top-14">
      <form method="post" action="/onelogin/register" class="prevent-double-click">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

        <div class="govuk-checkboxes govuk-checkboxes--small" id="nameDeclaration">
          <div class="govuk-checkboxes__item">
            <input type="checkbox" class="govuk-checkboxes__input" name="nameConfirmDeclaration" id="nameConfirmDeclaration">
            <label class="govuk-label govuk-checkboxes__label" for="nameConfirmDeclaration">
              I understand and agree with these declarations
            </label>
          </div>
        </div>

        <div class="govuk-button-group govuk-!-margin-top-7">
          {{ govukButton({element: "button", text: "Create Account" }) }}

          <p class="govuk-link govuk-!-display-inline-block govuk-!-margin-left-6 govuk-!-margin-top-1">
            <a href="/">Cancel</a>
          </p>
        </div>
      </form>
    </div>
  </div>
</div>
