{% from "govuk/components/button/macro.njk" import govukButton%}

<div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading">
      Create Account
    </h1>

   <dl class="app-check-your-answers app-check-your-answers--long">
        <div class="app-check-your-answers__contents" style="width: 100%;">
            <dt class="app-check-your-answers__question">Email</dt>
            <dd class="app-check-your-answers__answer">{{ email | truncate(50) }}</dd>
            <dd class="app-check-your-answers__change"></dd>
        </div>

        <div class="app-check-your-answers__contents">
            <dt class="app-check-your-answers__question">Name</dt>
            <dd class="app-check-your-answers__answer">{{ firstName }} {{ lastName }}</dd>
            <dd class="app-check-your-answers__change">
                <a class="govuk-link" href="/onelogin/register?action=change-name">Change<span class="govuk-visually-hidden"> your name</span></a>
            </dd>
        </div>
    </dl>

    <div style="margin-top: -20px;">
      <h2 class="govuk-heading-m">Declaration</h2>
      <div class="govuk-body">
        <p>I confirm that:
          <ul>
              <li>the information I have provided is correct to the best of my knowledge</li>
              <li>I have read and accept the privacy policy</li>
          </ul>
          </p>
          <p>
            I understand that the Home Office may carry out checks on information that I submit.
          </p>
      </div>

      <div style="margin-top: 55px;">
        <form method="post" action="/onelogin/register">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
           <div>
             <input type="checkbox" name="nameConfirmDeclaration"/>
             <span class="govuk-body">I understand and agree with these declarations </span>
           </div>

           <div class="govuk-button-group" style="margin-top: 29px;">
             {{ govukButton({element: "button", text: "Create Account" }) }}

              <p class="govuk-link item-center" style="display: inline-block; margin-left: 24px; margin-top: 6px;">
                <a href="/">Cancel</a>
               </p>
          </div>
        </form>
      </div>
    </div>

