{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/banners.njk" as b %}
{% import "common/templates/includes/location.njk" as l %}
{% import "common/templates/includes/date-time.njk" as dt %}

{% block pageTitle %}
  {{__('error_prefix') if errors}} Create GAR | Arrival | {{__('title')}}
{% endblock %}

{% set active = '/home' %}
{% set arrival = cookie.getGarArrivalVoyage()%}

{% block beforeContent %}
  
  <a href="/garfile/departure" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

      <form id="page-form" action="/garfile/arrival" autocomplete="off" class="form-group" method="post" role="form">
        <span class="govuk-caption-xl">{{ __('section_count', 2, 9) }}</span>
        <h1 class="govuk-heading-xl">{{ __('heading_arrival_details') }}</h1>
        <p class="govuk-body-l">{{ __('arrival_details_caption') }}</p>

        {{ dt.dateInput('arrival', cookie, arrival.arrivalDate,"field_arrival_date", "field_date_hint", errors, __) }}
        {{ dt.timeInput('arrival', cookie, arrival.arrivalTime, "field_time_hint", errors, __) }}

        {% set legendLabel = ['<h2 class="govuk-fieldset__heading">', __('field_port_choice_arrival'), '</h2>'] | join %}
        {% set warningMessage = b.coa_designation_regulation_change(false)%}
        {% set isPortChoice = (arrival.arrivalPortChoice === 'Yes')%}
        {% set portCode = arrival.arrivalPort%}
        {% set lat = arrival.arrivalLat%}
        {% set long = arrival.arrivalLong%}
        {% set prefix = 'arrival'%}

        {{ l.location(legendLabel,
                      warningMessage,
                      isPortChoice,
                      portCode,
                      lat,
                      long,
                      prefix,
                      errors,
                      __) }}

        {# Start buttons #}
        {{ m.submit_buttons('GAR Arrival', csrfToken, __) }}
      </form>
      {{ m.exit_without_saving(csrfToken, __) }}
      {# End buttons #}
    </div>
  </div>
  <script type="text/javascript" src="/utils/validator.js"></script>
{% endblock %}
