{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | Arrival | {{__('title')}}
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/departure" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
	  <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

      <form id="page-form" action="/garfile/arrival" autocomplete="off" class="form-group" method="post" role="form">

        {# Start Arrival date #}
        <div class="govuk-form-group" id="arrivalDate">
          <span class="govuk-caption-xl">{{__('section_count', 2, 8)}}</span>
          <h1 class="govuk-heading-xl">{{__('heading_arrival_details')}}</h1>
          <p class="govuk-body-l">{{__('arrival_details_caption')}}</p>
          <div class="{{ m.form_group_class('arrivalDate', errors) }}">
            <fieldset class="govuk-fieldset" aria-describedby="arrivalDate-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">{{__('field_arrival_date')}}</h2>
            </legend>
            <span id="arrivalDate-hint" class="govuk-hint">{{__('field_date_hint')}}</span>
            {{ m.error_message('arrivalDate', errors, __) }}
            <div class="govuk-date-input" id="arrival">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="arrivalDay">
                    <span class="govuk-visually-hidden">{{__('field_arrival_hint')}}</span>{{__('field_day')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrivalDay"
                    name="arrivalDay" type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'day');"
                    value="{{cookie.dateSlice('day', cookie.getGarArrivalVoyage().arrivalDate)}}"
                    {{ 'aria-describedby=arrivalDate-error' if errors | containsError('arrivalDate') }}>
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="arrivalMonth">
                    <span class="govuk-visually-hidden">{{__('field_arrival_hint')}}</span>{{__('field_month')}}
                  </label>
                  <span id="arrival-month-hint" class="govuk-visually-hidden">{{__('field_month_hint')}}</span>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrivalMonth"
                    name="arrivalMonth" type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'month');"
                    value="{{cookie.dateSlice('month', cookie.getGarArrivalVoyage().arrivalDate)}}"
                    aria-describedby="{{ 'arrivalDate-error ' if errors | containsError('arrivalDate') }}arrival-month-hint">
                  </div>
                </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="arrivalYear">
                    <span class="govuk-visually-hidden">{{__('field_arrival_hint')}}</span>{{__('field_year')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="arrivalYear"
                    name="arrivalYear" type="text" maxLength=4  onKeyup="value = sanitiseValue(this.value, 'year');"
                    value="{{cookie.dateSlice('year', cookie.getGarArrivalVoyage().arrivalDate)}}"
                    {{ 'aria-describedby=arrivalDate-error' if errors | containsError('arrivalDate') }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
      </div>
        {# End arrival date #}

        {# Start arrival time #}
        <div class="govuk-form-group {{ m.form_group_class('arrivalTime', errors) }}" id="arrivalTime">
          <fieldset class="govuk-fieldset" aria-describedby="arrivalTime-hint" role="group">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">{{__('field_arrival_time')}}</h2>
            </legend>
            <span id="arrivalTime-hint" class="govuk-hint">{{__('field_time_hint')}}</span>
            {{ m.error_message('arrivalTime', errors, __) }}

            <div class="govuk-date-input" id="arrivalTime">
              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="arrivalHour">
                    <span class="govuk-visually-hidden">{{__('field_arrival_hint')}}</span>{{__('field_hour')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrivalHour"
                    name="arrivalHour" type="text" maxLength=2 onKeyup="value = sanitiseValue(this.value, 'hour');"
                    value="{{cookie.timeSlice('hour', cookie.getGarArrivalVoyage().arrivalTime)}}"
                    {{ 'aria-describedby=arrivalTime-error' if errors | containsError('arrivalTime') }}>
                </div>
              </div>

              <div class="govuk-date-input__item">
                <div class="govuk-form-group">
                  <label class="govuk-label govuk-date-input__label" for="arrivalMinute">
                    <span class="govuk-visually-hidden">{{__('field_arrival_hint')}}</span>{{__('field_minute')}}
                  </label>
                  <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="arrivalMinute"
                    name="arrivalMinute" type="text" maxLength=2  onKeyup="value = sanitiseValue(this.value, 'minute');"
                    value="{{cookie.timeSlice('minute', cookie.getGarArrivalVoyage().arrivalTime)}}"
                    {{ 'aria-describedby=arrivalTime-error' if errors | containsError('arrivalTime') }}>
                </div>
              </div>
            </div>
          </fieldset>
        </div>
        {# End arrival time #}

        <div class="{{ m.form_group_class('portChoice', errors) }}">
          <fieldset class="govuk-fieldset" aria-describedby="portChoice-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
              <h2 class="govuk-fieldset__heading">{{__('field_port_choice_arrival')}}</h2>
            </legend>
            <span id="portChoice-hint" class="govuk-hint">{{__('field_port_choice_hint')}}</span>
            {{ m.error_message('portChoice', errors, __) }}
            <div class="govuk-radios govuk-radios--conditional" data-module="radios">
              <div class="govuk-radios__item">
                <input id="portChoiceCode" name="portChoice" class="govuk-radios__input"
                  type="radio" value="Yes"{{ ' checked' if cookie.getGarArrivalVoyage().arrivalPort != undefined and cookie.getGarArrivalVoyage().arrivalPort != 'ZZZZ'}}
                  data-aria-controls="portChoiceCodeContainer" aria-labelledby="portChoiceCode-label">
                <label id="portChoiceCode-label" class="govuk-label govuk-radios__label" for="portChoiceCode">{{__('field_choice_yes')}}</label>
              </div>
              <div id="portChoiceCodeContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="{{ m.form_group_class('arrivalPort', errors) }}">
                  <label id="arrivalPort-label" class="govuk-label" for="arrivalPort">{{__('field_port_code')}}</label>
                  {{ m.hint('arrivalPort', __('field_port_hint')) }}
                  {{ m.error_message('arrivalPort', errors, __) }}
                  <select id="arrivalPort" name="arrivalPort" class="govuk-select" 
                    value="{{ cookie.getGarArrivalVoyage().arrivalPort | upper }}"
                    aria-labelledby="arrivalPort-label"
                    aria-describedby="arrivalPort-hint{{ ' arrivalPort-error' if errors | containsError('arrivalPort') }}">
                    {% for airport in airportList | sort(attribute = 'label') %}
                      <option value="{{ airport.id }}" {{ 'selected=selected' if cookie.getGarArrivalVoyage().arrivalPort == airport.id }}>{{ airport.label }}</option>
                    {% endfor%}
                  </select>
                </div>
              </div>
              <div class="govuk-radios__item">
                <input id="portChoiceCoordinates" name="portChoice" class="govuk-radios__input"
                type="radio" value="No"{{ ' checked' if cookie.getGarArrivalVoyage().arrivalPort == 'ZZZZ'}}
                data-aria-controls="portChoiceCoordinatesContainer" aria-labelledby="portChoiceCoordinates-label">
                <label id="portChoiceCoordinates-label" class="govuk-label govuk-radios__label" for="portChoiceCoordinates">{{__('field_choice_no')}}</label>
              </div>
              <div id="portChoiceCoordinatesContainer" class="govuk-radios__conditional govuk-radios__conditional--hidden">
                <div class="govuk-form-group">
                  {{ m.hint('arrivalCoordinates', __('field_coordinate_hint')) }}
                </div>
                {# Start arrival coords #}
                <div class="govuk-form-group {{ m.form_group_class('arrivalLat', errors) }}">
                  <label class="govuk-label" for="arrivalLat">{{__('field_latitude')}}</label>
                  {{ m.hint('arrivalLatitude', __('field_latitude_hint')) }}
                  {{ m.error_message('arrivalLat', errors, __) }}
                  <input class="govuk-input govuk-input--width-10" id="arrivalLat" name="arrivalLat" autocomplete="off" type="text"
                    value="{{ cookie.getGarArrivalVoyage().arrivalLat }}" aria-describedby="arrivalCoordinates-hint arrivalLatitude-hint{{ ' arrivalLat-error' if errors | containsError('arrivalLat')}}"/>
                </div>

                <div class="govuk-form-group {{ m.form_group_class('arrivalLong', errors) }}">
                  <label class="govuk-label" for="arrivalLong">{{__('field_longitude')}}</label>
                  {{ m.hint('arrivalLongitude', __('field_longitude_hint')) }}
                  {{ m.error_message('arrivalLong', errors, __) }}
                  <input class="govuk-input govuk-input--width-10" id="arrivalLong" name="arrivalLong" autocomplete="off" type="text"
                    value="{{ cookie.getGarArrivalVoyage().arrivalLong }}" aria-describedby="arrivalCoordinates-hint arrivalLongitude-hint{{ ' arrivalLong-error' if errors | containsError('arrivalLong') }}"/>
                </div>
                {# End arrival coords #}
              </div>
            </div>
          </fieldset>
        </div>

    {# Start buttons #}
        {{ m.submit_buttons('GAR Arrival', csrfToken, __) }}
    </form>
    {{ m.exit_without_saving(csrfToken, __) }}
    {# End buttons #}
    </div>
  </div>
  <script type="text/javascript" src="/javascripts/accessible-autocomplete.min.js"></script>
  <script type="text/javascript" src="/utils/validator.js"></script>
  <script type="text/javascript">
    accessibleAutocomplete.enhanceSelectElement({
      selectElement: document.querySelector('#arrivalPort'),
      minLength: 2,
    });
    document.getElementById('arrivalPort').setAttribute('aria-describedby', 'arrivalPort-hint{{ ' arrival-error' if errors | containsError('arrivalPort') }}');
  </script>
{% endblock %}
