{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
{{__('error_prefix') if errors}} Create GAR | Review
{% endblock %}

{% set active = '/home' %}

{% block header %}
{% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
{% include "phase.njk" %}
<a href="/garfile/supportingdocuments" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">{{__('title_submit_gar_amg')}}</h1>
    <div id="pane">
      {% include "app/garfile/amg/pane.njk" %}
    </div>
  </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>  
<script>
  $(function(){
    setInterval(function(){
      $('#pane').load('/garfile/amg?template=pane');
    }, 5000);
  })
</script>
{% endblock content %}