{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{ __('error_prefix') if errors }} GAR | Create Organisation
{% endblock %}

{% block header %}
  {% include "common/templates/includes/header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}

    <h1 class="govuk-heading-xl">{{__('nav_bar_create_organisation')}}</h1>
    <p class="govuk-body-l">{{__('create_organisation_caption_1')}}</p>
    <p class="govuk-body-m">{{__('create_organisation_caption_2')}}</p>

    <form action="/organisation/create" autocomplete="off" class="form-group" method="post" role="form" >
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">{{__('assistive_warning')}}</span>{{__('create_organisation_warning')}}</strong>
      </div>

      <p class="govuk-body-l">{{__('create_organisation_caption_3')}}</p>
      <div class="{{ m.form_group_class('orgName', errors) }}">
        <label class="govuk-label govuk-label--m" for="orgName">{{__('field_organisation_name')}}</label>
        {{ m.error_message('orgName', errors, __) }}
        <input id="orgName" name="orgName" autocomplete="off" class="govuk-input"
          type="text" value="" {{ 'aria-describedby=orgName-error' if errors | containsError('orgName') }}>
      </div>
      <div class="govuk-form-group">
        {# <input id="create" class="govuk-button" type="submit" value="Create"
          onclick="sendAnalytics(event, 'Create Organisation - submit', 'click')"> #}
        <button id="create" class="govuk-button" onclick="sendAnalytics(event, 'Create Organisation - Submit', 'click')">
          {{__('nav_bar_create_organisation')}}
        </button>
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</div>
{% endblock %}
