{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Create Organisation
{% endblock %}

{% block header %}
  {% include "common/templates/includes/header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
  {% import "common/templates/includes/macros.njk" as m %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <h1 class="govuk-heading-xl">Create organisation</h1>
  <p class="govuk-body-l">Creating an organisation enables you to collaborate with other users on creating and submitting GARs.</p>
	<p class="govuk-body-m">There is no restriction on who can create an organisation and you retain full control over which users belong to, and can submit GARs on behalf of, your organisation.</p>

    <form action="/organisation/create" autocomplete="off" class="form-group"
      method="post" role="form" >
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text"><span class="govuk-warning-text__assistive">Warning</span> Creating an organisation will not transfer any GARs you have already drafted or submitted personally. If you would like to retain access to these, please register a new account and create your organisation using this. Alternatively to retain access to these GARs, register a new account and update the email address associated with this one.</strong>
      </div>

      <p class="govuk-body-l">Please provide the following information to create an organisation.</p>
      <div class="govuk-form-group {{ m.form_group_class('Orgname', errors) }}">
          <label class="govuk-label govuk-label--m" for="Orgname">Organisation name</label>
          {{ m.error_message('Orgname', errors) }}
          <span class="field-validation-valid error-message" data-valmsg-for="Orgname"
            data-valmsg-replace="true" style="display:block">
          </span>
          <input autocomplete="off" class="govuk-input"
            data-val="true" data-val-required= "The organisation name is required."
            id="Orgname" name="Orgname" style="width:100%" type="text"
            value="" />
        </div>
         <div class="govuk-form-group">
          <input id="createorg" class="govuk-button" type="submit" value="Create"
          onclick="sendAnalytics(event, 'Create Organisation - submit', 'click')">
        </div>
          <input type="hidden" name="_csrf" value="{{ csrfToken }}" />

    </form>
  </div>
 </div>



</main>
{% endblock %}
