{% extends "base-template.njk" %}

{% block pageTitle %}
Create GAR | Start
{% endblock %}

{% block head %}
	{% include "head.njk" %}
{% endblock %}

{% block header %}
	{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
	{% include "phase.njk" %}
{% endblock %}

{% block content %}
	<p class="govuk-body-l">
		<span style="background-color: #f7d352">
		We have introduced Passenger Response Messages to sGAR from January 2024. For more information, please refer to the <a href="/help">Help &amp; Guidance page</a>.
			<br/>
			The Home Office will be hosting some engagement events to provide support and clarity regarding these changes, please check the <a href="/welcome/index#events">events tab</a> if you would like to attend. 
		</span>
	</p>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-xl">{{__('title')}}</h1>

			<p class="govuk-body-l">{{__('welcome_caption')}}</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>{{__('welcome_caption_list_1')}}
					{# Submit a GAR #}
				</li>
				<li>{{__('welcome_caption_list_2')}}
					{# View or cancel a GAR and edit draft GARs #}
				</li>
				<li>{{__('welcome_caption_list_3')}}
					{# Add, remove or manage people on your flight #}
				</li>
			</ul>

			<a id="start_now" href="/login" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8">
				{{__('button_start_now')}}
			</a>

			<div class="govuk-tabs" data-module="tabs">
				<h2 class="govuk-tabs__title">
				Contents
			</h2>

				<ul class="govuk-tabs__list">
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#events">
							{{__('welcome_tab_3')}}
							{# Events #}
						</a>
					</li>
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#more-information">
							{{__('welcome_tab_1')}}
							{# More information #}
						</a>
					</li>
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#other-ways">
							{{__('welcome_tab_2')}}
							{# Other ways to submit a GAR #}
						</a>
					</li>
				</ul>

				<section class="govuk-tabs__panel" id="more-information">
					<h2 class="govuk-heading-s">{{__('welcome_tab_1_content_caption')}}</h2>
					{# You’ll need the following: #}

					<ul class="govuk-list govuk-list--bullet">
						<li>{{__('welcome_tab_1_content_list_1')}}</li>
						{# Aircraft details (including registration number and base) #}
						<li>{{__('welcome_tab_1_content_list_2')}}</li>
						{# Arrival and departure details (date, location and scheduled times) #}
						<li>{{__('welcome_tab_1_content_list_3')}}</li>
						{# Captain, crew and passenger details (including travel document information and UK visiting address) #}
						<li>{{__('welcome_tab_1_content_list_4')}}</li>
						{# Name and telephone number of the person responsible for goods on board #}
						<li>{{__('welcome_tab_1_content_list_6')}}
							<a href="{{__('covid_19_notification_link')}}" target="_blank">here</a>
						</li>
					</ul>
				</section>

				<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-ways">
					<h3 class="govuk-heading-s">{{__('welcome_tab_2_content_heading_1')}}</h3>
					<p>
						{{__('welcome_tab_2_content_1_block_1_1')}}
					</p>
					<p>
						<a href="{{__('gar_regulations_link')}}" target="_blank">{{__('welcome_tab_2_content_1_block_1_2')}}</a>
					</p>

					<div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<strong class="govuk-warning-text__text">
							<span class="govuk-warning-text__assistive">{{__('assistive_warning')}}</span>{{__('welcome_tab_2_content_1_block_1_5')}}
						</strong>
					</div>

					<h3 class="govuk-heading-s">{{__('welcome_tab_2_content_heading_2')}}</h3>
					<p>{{__('welcome_tab_2_content_2_block_1')}} <a href="{{__('gar_form_link')}}" target="_blank">{{__('gar_form_link_text')}}</a> </p>
				</section>

				<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="events">
					<h3 class="govuk-heading-s">Home Office Engagement Events</h3>
					<p>
						We are introducing Universal Permission to Travel (UPT) Response Messages to sGAR from January 2024, 
						these messages will confirm whether an individual has a valid permission to travel or if you need to conduct a manual check for a visa. 
						</p>
					<p>
						We would like to invite you to register for one of our engagement events for pilots, operators and agents who send passenger information to the Home Office through the sGAR web service. 
					</p>
					<p>
						The events are intended to provide further support and clarity regarding the introduction of response messages, as well as an opportunity to ask any questions you may have.
					</p>
					<p>
						To register for an event, please click on a link below:
					</p>
					<ul class="govuk-list govuk-list--bullet">
						{#<li>No upcoming events.</li>#}
						<li>
							<a href="https://www.eventbrite.co.uk/e/home-office-fbis-general-aviation-engagement-event-sgar-tickets-871801049407?aff=oddtdtcreator">
								<time datetime="2024-05-14T15:30:00.000">Tue, 14 May 2024 15:30 - 16:30 BST</time>
							</a>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
{% endblock %}