{% extends "base-template.njk" %}

{% block pageTitle %}
Create GAR | Start
{% endblock %}

{% block head %}
	{% include "head.njk" %}
{% endblock %}

{% block header %}
	{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
	{% include "phase.njk" %}
{% endblock %}

{% block content %}
	<p class="govuk-body-l">
		<span style='background-color: #f7d352'>
		{{HOMEPAGE_MESSAGE | safe}}
		</span>
	</p>

	<div class="govuk-grid-row">
		<div class="govuk-grid-column-two-thirds">

			<h1 class="govuk-heading-xl">{{__('title')}}</h1>

			<p class="govuk-body-l">{{__('welcome_caption')}}</p>

			<ul class="govuk-list govuk-list--bullet">
				<li>{{__('welcome_caption_list_1')}}
					{# Submit a GAR #}
				</li>
				<li>{{__('welcome_caption_list_2')}}
					{# View or cancel a GAR and edit draft GARs #}
				</li>
				<li>{{__('welcome_caption_list_3')}}
					{# Add, remove or manage people on your flight #}
				</li>
			</ul>

			{{ govukButton({
  			text: __('button_start_now'),
  			href: "/login",
  			isStartButton: true,
				id: "start_now",
				classes: "govuk-!-margin-top-2 govuk-!-margin-bottom-8"
			}) }}

			<div class="govuk-tabs" data-module="tabs">
				<h2 class="govuk-tabs__title">
				Contents
			</h2>

				<ul class="govuk-tabs__list">
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#events">
							{{__('welcome_tab_3')}}
							{# Events #}
						</a>
					</li>
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#more-information">
							{{__('welcome_tab_1')}}
							{# More information #}
						</a>
					</li>
					<li class="govuk-tabs__list-item">
						<a class="govuk-tabs__tab" href="#other-ways">
							{{__('welcome_tab_2')}}
							{# Other ways to submit a GAR #}
						</a>
					</li>
				</ul>

				<section class="govuk-tabs__panel" id="more-information">
					<h2 class="govuk-heading-s">{{__('welcome_tab_1_content_caption')}}</h2>
					{# You’ll need the following: #}

					<ul class="govuk-list govuk-list--bullet">
						<li>{{__('welcome_tab_1_content_list_1')}}</li>
						{# Aircraft details (including registration number and base) #}
						<li>{{__('welcome_tab_1_content_list_2')}}</li>
						{# Arrival and departure details (date, location and scheduled times) #}
						<li>{{__('welcome_tab_1_content_list_3')}}</li>
						{# Captain, crew and passenger details (including travel document information and UK visiting address) #}
						<li>{{__('welcome_tab_1_content_list_4')}}</li>
						{# Name and telephone number of the person responsible for goods on board #}
						<li>{{__('welcome_tab_1_content_list_6')}}
							<a href="{{__('covid_19_notification_link')}}" target="_blank">here</a>
						</li>
					</ul>
				</section>

				<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="other-ways">
					<h3 class="govuk-heading-s">{{__('welcome_tab_2_content_heading_1')}}</h3>
					<p>
						{{__('welcome_tab_2_content_1_block_1_1')}}
					</p>
					<p>
						<a href="{{__('gar_regulations_link')}}" target="_blank">{{__('welcome_tab_2_content_1_block_1_2')}}</a>
					</p>

					<div class="govuk-warning-text">
						<span class="govuk-warning-text__icon" aria-hidden="true">!</span>
						<strong class="govuk-warning-text__text">
							<span class="govuk-warning-text__assistive">{{__('assistive_warning')}}</span>{{__('welcome_tab_2_content_1_block_1_5')}}
						</strong>
					</div>

					<h3 class="govuk-heading-s">{{__('welcome_tab_2_content_heading_2')}}</h3>
					<p>{{__('welcome_tab_2_content_2_block_1')}} <a href="{{__('gar_form_link')}}" target="_blank">{{__('gar_form_link_text')}}</a> </p>
				</section>

				<section class="govuk-tabs__panel govuk-tabs__panel--hidden" id="events">
					<h3 class="govuk-heading-s">No upcoming events</h3>
				</section>
			</div>
		</div>
	</div>
{% endblock %}