{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block pageTitle %}
	{{__('error_prefix') if errors or unverified or unregistered }} GAR | Sign In
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}


{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  {% if errors %}
  {% include "common/templates/includes/errors.njk" %}
{% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds margin-bottom-60 margin-top-30">
      <h1 class="govuk-heading-l">{{ __('title') }}</h1>

      <div class="margin-top-60">
        <p>Use this service to:</p>

        <ul class="govuk-list govuk-list--bullet margin-bottom-20 padding-left-35">
          <li>submit a GAR for an international flight to or from the UK, including those within the Common Travel Area</li>
          <li>view, edit or cancel a GAR</li>
          <li>add, remove or manage people on your flight</li>
        </ul>
      </div>

      <h2 class="govuk-heading-s margin-top-30">General Aviation Regulations and Civil Penalties</h2>

      <p class="govuk-body">You must comply with <a href="https://www.legislation.gov.uk/ukdsi/2024/9780348254365">the General Aviation (Persons on Board, Flight Information and Civil Penalties) Regulations 2024 (opens in new tab on GOV.UK)</a>.</p>

      <div class="margin-top-30">
      {{ govukWarningText({
          text: "General Aviation Reports emailed directly to Border Force will not be compliant and will not be accepted."
        })
      }}
      </div>

      <p class="govuk-body">Failing to comply with these regulations may result in a civil penalty of up to £10,000 per breach. Futher details
      at <a href="https://www.legislation.gov.uk/ukdsi/2024/9780348254365">the General Aviation (Persons on Board, Flight Information and Civil Penalties) Regulations 2024 (opens in new tab on GOV.UK)</a>.</p>

      <p>You do not need to submit a GAR for domestic flights.</p>

      <!-- what you need section -->
      <h2 class="govuk-heading-s margin-top-30">Before you start</h2>

      <p>You'll need:</p>

      <ul class="govuk-list govuk-list--bullet margin-bottom-40 padding-left-35">
        <li>aircraft details (including registration number and base)</li>
        <li>arrival and departure details (date, location and expected departure and arrival times)</li>
        <li>captain, crew and passenger details, including travel document information</li>
        <li>details for person responsible for the flight and persons on board (including name, email address, address and phone number)</li>
        <li>find out more about <a href="https://www.gov.uk/uk-border-control">entering the UK (opens new tab on GOV.UK)</a></li>
      </ul>

      <div class="box-left-grey-border margin-top-30">
        <div class="email-text">
          <p>You'll need a GOV.UK One Login to sign in to this service. You can create one if you do not already have one.</p>
        </div>
      </div>

      <div class="margin-top-60">
      <a id="start_now" href="/login" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-6">
				Start now
			</a>
      </div>
    </div>
  </div>

{% endblock %}
