{% extends "common/templates/layout.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block page_title %}
	Error - Token expired - {{title_suffix}}
{% endblock %}

{% block content %}
<main id="content" role="main">

	{% include "common/templates/includes/phase.njk" %}

	<div class="grid-row">
  		<div class="column-two-thirds">

	    	<h1 class="heading-large">
				{{cookie.verifymsg}}
			</h1>
				
			<p>You will need to register your contact details again <a href="{{base_url}}">here</a>{{cookie.message}}. </p>

			<p>
			   If you are having difficulties using this service, please <a href="mailto:egarsupport@homeoffice.gov.uk">contact us</a>.
			</p>
								    
		</div>
			<input type="hidden" name="_csrf" value="{{ csrfToken }}" />
	</div>

 </main>

{% endblock %}