{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Create GAR | Landing | Submit a General Aviation Report (GAR)
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "common/templates/includes/header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/home" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    {% import "common/templates/includes/macros.njk" as m %}
    {% if errors %}
      {% include "common/templates/includes/errors.njk" %}
    {% endif %}
    <form action="" method="post">
      <div class="govuk-form-group {{ m.form_group_class('garoption', errors) }}">
        {% set radioItems = [] %}
        {% for gar in garoptions %}
          {% set radioItems = radioItems.concat([{
            value: gar.id | string,
            text: gar.option,
            checked: (form.garoption | default('') == gar.id)
          }]) %}
        {% endfor %}

        {% set garErrorObj = (errors or []) | selectattr("identifier", "equalto", "garoption") | first %}
        {% set garError = garErrorObj and { text: garErrorObj.message } or false %}

        {{ govukRadios({
          name: "garoption",
          idPrefix: "option",
          fieldset: {
            legend: {
              text: __('heading_how_to_create'),
              classes: "govuk-fieldset__legend--xl",
              isPageHeading: true
            }
          },
          hint: {
            text: __('how_to_create_caption')
          },
          errorMessage: garError,
          items: radioItems
        }) }}

      </div>

      <div class="form-group">
        <input type="submit" class="govuk-button" value="{{__('button_continue')}}">
      </div>
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
  </div>
</div>
{% endblock %}
