{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}
{% import "common/templates/includes/pagination.njk" as pagination %}

{% block pageTitle %}
	Manage people | Submit a General Aviation Report (GAR)
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

  <h1 class="govuk-heading-xl">{{ __('title_people') }}</h1>

  {% if cookie.getUserRole() != 'User' %}
	  <p class="govuk-body-l">{{__('people_caption')}}</p>
  {% endif %}
  </div>
  <div class="govuk-grid-column-full">
    <form id="people" action="/people" method="post">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">{{__('field_surname')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_given_name')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_person_type')}}</th>
            {% if cookie.getUserRole() != 'User' %}
            <th class="govuk-table__header" scope="col">{{__('table_action')}}</th>
            {% endif %}
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if people | length %}
          {% for person in people %}
          <tr class="govuk-table__row">
            {% if cookie.getUserRole() != 'User' %}
            <td class="govuk-table__cell"><button class="link btn-link" title="Edit details for {{ person.firstName }} {{ person.lastName }}" name="editPerson" value="{{person.personId}}">{{person.lastName}}</a></td>
            {% else %}
            <td class="govuk-table__cell">{{person.lastName}}</td>
            {% endif %}
            <td class="govuk-table__cell" scope="row">{{person.firstName}}</th>
            <td class="govuk-table__cell">{{person.peopleType.name}}</td>
            {% if cookie.getUserRole() != 'User' %}
            <td class="govuk-table__cell "><button class="link btn-link" name="deletePerson" value="{{person.personId}}" name="deletePerson" value="{{person.personId}}">{{__('table_delete')}}</button></td>
            {% endif %}
          </tr>
          {% endfor %}
        {% else %}
          <tr class="govuk-table__row">
            <td colspan="4"><p class="govuk-inset-text">{{__('people_no_records')}}</p></td>
          </tr>
        {% endif %}
        </tbody>
      </table>
      {# Pagination not possible until back end supports it #}
      {# {{ pagination.build('people', pages, __)}} #}
      <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
    </form>
	</div>

  {% if cookie.getUserRole() != 'User' %}

	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>

	<div class="govuk-grid-column-full">
		<h2 class="govuk-heading-l">{{__('people_add')}}</h2>
		<p class="govuk-body-l">{{__('people_add_caption')}}</p>
		<a href="/people/add" role="button" draggable="false" class="govuk-button" id='save-person'>
			{{__('title_add_person')}}
		</a>
	</div>

	<div class="govuk-grid-column-full">
		<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
	</div>
  {% endif %}
</div>

{% endblock %}
