{% extends "base-template.njk" %}

{% block pageTitle %}
Create GAR | Start
{% endblock %}

{% block head %}
  {% include "head.njk" %}
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}

{% endblock %}

