{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors}} Create GAR | File upload
{% endblock %}

{% set active = '/home' %}

{% block beforeContent %}
  {% include "common/templates/includes/back.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">{{__('title_garupload')}}</h1>
    <form action="/uploadgar?_csrf={{ csrfToken }}" class="form-group" method="post" role="form" enctype="multipart/form-data">
      <p class="govuk-body-m">{{__('garupload_caption')}}</p>

      {{ govukWarningText({
        html:
          __('garupload_warning_1') +
          '<a href="' + __('gar_form_link') + '">' + __('garupload_warning_2') + '</a>' +
          __('garupload_warning_3'),
        iconFallbackText: __('assistive_warning')
      }) }}

      <div class="govuk-form-group {{ m.form_group_class('file', errors) }}">
        <label class="govuk-label" for="file">{{__('field_file')}}</label>
        {{ m.error_message('file', errors, __) }}
        <input id="file" name='file' type="file" class="govuk-file-upload"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
          {{ 'aria-describedby=file-error' if errors | containsError('file') }}>
      </div>

      <div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
      </div>
      <div class="form-group">
        <button id="submit" type="submit" class="govuk-button">{{__('form_upload_and_continue')}}</button>
      </div>
    </form>
  </div>
{% endblock %}
