{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Create GAR | Manifest
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/garfile/craft" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}

  <script type="text/javascript"  src="/javascripts/garManifest.js"></script>

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <form id="manifestForm" action="/garfile/manifest" method="post">
      <div class="govuk-grid-column-two-thirds">
        <span class="govuk-caption-xl">{{__('section_count', 4, 9)}}</span>
        <h1 class="govuk-heading-xl">{{__('heading_manifest_details')}}</h1>
        <p class="govuk-body-l">
          <span class="horrible-green">
            {{__('id_card_withdrawl_text')}}
            <a href=https://www.gov.uk/guidance/visiting-the-uk-as-an-eu-eea-or-swiss-citizen>GOV.UK</a>. </span>
        </p>
        <h2 class="govuk-heading-l">{{ __('title_people') }}</h2>
        <p class="govuk-body-l">{{__('caption_manifest_details')}}</p>

      </div>
    <div class="govuk-grid-column-full">
        <p class="govuk-body-l">
          {{__('people_caption')}}
          <br />
          {{__('people_caption--already_selected_people')}}
          {% if isInvalidSavedPeople %}
            <div class="govuk-error-message">
              {{ __('saved_people_are_invalid__info') }}
            </div>
          {% endif %}
        </p>
        <p class="govuk-body-m">{{__('person_search')}}</p>
        <form id="people" action="/people" method="post">
          {% if savedPeople | length %}
            <table class="table-clickable govuk-table" id="people_table">
            {% else %}
              <table class="govuk-table" id="people_table" >
              {% endif %}
              <input class="govuk-input govuk-input--width-20 margin-bottom-10" id="person-search" name="person-search" type="text" placeholder="Search">
              <p class="govuk-body-s margin-bottom-10">{{__('person_sort')}}</p>
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th style="width: 5%;" class="govuk-table__header multiple-choice--hod">
                    {% if savedPeople | length and not isUnableToAddPeople %}
                        <div class="govuk-checkboxes__item">
                          <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
                          <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                            &nbsp;
                          </label>
                        </div>
                    {% endif %}
                  </th>
                  <th class="govuk-table__header">{{__('field_surname')}}</th>
                  <th class="govuk-table__header">{{__('field_given_name')}}</th>
                  <th class="govuk-table__header">{{__('field_person_type_short')}}</th>
                  <th class="govuk-table__header">{{__('field_document_expiry_date')}}</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body" id="people_table_row">
                {% if savedPeople | length %}
                  {% for person in savedPeople %}
                      <tr class="govuk-table__row
                        {{ "unselectable-row" if person.isDuplicate or person.isInvalid }}
                        {{ "govuk-form-group govuk-form-group--error" if person.isInvalid }}"
                        id="savedPerson-{{loop.index0}}">
                        <td
                          class="govuk-table__cell multiple-choice--hod"
                          style="{{ "padding-left: 10px" if person.isInvalid }}">
                          {% if person.isInvalid %}
                            <button
                              id="edit-person-{{ loop.index }}"
                              class="govuk-link btn-link"
                              title="Edit details for {{ person.firstName }} {{ person.lastName }}"
                              name="editSavedPerson"
                              value="{{person.personId}}">
                              Edit
                            </button>
                          {% elif not person.isDuplicate %}
                            <div class="govuk-checkboxes__item">
                              <input
                                type="checkbox"
                                class="govuk-checkboxes__input jsCheckbox"
                                id="savedPerson-{{loop.index0}}"
                                name="personId"
                                value="{{person.personId}}"
                                autocomplete="off"
                              >
                              <label class="govuk-label govuk-checkboxes__label visuallyhidden" for="savedPerson-{{loop.index0}}">
                                &nbsp;
                              </label>
                            </div>
                          {% endif%}
                        </td>
                        <td class="govuk-table__cell">{{person.lastName}}</td>
                        <td class="govuk-table__cell">{{person.firstName}}</td>
                        <td class="govuk-table__cell">{{person.peopleType.name}}</td>
                        <td class="govuk-table__cell">{{person.documentExpiryDate}}</td>
                      </tr>
                  {% endfor %}
                {% else %}
                  {{ m.empty_table_message(__('people_no_records')) }}
                {% endif %}
              </tbody>
            </table>
          </div>

          <div class="govuk-grid-column-two-thirds">
            <button
              id="addToManifest"
              type="submit"
              name="buttonClicked"
              value="Add to GAR"
              class="govuk-button multi-submit-button"
            >{{__('button_add_to_gar')}}</button>
          </div>
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">{{__('heading_manifest_new_people')}}</h2>
            <p class="govuk-body-m">
              <a href="/garfile/manifest/addnewperson" class="govuk-button">{{__('garfile_people_add')}}</a>
            </p>
          </div>
          <div class="govuk-grid-column-full">
            <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
          </div>
          <div class="govuk-grid-column-two-thirds">
            <h2 class="govuk-heading-l">{{__('heading_current_manifest')}}</h2>
            <p class="govuk-body-l">{{__('current_manifest_caption')}}</p>
            <p class="govuk-body-m">Search for people on the manifest</p>
            <input class="govuk-input govuk-input--width-20 margin-bottom-10" id="manifest-search" name="manifest-search" type="text" placeholder="Search">
            <p class="govuk-body-m">
              <mark>{{__('expired_passport_warning')}}</mark>
            </p>
            <p>
              <span style="background-color:#77DD77;">{{__('adding_person_to_people')}}</span></p>
          </div>
          <div class="govuk-grid-column-full">
            <table class="govuk-table table-clickable" id="manifest_table">
              <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                  <th class="govuk-table__header">
                  {% if manifest.items | length %}
                    <div class="govuk-checkboxes__item">
                        <input type="checkbox" class="govuk-checkboxes__input jsCheckboxAll" id="radio-all">
                        <label class="govuk-label govuk-checkboxes__label" for="radio-all">
                          &nbsp;
                        </label>
                      </div>
                    {% endif %}
                  </th>
                  <th class="govuk-table__header" scope="col">{{__('field_surname')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_given_name')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_dob')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_nationality')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_gender')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_birth_place')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('field_person_type_short')}}</th>
                  <th class="govuk-table__header" scope="col">{{__('table_action')}}</th>
                </tr>
              </thead>
              <tbody class="govuk-table__body" id="manifestTable_row">
                {% if manifest.items | length %}
                  {% for person in manifest.items %}
                    {% if (manifestInvalidPeople and (("person-" + loop.index0) in manifestInvalidPeople)) %}
                      <tr class="govuk-table__row govuk-form-group govuk-form-group--error" id="person-{{loop.index0}}">
                        <td class="govuk-table__cell"></td>
                      {% else %}
                        <tr class="govuk-table__row" id="person-{{loop.index0}}">
                          {% if person
                            .documentExpiryDate
                            .toString() < expiryDate
                            .toString() %}
                            <h3  class="govuk-heading-s" id="expired" style="color:red" hidden>Please be advised, {{person.firstName}}
                              {{person.lastName}}'s passport has expired </h3>
                            <script>
                              document
                                .getElementById("expired")
                                .style
                                .display = "block"
                            </script>
                            <tr style="color:red; font-weight: bold; background-color:aliceblue">
                            {% endif %}
                            <tr class="govuk-table__row">
                              <td class="govuk-table__cell">
                                <div class="govuk-checkboxes__item">
                                    <input
                                      type="checkbox"
                                      class="govuk-checkboxes__input jsCheckbox"
                                      id="garperson-{{loop.index0}}"
                                      name="garPeopleId"
                                      value="{{person.garPeopleId}}"
                                      autocomplete="off"
                                    >
                                    <label class="govuk-label govuk-checkboxes__label visuallyhidden" for="garperson-{{loop.index0}}">
                                      &nbsp;
                                    </label>
                                  </div>
                                </td>
                                {% endif %}
                                  <td class="govuk-table__cell garPersonLastName" style="{{ "padding-left: 10px" if isGarPersonInvalid }}">{{person.lastName}}</td>
                                  <td class="govuk-table__cell garPersonFirstName">{{person.firstName}}</td>
                                  <td class="govuk-table__cell">{{person.dateOfBirth}}</td>
                                  <td class="govuk-table__cell garPersonNationality">{{person.nationality | upper}}</td>
                                  <td class="govuk-table__cell">{{person.gender}}</td>
                                  <td class="govuk-table__cell">{{person.placeOfBirth}}</td>
                                  <td class="govuk-table__cell">{{person.peopleType.name}}</td>
                                  <td class="govuk-table__cell">
                                    <button class="link btn-link" name="editPersonId" value="{{person.garPeopleId}}">Edit</button>
                                  </td>
                                </tr>
                                <tr class="govuk-table__row">
                                  <td class="govuk-table__cell" colspan="9">
                                    <div>
                                      <details role="group">
                                        <summary role="button" aria-controls="details-content-{{ loop.index }}" aria-expanded="false" title="{{__('further_information_for', person.firstName, person.lastName)}}">
                                          <span id="further-information-{{ loop.index }}" class="summary">{{__('label_manifest_further_personal_details')}}</span>
                                        </summary>
                                        <div class="panel panel-border-narrow" id="details-content-{{ loop.index }}" aria-hidden="true">
                                          <table class="govuk-table" width="100%">
                                            <tbody class="govuk-table__body">
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">{{__('field_travel_document_type')}}</td>
                                                <td class="govuk-table__cell">{{person.documentType}}</td>
                                              </tr>
                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">{{__('field_travel_document_issuing_state')}}</td>
                                                <td class="govuk-table__cell">{{person.issuingState | upper }}</td>
                                              </tr>

                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">{{__('field_travel_document_number')}}</td>
                                                <td class="govuk-table__cell">{{ person.documentNumber }}</td>
                                              </tr>

                                              <tr class="govuk-table__row">
                                                <td class="govuk-table__cell">{{__('field_document_expiry_date')}}</td>
                                                <td class="govuk-table__cell">{{ person.documentExpiryDate }}</td>
                                              </tr>
                                            </tbody>
                                          </table>
                                        </div>
                                      </details>
                                    </div>
                                  </td>
                                </tr>
                              {% endfor %}
                            </div>
                          </td>
                        </tr>
                      {% else %}
                        {{ m.empty_table_message(__('manifest_no_records')) }}
                      {% endif %}
                    </tbody>
                  </table>
                </div>
                <div class="govuk-grid-column-full">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="totalPersonsOnBoard">
                      {{__('total_persons_on_board')}}
                    </label>

                    <input class="govuk-input govuk-input--width-3" id="totalPersonsOnBoard" name="name" readonly type="number" value="{{ manifest.items.length }}">
                  </div>
                  <button
                    id="garPeopleId"
                    type="submit"
                    name="buttonClicked"
                    value="Add to PEOPLE"
                    class="govuk-button multi-submit-button"
                    disabled="true"
                  >
                    {{__('button_add_to_people')}}
                  </button>
                  <button
                      id="delete-people-dialog-button"
                      type="button"
                      class="govuk-button warning-button multi-submit-button"
                    >
                      {{__('table_delete_gar_people')}}
                  </button>

                  <dialog id="deletePeopleDialog" class="govuk-grid-column-two-thirds">
                    <h2 class="govuk-error-message govuk-!-font-size-36">
                      Warning
                    </h2>
                    <div class="govuk-warning-text">
                      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
                      <strong class="govuk-warning-text__text">
                        <span class="govuk-visually-hidden">Warning</span>
                        Are you sure you want to to delete these people?
                      </strong>
                    </div>
                    <ul id="peopleToDeleteList" class="govuk-list govuk-list--bullet"></ul>
                    <form method="dialog">
                      <button id="closeDialogButton" type="submit" class="govuk-button" data-module="govuk-button">
                          Close
                        </button>
                    </form>
                    <button
                      id="delete-people"
                      type="submit"
                      class="govuk-button warning-button"
                      formmethod="post"
                      formaction="/garfile/manifest/deleteperson"
                    >
                      {{__('table_delete_gar_people')}}
                    </button>
                  </dialog>
                <div class="govuk-form-group">
                  <fieldset class="govuk-fieldset" aria-describedby="isMilitaryFlight-hint">
                    <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                      <h1 class="govuk-fieldset__heading">
                        Military flight
                      </h1>
                    </legend>
                    {{ m.hint("isMilitaryFlight", __("is_military_flight_hint")) }}
                    <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                      <div class="govuk-checkboxes__item">
                        <input
                          class="govuk-checkboxes__input"
                          id="isMilitaryFlight"
                          name="isMilitaryFlight"
                          type="checkbox"
                          {{ "checked" if cookie.getIsMilitaryFlight() }}
                          value="true">
                        <label class="govuk-label govuk-checkboxes__label" for="isMilitaryFlight">
                          Is this a Military flight?
                        </label>
                      </div>
                    </div>
                  </fieldset>
                </div>
                <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
                  {# Start buttons #}
                  <input id="continue" type="submit" class="govuk-button"
        name="buttonClicked"
        value="{{__('button_continue')}}"
        onclick="sendAnalytics(event, 'GAR Manifest - Continue', 'click')">
                  <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                </form>
                <form id="cancel-form" action="/garfile/view" method="post">
                  <p class="govuk-body-m">
                    <button id="exit" type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button"
          onclick="sendAnalytics(event, 'GAR Manifest - Exit', 'click')">
                      {{__('form_exit')}}
                    </button>
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
                  </p>
                </form>
                {# End buttons #}
              </div>
            </div>
          </div>
        {% endblock %}
