{% if unverified %}
    <div class="govuk-error-summary" aria-labelledby="unverified-error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="unverified-error-summary-title">
        {{__('form_error_summary_title')}}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            {{ __('user_login_unverified') }}
            <p class="govuk-body-m">
              {{__('user_login_unverified_caption_1')}}<a href="/user/regmsg?resend=true">{{__('user_login_unverified_resend')}}</a>{{__('user_login_unverified_caption_3')}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if unregistered %}
    <div class="govuk-error-summary" aria-labelledby="unregistered-error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="unregistered-error-summary-title">
        {{__('form_error_summary_title')}}
      </h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            {{ __('user_login_unregistered') }}
            <p class="govuk-body-m">
              {{__('user_login_unregistered_caption_1')}}<a href="/user/register">{{__('user_login_unregistered_caption_2')}}</a>{{__('user_login_unregistered_caption_3')}}
            </p>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
        <form action="login" autocomplete="off" method="POST" onsubmit="submitButton.disabled=true; return true;">
      <h1 class="govuk-heading-xl">{{ __('button_sign_in') }}</h1>
      {% if ONE_LOGIN_SHOW_ONE_LOGIN == true %}
        <div class="box-left-grey-border">
          <div class="email-text">
              <p class="govuk-body">How you sign in to Submit a General Aviation Report (GAR) is changing.</p>
              <p class="govuk-body">From <strong>[Date]</strong>{{migrationDate}} you'll sign in using GOV.UK One Login. You'll be able to create a GOV.UK One Login if you do not already have one.</p>
              <p class="govuk-body">You should use the same email address to create your GOV.UK One Login that you use for your SGAR account. This is so you keep the existing information in your account.</p>
              <p class="govuk-body">You can still sign in without using GOV.UK One Login until <strong>[Date]</strong>{{migrationDate}}</p>
              <p class="govuk-body">New users of the service will need to login using GOV.UK One Login.</p>
          </div>
        </div>
      {% endif %}

      <div class="govuk-form-group {{ m.form_group_class('username', errors) }}">
        <label class="govuk-label govuk-label--m" for="username">{{ __('field_username') }}</label>
        <span id="username-hint" class="govuk-hint">{{ __('field_username_hint') }}</span>
        {{ m.error_message('username', errors, __) }}
        <input class="govuk-input" id="username" name="username" type="text" aria-describedby="username-hint{{ ' username-error' if errors }}">
      </div>

      <button id="submitButton" type="submit" class="govuk-button" data-prevent-double-click="true">
        {{ __('button_sign_in' )}}
      </button>
      {% if ONE_LOGIN_SHOW_ONE_LOGIN %}
        <br/>
        <a
          href="{{oneLoginAuthUrl}}"
          role="button"
          class="govuk-button govuk-button--secondary govuk-!-margin-top-2 govuk-!-margin-bottom-8"
          >Sign in or Create your GOV.UK One Login</a>
      {% endif %}


      <h2 class="govuk-heading-m">{{ __('create_account_caption') }}</h2>
      <p class="govuk-body">
        <a href="/user/register">{{ __('title_create_account') }}</a>
      </p>

      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
    </form>
  </div>
</div>
