{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
    {{ __('error_prefix') if errors }} GAR | Edit Responsible person | {{ __('title') }}
{% endblock %}

{% set active = '/resperson' %}

{% block header %}
    {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
    {% include "phase.njk" %}
    <a href="/resperson" class="govuk-back-link">{{ __('nav_back') }}</a>
{% endblock %}

{% block content %}{% include "common/templates/includes/errors.njk" %}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="page-form" action="/resperson/edit" autocomplete="off" class="form-group"
                method="post" role="form">
                <h1 class="govuk-heading-xl">{{ __('heading_edit_responsible_person') }}</h1>
                <p class="govuk-body-l">{{ __('responsible_person_caption') }}</p>
                {% include "responsible-person-details.njk" %}
                <div class="govuk-form-group">
                    <input id="add-and-exit" class="govuk-button" type="submit" name="buttonClicked"  value="{{__('form_save_and_exit')}}"
                        onclick="sendAnalytics(event, 'Saved Responsible person - Save', 'click')">
                    <p class="govuk-body-m">
                        <a class="govuk-button govuk-button--secondary" href="/resperson#" onclick="sendAnalytics(event, 'Saved Responsible person Add - Cancel', 'click')">{{__('form_exit_without_saving')}}</a>
                    </p>
                </div>
                 <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
            </form>
        </div>
    </div>
    <script>
        accessibleAutocomplete.enhanceSelectElement({selectElement: document.querySelector('#responsibleCountry')});
    </script>
{% endblock %}
