{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if data.errors}} GAR | Register
{% endblock %}



{% block content %}
      {% if data.errors %}
        {% include "common/templates/includes/errors.njk" %}
      {% endif %}

     <div class="govuk-grid-row padding-bottom-60">
         {% if step %}
            {% include step %}
         {% endif %}
    </div>

{% endblock %}
