{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Submit GAR | Success
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}
{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
        {{__('title_gar_submitted')}}
      </h1>
      <div class="govuk-panel__body">
        {{__('gar_submitted_caption')}}
      <br><strong>{{cookie.getGarId()}}</strong>
      </div>
    </div>

    <p class="govuk-body-m">
      {{__('gar_submitted_email', cookie.getUserEmail())}}
    </p>

    <h2 class="govuk-heading-m">
      {{__('heading_what_happens_next')}}
    </h2>

    <p class="govuk-body-m">
      {{__('gar_submitted_caption_2')}}
    </p>

    <p class="govuk-body-m">
      {{__('gar_submitted_caption_3_1')}}<a href="/home">{{__('heading_manage_gars')}}</a>{{__('gar_submitted_caption_3_2')}}
    </p>
  </div>

 {% endblock %}