{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	Submit GAR | Success
{% endblock %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-panel govuk-panel--confirmation">
      <h1 class="govuk-panel__title">
          GAR submitted
      </h1>

      <p class="govuk-body-m">
         We've sent your GAR to Border Force.
       </p>
    </div>

    <p class="govuk-body-m">
         We will send you a confirmation email to {{cookie.getUserEmail()}} that will contain your Border Force receipt.
         This receipt will also be available on the <a href="/home#gars-submitted">Manage GAR</a> page.
       </p>

    <p class="govuk-body-m">
             If you need to make any changes to this GAR you will need to submit another GAR with the new information and cancel this one.
         GARs can be cancelled on the <a href="/home#gars-submitted">Manage GAR</a> page.
    </p>

    <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
  </div>

{% endblock %}