{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Organisation invite
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  {% include "common/templates/includes/back.njk" %}

{% endblock %}

{% block content %}
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        You have been invited to join an organisation
      </h1>
      <a id="register" class="govuk-button" href="/user/register">Register</a>
			<p class="govuk-body-m">
			   If you are having difficulties using this service, please <a href="mailto:{{__('support_email')}}">contact us</a>.
			</p>
	</div>
</div>
<input type="hidden" name="_csrf" value="{{ csrfToken }}" />

{% endblock %}
