{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	{{__('error_prefix') if errors or unverified or unregistered }} GAR | Sign In
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
  <a href="/" class="govuk-back-link">{{__('nav_back')}}</a>
{% endblock %}

{% block content %}
	{% include "./_partials/index.njk" %}

{% endblock %}
