{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Sign In
{% endblock %}

{% block header %}
{% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}

  {% include "phase.njk" %}
  <a href="/" class="govuk-back-link">Back</a>

{% endblock %}

{% block content %}

  {% import "common/templates/includes/macros.njk" as m %}

	{% if unverified %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          <li>
            {{ __('user_login_unverified') }}
            <p class="govuk-body-m">
              {{ __('user_login_unverified_caption') }}<a href="/user/regmsg?resend=true">{{ __('user_login_unverified_resend') }}</a>.
            </p>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
		<form action="login" autocomplete="off" method="POST">
			<h1 class="govuk-heading-xl">{{ __('button_sign_in') }}</h1>
			<div class="govuk-form-group {{ m.form_group_class('Username', errors) }}">

				<label class="govuk-label govuk-label--m" for="Username">{{ __('field_username') }}</label>

				<span id="departurePort-hint" class="govuk-hint">{{ __('field_username_hint') }}</span>
        {{ m.error_message('Username', errors) }}
				<input class="govuk-input" id="Username" name="Username" type="text">
			</div>

			<button type="submit" class="govuk-button">
				{{ __('button_sign_in' )}}
			</button>

			<h2 class="govuk-heading-m">{{ __('create_account_caption') }}</h2>
			<p class="govuk-body"><a href="/user/register">{{ __('title_create_account') }}</a></p>

      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
		</form>
	</div>
</div>

{% endblock %}
