{% from "dist/govuk/components/skip-link/macro.njk" import govukSkipLink %}
{% from "dist/govuk/components/footer/macro.njk" import govukFooter %}
{% from "dist/govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "dist/govuk/components/cookie-banner/macro.njk" import govukCookieBanner %}
{% from "dist/govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "dist/govuk/components/radios/macro.njk" import govukRadios %}
{% from "dist/govuk/components/button/macro.njk" import govukButton %}
{% from "dist/govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "dist/govuk/components/warning-text/macro.njk" import govukWarningText %}
{% from "dist/govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "dist/govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "dist/govuk/components/input/macro.njk" import govukInput %}
{% from "dist/govuk/components/select/macro.njk" import govukSelect %}
{% from "dist/govuk/components/date-input/macro.njk" import govukDateInput %}

{% from "includes/footer.njk" import footer %}
{% from "includes/navigation.njk" import navigation %}

<!DOCTYPE html>
<html lang="{{ htmlLang | default('en') }}"
  class="govuk-template govuk-template--rebranded app-html-class {{ htmlClasses }}">

  <head>
    <meta charset="utf-8" />
    <title>{% block pageTitle %}{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="referrer" content="origin-when-cross-origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="theme-color" content="blue">

    <link rel="icon" sizes="48x48" href="/assets/rebrand/images/favicon.ico">
    <link rel="icon" sizes="any" href="/assets/rebrand/images/favicon.svg" type="image/svg+xml">
    <link rel="mask-icon" href="/assets/rebrand/images/govuk-icon-mask.svg" color="blue">
    <link rel="apple-touch-icon" href="/assets/rebrand/images/govuk-icon-180.png">
    <link rel="manifest" href="/assets/rebrand/manifest.json">
    <link rel="stylesheet" href="/stylesheets/govuk-frontend.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/javascripts/accessible-autocomplete.min.js"></script>
    <script src="/javascripts/dialog-polyfill.js"></script>

    <link href="/stylesheets/custom.css" rel="stylesheet" />
    <link href="/stylesheets/dialog-polyfill.css" rel="stylesheet" type="text/css" />
    <link href="/javascripts/accessible-autocomplete.min.css" rel="stylesheet" />

    {% include "head.njk" %}

  </head>

  <body class="govuk-template__body app-body-class {{ bodyClasses }}">
    <script>
      document.body.className += ' js-enabled' + ('noModule' in HTMLScriptElement.prototype ? ' govuk-frontend-supported' : '');
    </script>

    {% block bodyStart %}{% endblock %}

    {% include "cookies.njk" %}

    {{ govukSkipLink({
    href: '#main-content',
    text: 'Skip to main content'
    }) }}

    {% if isLoggedIn %}
      {% include "header-user.njk" %}
    {% else %}
      {% include "header-pre-user.njk" %}
    {% endif %}

    <div class="govuk-width-container">

      {% include "phase.njk" %}

      {% block beforeContent %}{% endblock %}

      <main class="govuk-main-wrapper {{ mainClasses }}" id="main-content" role="main">
        {% include "common/templates/includes/errors.njk" %}

        {% block successAction %}
          {% include "common/templates/includes/success-action.njk" %}
        {% endblock %}

        {% block content %}{% endblock %}
      </main>
    </div>

    {{ footer() }}

    <script type="module">
      import { initAll } from '/javascripts/govuk-frontend.min.js'
      initAll()
    </script>
    <script>
      $("input[value='{{__('form_save_and_continue')}}'][type='button']").click(function (eventObj) {
        $("<input />")
          .attr("type", "hidden")
          .attr("name", "buttonClicked")
          .attr("value", "{{__('form_save_and_continue')}}")
          .appendTo("#page-form");
        return true;
      });
      $("input[value='{{__('button_add_to_gar')}}'][type='button']").click(function (eventObj) {
        $("<input />")
          .attr("type", "hidden")
          .attr("name", "buttonClicked")
          .attr("value", "{{__('button_add_to_gar')}}")
          .appendTo("#page-form");
        return true;
      });
    </script>
    <script src="/javascripts/table-multiselect.js"></script>
    <script src="/javascripts/cookie-banner.js"></script>
    <script src="/javascripts/common.js"></script>
    <script type="text/javascript" src="/javascripts/resubmitGar.js"></script>
  </body>

</html>
