  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{ __('label_departure_details') }}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/departure" id='departure-change'>
            Change<span class="govuk-visually-hidden">Departure</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{ __('field_departure_date') }}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.departureDate}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{ __('field_departure_time') }}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.departureTime}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{__('field_departure_port')}}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.departurePort | upper}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">Departure port coordinates</dt>
        <dd class="app-check-your-answers__answer">
          {{__('field_latitude')}}: {{garfile.departureLat}}<br>
          {{__('field_longitude')}}: {{garfile.departureLong}}</dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
      {% if showChangeLinks %}
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          Arrival details
        </dt>
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/arrival" id='arrival-change'>
            Change<span class="govuk-visually-hidden">Arrival</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Arrival date
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.arrivalDate}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Arrival time (UTC)
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.arrivalTime}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Arrival port
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.arrivalPort | upper}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Arrival port coordinates
        </dt>
        <dd class="app-check-your-answers__answer">
          {{__('field_latitude')}}: {{garfile.arrivalLat}} <br>
          {{__('field_longitude')}}: {{garfile.arrivalLong}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          Aircraft details
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/craft" id='aircraft-change'>
            Change<span class="govuk-visually-hidden">Aircraft</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Aircraft registration
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.registration}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Aircraft type
        </dt>
         <dd class="app-check-your-answers__answer">
          {{garfile.craftType}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Aircraft home port / location
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.craftBase | upper}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_manifest_details')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/manifest" id='manifest-change'>
            Change<span class="govuk-visually-hidden">Manifest</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <div class="govuk-form-group {{ m.form_group_class('manifestTable', errors) }}">
      {{ m.error_message('manifestTable', errors, __) }}

      <table class="govuk-table" id="manifestTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">{{__('field_surname')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_given_name')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_dob')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_travel_document_number')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_nationality')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_person_type_short')}}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if garpeople.items | length %}
          {% for person in garpeople.items%}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{person.lastName}}</td>
            <td class="govuk-table__cell">{{person.firstName}}</td>
            <td class="govuk-table__cell">{{person.dateOfBirth}}</td>
            <td class="govuk-table__cell">{{person.documentNumber}}</td>
            <td class="govuk-table__cell">{{person.nationality | upper}}</td>
            <td class="govuk-table__cell">{{person.peopleType.name}}</td>
          </tr>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="6">
              <div>
                <details role="group">
                  <summary role="button" aria-controls="details-content-2" aria-expanded="false" title="{{__('further_information_for', person.firstName, person.lastName)}}">
                    <span class="summary btn-link">{{__('label_manifest_further_personal_details')}}</span>
                  </summary>
                    <div class="panel panel-border-narrow" id="details-content-2" aria-hidden="true">
                      <table class="govuk-table" width="100%">
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_gender')}}</td>
                            <td class="govuk-table__cell">{{person.gender}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_birth_place')}}</td>
                            <td class="govuk-table__cell">{{person.placeOfBirth}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_type')}}</td>
                            <td class="govuk-table__cell">{{person.documentType}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_issuing_state')}}</td>
                            <td class="govuk-table__cell">{{person.issuingState | upper}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_expiry_date')}}</td>
                            <td class="govuk-table__cell">{{person.documentExpiryDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                </details>
              </div>
            </td>
          </tr>
          {% endfor %}
        {% else %}
          <tr class="govuk-table__row">
            <td colspan="6"><p class="govuk-inset-text">{{__('manifest_no_records')}}</p></td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 500px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          Responsible person's details
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/responsibleperson" id='responsible-person-change'>
            Change<span class="govuk-visually-hidden">Responsible Person</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Given name
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.responsibleGivenName}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Surname
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.responsibleSurname}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Address
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.responsibleAddressLine1}} <br>
          {{garfile.responsibleAddressLine2}} <br>
          {{garfile.responsibleCounty}} <br>
          {{garfile.responsiblePostcode}} <br>
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          Contact details
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.responsibleContactNo}}
        </dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          Customs
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/customs" id='customs-change'>
            Change<span class="govuk-visually-hidden">Customs</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{__('field_prohibited_goods')}}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.prohibitedGoods}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      {% if garfile.prohibitedGoods === 'Yes' %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{__('field_goods_declaration')}}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.goodsDeclaration | truncate(50)}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      {% endif %}
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{__('field_free_circulation')}}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.freeCirculation}}</dd>
        <dd class="app-check-your-answers__change"></dd>
      </div>
      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">{{__('field_visit_reason_question')}}</dt>
        <dd class="app-check-your-answers__answer">{{garfile.visitReason | uncamelCase }}</dd>
        <dd class="app-check-your-answers__change">
        </dd>
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 400px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          Supporting documentation details
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/supportingdocuments" id='supporting-documents-change'>
            Change<span class="govuk-visually-hidden">Supporting Documents</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">File name</th>
					<th class="govuk-table__header" scope="col">File size</th>
					<th class="govuk-table__header" scope="col">Status</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
      {% if supportingdocs.items | length %}
        {% for file in supportingdocs.items %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">{{file.fileName}}</td>
					<td class="govuk-table__cell">{{file.size}}</td>
					<td class="govuk-table__cell">Done</td>
				</tr>
				{% endfor %}
      {% else %}
        <tr class="govuk-table__row">
          <td colspan="4"><p class="govuk-inset-text">{{__('supportingdocuments_no_records')}}</p></td>
        </tr>
      {% endif %}
			</tbody>
		</table>
  </div>
