  <div class="govuk-grid-column-full">
    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{ __('heading_departure_details') }}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/departure" id='departure-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{ __('heading_departure_details') }}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      {{ m.check_your_answers_row(__('field_departure_date'), garfile.departureDate) }}
      {{ m.check_your_answers_row(__('field_departure_time'), garfile.departureTime) }}
      {{ m.check_your_answers_row(__('field_departure_port'), garfile.departurePort) }}
      {{ m.check_your_answers_row_coordinates(__('field_departure_coordinates'), garfile.departureLat, garfile.departureLong, __) }}
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
      {% if showChangeLinks %}
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_arrival_details')}}
        </dt>
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/arrival" id='arrival-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_arrival_details')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      {{ m.check_your_answers_row(__('field_arrival_date'), garfile.arrivalDate) }}
      {{ m.check_your_answers_row(__('field_arrival_time'), garfile.arrivalTime) }}
      {{ m.check_your_answers_row(__('field_arrival_port'), garfile.arrivalPort) }}
      {{ m.check_your_answers_row_coordinates(__('field_arrival_coordinates'), garfile.arrivalLat, garfile.arrivalLong, __) }}
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_aircraft_details')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/craft" id='aircraft-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_aircraft_details')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      {{ m.check_your_answers_row(__('field_aircraft_registration'), garfile.registration) }}
      {{ m.check_your_answers_row(__('field_aircraft_type'), garfile.craftType) }}
      {{ m.check_your_answers_row(__('field_aircraft_base'), garfile.craftBase) }}
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_manifest_details')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/manifest" id='manifest-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_manifest_details')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <div class="govuk-form-group {{ m.form_group_class('manifestTable', errors) }}">
      {{ m.error_message('manifestTable', errors, __) }}

      <table class="govuk-table" id="manifestTable">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">{{__('field_surname')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_given_name')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_dob')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_travel_document_number')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_nationality')}}</th>
            <th class="govuk-table__header" scope="col">{{__('field_person_type_short')}}</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% if garpeople.items | length %}
          {% for person in garpeople.items%}
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{person.lastName}}</td>
              <td class="govuk-table__cell">{{person.firstName}}</td>
              <td class="govuk-table__cell">{{person.dateOfBirth}}</td>
              <td class="govuk-table__cell">{{person.documentNumber}}</td>
              <td class="govuk-table__cell">{{person.nationality | upper}}</td>
              <td class="govuk-table__cell">{{person.peopleType.name}}</td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell" colspan="6">
                <div>
                  <details class="govuk-details" data-module="govuk-details">
                    <summary class="govuk-details__summary" aria-controls="details-content-{{ loop.index }}" aria-expanded="false" title="{{__('further_information_for', person.firstName, person.lastName)}}">
                      <span id="further-information-{{ loop.index }}" class="govuk-details__summary-text">{{__('label_manifest_further_personal_details')}}</span>
                    </summary>
                    <div class="govuk-details__text" id="details-content-{{ loop.index }}" aria-hidden="true">
                      <table class="govuk-table">
                        <tbody class="govuk-table__body">
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_gender')}}</td>
                            <td class="govuk-table__cell">{{person.gender}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_birth_place')}}</td>
                            <td class="govuk-table__cell">{{person.placeOfBirth}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_type')}}</td>
                            <td class="govuk-table__cell">{{person.documentType}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_issuing_state')}}</td>
                            <td class="govuk-table__cell">{{person.issuingState | upper}}</td>
                          </tr>
                          <tr class="govuk-table__row">
                            <td class="govuk-table__cell">{{__('field_travel_document_expiry_date')}}</td>
                            <td class="govuk-table__cell">{{person.documentExpiryDate}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </details>
                </div>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          {{ m.empty_table_message(__('manifest_no_records')) }}
        {% endif %}
        </tbody>
      </table>
    </div>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 500px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_responsible_person_details')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/responsibleperson" id='responsible-person-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_responsible_person_details')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      {{ m.check_your_answers_row(__('field_given_name'), garfile.responsibleGivenName) }}
      {{ m.check_your_answers_row(__('field_surname'), garfile.responsibleSurname) }}

      <div class="app-check-your-answers__contents">
        <dt class="app-check-your-answers__question">
          {{__('field_address')}}
        </dt>
        <dd class="app-check-your-answers__answer">
          {{garfile.responsibleAddressLine1}} <br>
          {{garfile.responsibleAddressLine2}} <br>
          {{garfile.responsibleCounty}} <br>
          {{garfile.responsiblePostcode}} <br>
        </dd>
      </div>
      {{ m.check_your_answers_row(__('field_contact_details'), garfile.responsibleContactNo) }}
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 200px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_customs')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/customs" id='customs-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_customs')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short">
      {{ m.check_your_answers_row(__('field_prohibited_goods'), garfile.prohibitedGoods) }}
      {% if garfile.prohibitedGoods === 'Yes' %}
        {{ m.check_your_answers_row(__('field_goods_declaration'), garfile.goodsDeclaration | truncate(50)) }}
      {% endif %}
      {{ m.check_your_answers_row(__('field_free_circulation'), garfile.freeCirculation) }}
      {{ m.check_your_answers_row(__('field_visit_reason_question'), garfile.visitReason | uncamelCase) }}
    </dl>

    <dl class="app-check-your-answers app-check-your-answers--short" style="margin-bottom: 0;">
      <div class="app-check-your-answers__contents">
        <dt style="width: 400px; border-bottom: none;" class="govuk-heading-m app-check-your-answers__question">
          {{__('heading_supporting_documentation_details')}}
        </dt>
        {% if showChangeLinks %}
        <dd style="border-bottom: none;" class="app-check-your-answers__change">
          <a href="/garfile/supportingdocuments" id='supporting-documents-change'>
            {{__('change_prefix')}}<span class="govuk-visually-hidden">{{__('heading_supporting_documentation_details')}}</span>
          </a>
        </dd>
        {% endif %}
      </div>
    </dl>

		<table class="govuk-table">
			<thead class="govuk-table__head">
				<tr class="govuk-table__row">
					<th class="govuk-table__header" scope="col">{{__('field_file_name')}}</th>
					<th class="govuk-table__header" scope="col">{{__('field_file_size')}}</th>
					<th class="govuk-table__header" scope="col">{{__('field_file_status')}}</th>
				</tr>
			</thead>
			<tbody class="govuk-table__body">
      {% if supportingdocs.items | length %}
        {% for file in supportingdocs.items %}
				<tr class="govuk-table__row">
					<td class="govuk-table__cell">{{file.fileName}}</td>
					<td class="govuk-table__cell">{{file.size}}</td>
					<td class="govuk-table__cell">{{__('field_file_status_done')}}</td>
				</tr>
				{% endfor %}
      {% else %}
        {{ m.empty_table_message(__('supportingdocuments_no_records')) }}
      {% endif %}
			</tbody>
		</table>
  </div>
