{% import "common/templates/includes/banners.njk" as b %}
{% import "common/templates/check_your_answers/macros.njk" as cya %}


{% include "check_your_answers/departure.njk" %}
{% include "check_your_answers/arrival.njk" %}

{{ m.departure_warning_message(__) }}

{% include "check_your_answers/aircraft.njk" %}
{% include "check_your_answers/manifest.njk" %}
{% include "check_your_answers/military.njk" %}
{% include "check_your_answers/responsible.njk" %}
{% include "check_your_answers/customs.njk" %}
{% include "check_your_answers/passenger_reason.njk" %}
{% include "check_your_answers/supporting_documents.njk" %}
