{% extends "base-template.njk" %}

{% block pageTitle %}
GAR | Help
{% endblock %}

{% block head %}
  {% include "head.njk" %}
{% endblock %}

{% block header %}
  {% if isLoggedIn %}
    {% include "header-user.njk" %}
  {% else %}
    {% include "header-pre-user.njk" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Help &amp; Guidance</h1>

      <h2 class="govuk-heading-m">Technical Support</h2>

      <p class="govuk-body-m">
        You are required to complete a GAR prior to your departure. For information about this process please see the following
        <a href="{{__('gar_form_link')}}">information</a>
      </p>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-general-support" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">General Support</span>
        </summary>
        <div class="govuk-details__text" id="details-content-general-support" aria-hidden="true">
          <p class="govuk-body-m">
            <strong>Please do not contact GAR Support for passenger related queries.
              If you have a query regarding a response message and you are unable to determine whether an individual has a valid permission to travel, please see 'Response Messages' section on this page.
              <br/>
              If you need more help, email <a href="mailto:uptqueries@homeoffice.gov.uk">uptqueries@homeoffice.gov.uk</a>
            </strong>
          </p>

          <p class="govuk-body-m">
              You can get support with using the service by emailing the Submit a GAR support team by emailing us at:
          </p>
          <p class="govuk-body-m">
            <a href="mailto:GARSupport@homeoffice.gov.uk">GARSupport@Homeoffice.gov.uk</a>
          </p>
          {# <p class="govuk-body-m">
            You can call the Submit a GAR team on: <br>
            Telephone: 0845 468 0084 <br>
            From overseas: +44 (0) 845 468 0084
          </p>
          <p class="govuk-body-m">
            This is a 24/7 support service. <br>
            <a href="https://www.gov.uk/call-charges">Find out about call charges</a>
          </p> #}
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-emergencies" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Emergencies</span>
        </summary>
        <div class="govuk-details__text" id="details-content-general-emergencies" aria-hidden="true">

          <p class="govuk-body-m">
            <strong>Please do not call this number for passenger related queries.
              If you have a query regarding a response message and you are unable to determine whether an individual has a valid permission to travel, please see 'Response Messages' section on this page.
              <br/>
              If you need more help, email <a href="mailto:uptqueries@homeoffice.gov.uk">uptqueries@homeoffice.gov.uk</a>
            </strong>
          </p>

          <p class="govuk-body-m">In an emergency, it is important that you contact the National Co-ordination Unit directly</p>

          <p class="govuk-body-m">
            Telephone: +44 (0) 845 723 1110 <br><br>
            This number allows General Aviation pilots, operators or owners to amend or submit a General Aviation Report (GAR) for Border Force purposes in an emergency situation. <br><br>
            The emergency telephone line may only be used for a flight that is:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Not required to report under the Terrorism Act 2000; and</li>
            <li>Is outside the GAR reporting timescales; and</li>
          </ul>
          <p class="govuk-body-m">An emergency such as:</p>
          <ul class="govuk-list govuk-list--bullet">
            <li>A medical emergency of a pilot/passenger; or</li>
            <li>Air Ambulance with critical passengers; or</li>
            <li>Other emergency requiring a change to information contained within an already submitted GAR; or</li>
            <li>Last minute changes to a submitted GAR, when changes to online version are not possible.</li>
          </ul>

        </div>
      </details>

      <h2 class="govuk-heading-m">Passenger Support</h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-documents" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Checking Passport / Travel Documents</span>
        </summary>
        <div class="govuk-details__text" id="details-content-documents" aria-hidden="true">
          <p class="govuk-body-m">
            Pilots, operators and agents responsible for carrying an individual to the UK are expected to make sure that:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Every individual onboard has a valid passport or travel document which is acceptable in the UK.</li>
            <li>The person is the rightful holder of the passport or travel document. </li>
          </ul>
          <p class="govuk-body-m">
            For more information on checking passports and travel documents click here
              <a href="{{__('upt_guidance_link')}}">Guidance on examining identity documents (publishing.service.gov.uk)</a>
          </p>
          <p class="govuk-body-m">
            For visa nationals, pilots, operators and agents responsible for carrying an individual to the UK are expected to make sure that:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>The visa is valid for the holder.</li>
            <li>The date from which the visa is valid.</li>
            <li>The date of expiry of the visa.</li>
          </ul>
          <p class="govuk-body-m">
            Follow this link to check visa requirements 
            <a href="https://www.gov.uk/check-uk-visa">Check if you need a UK visa - GOV.UK (www.gov.uk)</a>
          </p>
          <p class="govuk-body-m">
            Follow this link for more information on checking immigration documents
            <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1127332/Charging_procedures_A_guide_for_Carriers.pdf">Charging Guide Procedures – A Guide for Carriers</a>.
          </p>
          <p class="govuk-body-m">
          Follow this link for more information on visa nationals 
          <a href="https://www.gov.uk/guidance/immigration-rules/immigration-rules-appendix-visitor-visa-national-list">Immigration Rules - Immigration Rules Appendix Visitor: Visa national list - Guidance - GOV.UK (www.gov.uk)</a>
          </p>
          <p class="govuk-body-m">
            <strong>
              If you need more help, email <a href="mailto:uptqueries@homeoffice.gov.uk">uptqueries@homeoffice.gov.uk</a>
            </strong>
          </p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-response-messages" aria-expanded="false" title="Response Messages">
          <span class="govuk-details__summary-text">Response Messages</span>
        </summary>
        <div class="govuk-details__text" id="details-content-response-messages" aria-hidden="true">
          <p class="govuk-body-m">
            We are introducing Response Messages to sGAR from January 2024. These messages apply to UK inbound journeys and will confirm whether an individual has a valid permission to travel to the UK or if you need to conduct a manual check for a visa. </p>
          <p class="govuk-body-m">
            Whenever you submit data for an individual travelling on a flight coming to the UK using sGAR we will return a response; the response will be displayed on the sGAR service.</p>
          <p class="govuk-body-m"> From January 2024 you will see one of the following responses for each UK inbound passenger.
          </p>
          <p class="govuk-body-m">
            <strong>
              If you need more help, email <a href="mailto:uptqueries@homeoffice.gov.uk">uptqueries@homeoffice.gov.uk</a>
            </strong>
          </p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th  class="govuk-table__header" style="width:35%">Response Message</th>
                <th  class="govuk-table__header" style="width:65%">Action</th>
              </tr>
            </thead>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Valid permission to travel</td>
              <td class="govuk-table__cell">The Home Office can find a valid permission to travel for the person. Pilots, operators and agents are not required to check visas, but Passport or Travel Document checks still apply. They must check that the passport or travel document presented is genuine and valid, and that the person is the rightful holder.
            <br/><br/>For more information on checking passports and travel documents click here  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134497/Guidance_on_examining_identity_documents.pdf">Guidance on examining identity documents (publishing.service.gov.uk)</a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell">Authority to carry granted</td>
              <td class="govuk-table__cell">Pilots, operators and agents are required to check visas for Visa Nationals. Passport or Travel Document checks apply for all passengers. They must check that the passport or travel document presented is genuine and valid, and that the person is the rightful holder.
          <br/><br/>For more information on checking passports and travel documents click here <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134497/Guidance_on_examining_identity_documents.pdf">Guidance on examining identity documents (publishing.service.gov.uk)</a>
          Follow this link to check visa requirements <a href="https://www.gov.uk/check-uk-visa">Check if you need a UK visa - GOV.UK (www.gov.uk)</a>
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">Authority to carry refused. DO NOT BOARD.</td>
              <td class="govuk-table__cell">This response message will not be displayed on the screen. Pilots, operators and agents will be instructed not to board an individual (NO BOARD) via a call and email when Authority to Carry (ATC) has been refused.</td>
            </tr>
          </table>
        </div>
      </details>

    </div>
  </div>

{% endblock %}