{% extends "base-template.njk" %}

{% block pageTitle %}
GAR | Help
{% endblock %}

{% block head %}
  {% include "head.njk" %}
{% endblock %}

{% block header %}
  {% if isLoggedIn %}
    {% include "header-user.njk" %}
  {% else %}
    {% include "header-pre-user.njk" %}
  {% endif %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% macro pilotsOperatorsAgentsGuidance() %}
  {% if isLoggedIn %}
    If the individual has no exemption or proof of physical or digital permission, pilots, operators and agents may contact the Home Office for advice by calling the UK Border Force Carrier Support Hub {{ CARRIER_SUPPORT_HUB_UK_NUMBER }} or {{ CARRIER_SUPPORT_HUB_INTERNATIONAL_NUMBER }} from outside the UK.
  {% else %}
    If the individual has no exemption or proof of physical or digital permission, pilots, operators and agents may contact the Home Office for advice by calling the UK Border Force Carrier Support Hub number, which will be available on this help page when you log in.
  {% endif %}
{% endmacro %}

{% macro noExemptionOrProof() %}
  {% if isLoggedIn %}
    If the individual has no exemption or proof of physical or digital permission, you may contact the Home Office for advice by calling the UK Border Force Carrier Support Hub {{ CARRIER_SUPPORT_HUB_UK_NUMBER }} or {{ CARRIER_SUPPORT_HUB_INTERNATIONAL_NUMBER }} from outside the UK.
  {% else %}
    If the individual has no exemption or proof of physical or digital permission, you may contact the Home Office for advice by calling the UK Border Force Carrier Support Hub, which will be available on this help page when you log in.
  {% endif %}
{% endmacro %}


{% macro nonTechincalUPTQueries() %}
  {% if isLoggedIn %}
    For non-technical UPT related queries, please contact the UK Border Force Carrier Support Hub on {{ CARRIER_SUPPORT_HUB_UK_NUMBER }} or {{ CARRIER_SUPPORT_HUB_INTERNATIONAL_NUMBER }} from outside the UK.
  {% else %}
    For non-technical UPT related queries, please log into sGAR to get contact details.
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Help &amp; Guidance</h1>

      <p class="govuk-body-m">
        You are required to complete a GAR prior to your departure. Please follow this link for more
        <a href="{{__('gar_form_link')}}">information</a>.
      </p>
      <h2 class="govuk-heading-m">Passenger Support</h2>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-documents" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Checking Passport / Travel Documents</span>
        </summary>
        <div class="govuk-details__text" id="details-content-documents" aria-hidden="true">
          <p class="govuk-body-m">
            Pilots, operators, and agents responsible for carrying an individual to the UK are expected to make sure that:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Every individual onboard has a valid passport or travel document which is acceptable in the UK.</li>
            <li>The individual is the rightful holder of the passport or travel document.</li>
          </ul>
          <p class="govuk-body-m">
            For more information on checking passports and travel documents, follow this link 
              <a href="{{__('upt_guidance_link')}}">Guidance on examining identity documents (publishing.service.gov.uk)</a>.
          </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-documents" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Visa Nationals</span>
        </summary>
        <div class="govuk-details__text" id="details-content-documents" aria-hidden="true">
          <p class="govuk-body-m">
            Follow this link to check&nbsp;
            <a class="govuk-link" href="https://www.gov.uk/government/publications/uk-visa-requirements-list-for-carriers/uk-visa-requirements-for-international-carriers">
            UK visa requirements (accessible version) - GOV.UK (www.gov.uk)</a>
            Pilots, operators, and agents bringing passengers to the UK are expected to make sure that visa nationals have a valid immigration permission or exemption.
          </p>
          <p>
            If you receive a <b>VALID PERMISSION TO TRAVEL</b> response, this is confirmation that the individual has a valid immigration permission 
            and no other immigration checks are required.
          </p>
          <p>
            If you receive an <b>AUTHORITY TO CARRY GRANTED</b> response, you must check if this individual has a valid passport or travel document.
          </p>
          <p class="govuk-body-m">
            You should conduct a manual check for an immigration permission by:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>Checking for a valid physical immigration document (such as a visa vignette or stamp etc.) </li>
            Or
            <li>By using a sharecode which the individual can request from their UKVI account. Follow this link to access the service 
              <a href = 'https://www.gov.uk/check-immigration-status'>https://www.gov.uk/check-immigration-status</a>
              </li>
              <li>
                {{ pilotsOperatorsAgentsGuidance() }}
              </li>
          </ul>
          <p>
            Follow this link for more information on checking immigration documents
            <a href="https://www.gov.uk/government/publications/document-checks-and-charges-for-carriers" target="_blank">
            Document checks and charges for carriers (opens in new tab on GOV.UK)</a>. 
            </p>
      </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-documents" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Authority to Carry</span>
        </summary>
        <div class="govuk-details__text" id="details-content-documents" aria-hidden="true">
          <p>
            The submission of advance passenger information (API) enables the operation of the UK’s Authority to Carry Scheme 2023. 
            This Scheme is a border security measure intended to prevent the travel of certain individuals where it is in the public interest. Follow this link for more information 
            <a href = "https://www.gov.uk/government/publications/authority-to-carry-scheme-2023">
            Authority to Carry Scheme 2023 - GOV.UK (www.gov.uk)
            </a>
            </p>
        </div>
      </details>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-response-messages" aria-expanded="false" title="Response Messages">
          <span class="govuk-details__summary-text">Response Messages</span>
        </summary>
        <div class="govuk-details__text" id="details-content-response-messages" aria-hidden="true">

          <p class="govuk-body-m">
          UPT Response Messages have now been introduced to sGAR. These messages will confirm whether an individual has a valid permission to travel or 
          if a manual check for a physical immigration or exemption document, or an online check using the sharecode function on an individual’s 
          UKVI account is required. Every time you submit data for an individual via sGAR we will return a response. 
          The response will be displayed on the sGAR service. You will see one of the following responses for each passenger.
          </p>
          <table class="govuk-table">
            <thead class="govuk-table__head">
              <tr class="govuk-table__row">
                <th  class="govuk-table__header" style="width:35%">Response Message</th>
                <th  class="govuk-table__header" style="width:65%">Action</th>
              </tr>
            </thead>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">VALID PERMISSION TO TRAVEL</td>
              <td class="govuk-table__cell">
                <p class="govuk-body-m">
                This is confirmation that the individual has a valid immigration permission and no other immigration checks are required.
                </p>
                <p class="govuk-body-m">
                You must still check if this individual has a valid passport or travel document and that the passport or travel document presented is genuine and valid, 
                and that the person is the rightful holder.
                </p>
                For more information on checking passports and travel documents, follow this link 
                <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134497/Guidance_on_examining_identity_documents.pdf">
                Guidance on examining identity documents (publishing.service.gov.uk)
                </a>
              </td>
            </tr>
            <tr>
              <td class="govuk-table__cell">AUTHORITY TO CARRY GRANTED</td>
              <td class="govuk-table__cell">
                <p class="govuk-body-m">
                You must check if this individual has a valid passport or travel document.
                </p>
                <p class="govuk-body-m">
                For visa nationals you must also check for a valid immigration or exemption document. Follow this link to check
                <a href = "https://www.gov.uk/government/publications/uk-visa-requirements-list-for-carriers/uk-visa-requirements-for-international-carriers">
                UK visa requirements (accessible version) - GOV.UK (www.gov.uk)
                </a>
                You should conduct a manual check for an immigration permission by:
                </p>
                Checking for a valid physical immigration document (such as a visa vignette or stamp etc.)<br/>
                Or<br/>
                By using a sharecode which the individual can request from their UKVI account. Follow this link to access the service
                <a href="https://www.gov.uk/check-immigration-status">
                https://www.gov.uk/check-immigration-status
                </a><br/><br/>
                {{ noExemptionOrProof() }}
              </td>
            </tr>
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">AUTHORITY TO CARRY REFUSED. DO NOT BOARD.</td>
              <td class="govuk-table__cell">This response message will not be displayed on the screen. Pilots, 
                operators and agents will be instructed not to board an individual (NO BOARD) via a call and email when Authority to Carry (ATC) has been refused.</td>
            </tr>
          </table>
        </div>
      </details>

      <h2 class="govuk-heading-m">Technical Support</h2>
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-general-support" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">General Support</span>
        </summary>
        <div class="govuk-details__text" id="details-content-general-support" aria-hidden="true">
          <p class="govuk-body-m">
            {{ nonTechincalUPTQueries() }}
          </p>
          <p class="govuk-body-m">
            For technical queries relating to the sGAR web service, please contact the sGAR support team by emailing us at:
            <a href="mailto:{{__('support_email')}}">{{__('support_email')}}</a>
          </p>
        </div>
      </details>

      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary" aria-controls="details-content-emergencies" aria-expanded="false" title="Checking Passport / Travel Documents">
          <span class="govuk-details__summary-text">Exceptional Circumstances</span>
        </summary>
        <div class="govuk-details__text" id="details-content-general-emergencies" aria-hidden="true">

          <p class="govuk-body-m">
            If, due to bad weather or technical issues, a flight is forced to change its arrival location in-flight, the following process may be followed:
          </p>
          <p class="govuk-body-m">
            Provided it is practicable to do so, the change may be notified to the HMRC National Co-ordination Unit (NCU) by calling +44 300 123 2012.
            If this is not possible, the pilot must divert to the alternative customs and excise designated aerodrome specified on the flight plan.
          </p>
          <p class="govuk-body-m">
            Flights which the pilot is required to notify in accordance with the Terrorism Act 2000 must use the alternative police designated aerodrome 
            specified on the flight plan. If circumstances mean the pilot is unable to divert to the alternative customs or police designated aerodrome 
            specified on the flight plan, the pilot must redirect to the nearest available airfield, submit a new report and contact local Border Force on arrival.
          </p>
          <p class="govuk-body-m">
            Further information about reporting in exceptional circumstances in respect of delayed flights can be found in the General Aviation Guidance 
            by following this link 
            <a href = "https://www.gov.uk/government/publications/general-aviation-operators-and-pilots-notification-of-flights">
            Providing information about international general aviation flights - GOV.UK (www.gov.uk)
            </a>.
          </p>
        </div>
      </details>
    </div>
  </div>

{% endblock %}