{% extends "base-template.njk" %}

{% block pageTitle %}
GAR | Help
{% endblock %}

{% block head %}
  {% include "head.njk" %}
{% endblock %}

{% block header %}
  {% include "header-pre-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        sGAR support
		  </h1>

      <h2 class="govuk-heading-l">Checking Passport / Travel Documents</h2>

      <p class="govuk-body-m">
        Pilots, operators and agents responsible for carrying an individual to the UK are expected to make sure that:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Every individual onboard has a valid passport or travel document which is acceptable in the UK.</li>
        <li>The person is the rightful holder of the passport or travel document. </li>
      </ul>

      <p class="govuk-body-m">
        For more information on checking passports and travel documents click here
          <a href="{{__('upt_guidance_link')}}">Guidance on examining identity documents (publishing.service.gov.uk)</a>
      </p>

      <p class="govuk-body-m">
        For visa nationals, pilots, operators and agents responsible for carrying an individual to the UK are expected to make sure that:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>The visa is valid for the holder.</li>
        <li>The date from which the visa is valid.</li>
        <li>The date of expiry of the visa.</li>
      </ul>

      <p class="govuk-body-m">
          Follow this link to check visa requirements 
          <a href="https://www.gov.uk/check-uk-visa">Check if you need a UK visa - GOV.UK (www.gov.uk)</a>
      </p>

      <p class="govuk-body-m">
          Follow this link for more information on checking immigration documents
          <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1127332/Charging_procedures_A_guide_for_Carriers.pdf">Charging Guide Procedures – A Guide for Carriers</a>.
      </p>

      <p class="govuk-body-m">
          Follow this link for more information on visa nationals 
          <a href="https://www.gov.uk/guidance/immigration-rules/immigration-rules-appendix-visitor-visa-national-list">Immigration Rules - Immigration Rules Appendix Visitor: Visa national list - Guidance - GOV.UK (www.gov.uk)</a>
      </p>

      <h2 class="govuk-heading-l">Authority to Carry</h2>

      <p class="govuk-body-m">
          Pilots, operators and agents responsible for GA flights to and from the UK must seek authority from Border Force to carry all persons onboard. Follow this link for further information: 
          <a href="https://www.gov.uk/government/publications/authority-to-carry-scheme-2023">Authority to Carry Scheme 2023 – GOV.UK (www.gov.uk)</a>
      </p>

      <i>Link to guidance to be provided in due course (GA)</i>

      <h2 class="govuk-heading-l">Response Messages</h2>

      <p class="govuk-body-m">
        We are introducing Response Messages to sGAR from XXth. These messages will confirm whether an individual has a valid permission to travel or if you need to conduct a manual check for a visa. Every time you submit data for an individual via sGAR we will return a response. The response will be displayed on the sGAR service. From XXth you will see one of the following responses for each passenger.
      </p>

      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th  class="govuk-table__header" style="width:35%">Response Message</th>
            <th  class="govuk-table__header" style="width:65%">Action</th>
          </tr>
        </thead>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">VALID PERMISSION TO TRAVEL</td>
          <td class="govuk-table__cell">The Home Office can find a valid permission to travel for the person. Pilots, operators and agents are not required to check visas, but Passport or Travel Document checks still apply. They must check that the passport or travel document presented is genuine and valid, and that the person is the rightful holder.
            <br/><br/>For more information on checking passports and travel documents click here  <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134497/Guidance_on_examining_identity_documents.pdf">Guidance on examining identity documents (publishing.service.gov.uk)</a>
          </td>
        </tr>
        <tr>
          <td class="govuk-table__cell">AUTHORITY TO CARRY GRANTED</td>
          <td class="govuk-table__cell">Pilots, operators and agents are required to check visas for Visa Nationals. Passport or Travel Document checks apply for all passengers. They must check that the passport or travel document presented is genuine and valid, and that the person is the rightful holder.
          <br/><br/>For more information on checking passports and travel documents click here <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/1134497/Guidance_on_examining_identity_documents.pdf">Guidance on examining identity documents (publishing.service.gov.uk)</a>
          Follow this link to check visa requirements <a href="https://www.gov.uk/check-uk-visa">Check if you need a UK visa - GOV.UK (www.gov.uk)</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">AUTHORITY TO CARRY REFUSED. DO NOT BOARD.</td>
          <td class="govuk-table__cell">Pilots, operators and agents will receive a NO BOARD response via a call and email when Authority to Carry (ATC) has been refused.</td>
        </tr>
      </table>
    </div>
  </div>
{% endblock %}