
{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Dashboard
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
    {% if userSession.StatusChangedTimestamp %}
      <h1 class="govuk-heading-m">
        <span class="heading-secondary govuk-hint">
          {% set timestamp = userSession.StatusChangedTimestamp.toString() %}
          {{__('last_logged_on', timestamp)}}
        </span>
        {{__('welcome_back_user', cookie.getUserFirstName())}}
      </h1>
    {% else %}
      <h1 class="govuk-heading-m">
        {{__('welcome_user', cookie.getUserFirstName())}}
      </h1>
    {% endif %}
	</div>
</div>
  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">{{__('heading_create_gar')}}</h1>
      <p class="govuk-body-l">{{__('create_gar_caption_1')}}<a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/946913/GAR_Template_Updated_Dec_2020_v6.4_SDS.xlsx"><span class="govuk-visually-hidden">{{__('heading_create_gar')}} </span>{{__('create_gar_caption_link')}}</a>{{__('create_gar_caption_2')}}</p>
      <a id="start_now" class="govuk-button govuk-button--start" href="/garfile/home">{{__('button_start_now')}}</a>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
    	<form id="signform2" action="/garfile/view" method="post" role="form">
      <h1 class="govuk-heading-l">{{__('heading_manage_gars')}}</h1>
      <p class="govuk-body-l">{{__('manage_gars_caption')}}</p>
    </div>
    <div class="govuk-grid-column-full">
      <div class="govuk-tabs" data-module="tabs">
        <ul class="govuk-tabs__list"> 
          <li class="govuk-tabs__list-item"> 
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-draft"> 
              {{__('tab_gar_draft', draftGars.length)}} 
            </a> 
          </li> 
          <li class="govuk-tabs__list-item"> 
           <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-submitted"> 
              {{__('tab_gar_submitted', submittedGars.length)}} 
            </a> 
          </li> 
          <li class="govuk-tabs__list-item"> 
           <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-cancelled"> 
              {{__('tab_gar_cancelled', cancelledGars.length)}} 
           </a> 
          </li> 
        </ul> 
   {% macro gar_summary_table(name, gars) %} 
      <section class="govuk-tabs__panel" id="gars-{{ name }}">
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th class="govuk-table__header" scope="col">{{__('field_aircraft_registration')}}</th> 
              <th class="govuk-table__header" scope="col" width="150">{{__('field_created_date')}}</th>
              <th class="govuk-table__header" scope="col" width="150">{{__('field_departure_date')}}</th> 
              <th class="govuk-table__header" scope="col">{{__('field_departure_time')}}</th> 
              <th class="govuk-table__header" scope="col">{{__('field_departure_port')}}</th> 
              <th class="govuk-table__header" scope="col">{{__('field_arrival_port')}}</th> 
              <th class="govuk-table__header" scope="col"></th> 
              <th class="govuk-table__header" scope="col">{{__('field_submission_reference')}}</th>  
            </tr>
          </thead>
          <tbody class="govuk-table__body">
          {% if gars | length %}
            {% for gar in gars %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">
               {% if gar.registration === null %} 
                  <button id="view-{{ name }}-{{ loop.index }}" class="govuk-link btn-link" name="garId" value="{{ gar.garId }}">{{__('value_aircraft_registration_null')}}</button> 
                {% else %}
                  <button id="view-{{ name }}-{{ loop.index }}" class="govuk-link btn-link" name="garId" value="{{ gar.garId }}">{{ gar.registration }}</button> 
                {% endif %} 
                </td>
                <td class="govuk-table__cell">{{ gar.createdDate | truncate(11, true, "") }}</td>
                <td class="govuk-table__cell">{{ gar.departureDate }}</td> 
                <td class="govuk-table__cell">{{ gar.departureTime }}</td> 
                <td class="govuk-table__cell">{{ __('value_port_code_zzzz') if gar.departurePort == 'YYYY' else gar.departurePort | upper }}</td>  
                <td class="govuk-table__cell">{{ __('value_port_code_zzzz') if gar.arrivalPort == 'ZZZZ' else gar.arrivalPort | upper }}</td> 
                <td class="govuk-table__cell"></td>    
                <td id="garid-{{ name }}-{{ loop.index }}" class="govuk-table__cell">{{ m.gar_id_screen_reader(gar.garId) }}</td> 
              </tr>
            {% endfor %}
          {% else %}
            {{ m.empty_table_message(__('gar_' + name + '_no_records')) }}
          {% endif %}
          </tbody>
        </table>
        {# <nav role="navigation" aria-label="Pagination">
          <div class="pagination__summary">Showing 101 &ndash; 150 of 246 results</div>
          <ul class="pagination">
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Previous page"><span aria-hidden="true" role="presentation">&laquo;</span> Previous</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 1">1</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 2">2</a></li>
            <li class="pagination__item"><a class="pagination__link current" href="#0" aria-current="true" aria-label="Page 3, current page">3</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 4">4</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Page 5">5</a></li>
            <li class="pagination__item"><a class="pagination__link" href="#0" aria-label="Next page">Next <span aria-hidden="true" role="presentation">&raquo;</span></a></li>
          </ul>
        </nav> #}
      </section>
       {% endmacro %}                          
     {{ gar_summary_table('draft', draftGars) }} 
     {{ gar_summary_table('submitted', submittedGars) }} 
     {{ gar_summary_table('cancelled', cancelledGars) }}  
      
    </div>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
  </div>
</div>

{% endblock %}

