{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% import "common/templates/includes/paginator.njk" as p %}

{% block pageTitle %}
	GAR | Dashboard
{% endblock %}

{% set active = '/home' %}

{% block header %}
  {% include "header-user.njk" %}
{% endblock %}

{% block beforeContent %}
  {% include "phase.njk" %}
{% endblock %}

{% block content %}

  {% if errors %}
    {% include "common/templates/includes/errors.njk" %}
  {% endif %}

  {% if successMsg %}
    {% include "common/templates/includes/success-action.njk" %}
  {% endif %}

  {# <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
  </div> #}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{__('title')}}</h1>
      <p class="govuk-body-m">{{__('create_gar_caption_1')}}
        <a class="govuk-link" href="https://assets.publishing.service.gov.uk/media/660fba8263b7f8001fde18e2/GAR_Template_Apr_2024_v6.6_SDS_.xlsx">
          <span class="govuk-visually-hidden">{{__('heading_create_gar')}}
          </span>{{__('create_gar_caption_link')}}</a>{{__('create_gar_caption_2')}}</p>
       <p class="govuk-body-m">GARs must be submitted no earlier than 48 hours and no later than 2 hours before the expected time of departure.</p>

      <div class="margin-bottom-40"><a id="start_now" class="govuk-button" href="/garfile/home">Create a GAR</a></div>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl govuk-!-margin-top-0">
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# <form id="signform2" action="/garfile/view" method="post" role="form"> #}
      <h1 class="govuk-heading-l">{{__('heading_manage_gars')}}</h1>
      <p class="govuk-body-m">{{__('manage_gars_caption')}}</p>
      <div class="padding-bottom-10">
        <div class="govuk-inset-text">Your draft, submitted and cancelled GARs will only be saved for 6 months, after this they will be deleted.</div>
        {% set hasMultipleServerPages = serverPagination.totalPages > 1 %}
        {% set notOnFirstPage = serverPagination.page > 1 %}
        {% set onLastPage = serverPagination.page == serverPagination.totalPages %}
        {% set onSecondToLastPage = serverPagination.page == serverPagination.totalPages - 1 %}
        {% set notOnLastPage = serverPagination.page < serverPagination.totalPages %}
        {% if hasMultipleServerPages %}
        <div class="govuk-inset-text">
          You are viewing {{serverPagination.perPage * (serverPagination.page-1) +1}} - {{serverPagination.totalItems if onLastPage else serverPagination.perPage * serverPagination.page}}  of your most recent GARs, there are {{serverPagination.totalItems}} total GARs.
          {% if notOnFirstPage %}
          <br/>To view the previous {{serverPagination.perPage}} GARs <a class="govuk-link" href="?page={{serverPagination.page-1}}">click here</a>.
          {% endif %}
          {% if notOnLastPage %}
          <br/>To view the next {{serverPagination.totalItems % serverPagination.perPage if onSecondToLastPage else serverPagination.perPage}} GARs <a href="?page={{serverPagination.page+1}}">click here</a>.
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>

    <div class="govuk-grid-column-full">
      <div class="govuk-tabs" data-module="govuk-tabs">
        <ul class="govuk-tabs__list">
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-draft">
              {{__('tab_gar_draft', draftGars.length)}}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-submitted">
              {{__('tab_gar_submitted', submittedGars.length)}}
            </a>
          </li>
          <li class="govuk-tabs__list-item">
            <a class="govuk-tabs__tab govuk-tabs__tab--selected" href="#gars-cancelled">
              {{__('tab_gar_cancelled', cancelledGars.length)}}
            </a>
          </li>
        </ul>

        <script type="text/javascript" src="/javascripts/paginator.js"></script>
        <form id="signform2" action="/garfile/view" method="post" role="form">
          {% macro gar_summary_table(name, gars) %}
            {% set maxPage = (gars.length // pageSize)+1 if gars.length % pageSize else gars.length // pageSize %}
            <section class="govuk-tabs__panel" id="gars-{{ name }}">
              <h2 class="govuk-heading-m">{{ name | capitalize }} GARs</h2>
              {% if gars | length %}
              <table class="govuk-table" id="sortGAR">
                <thead class="govuk-table__head" >
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">{{__('field_aircraft_registration')}}</th>
                    <th class="govuk-table__header" scope="col" width="150">{{__('field_created_date')}}</th>
                    <th class="govuk-table__header" scope="col" width="150">{{__('field_departure_date')}}</th>
                    <th class="govuk-table__header" scope="col">{{__('field_departure_time')}}</th>
                    <th class="govuk-table__header" scope="col">{{__('field_departure_port')}}</th>
                    <th class="govuk-table__header" scope="col">{{__('field_arrival_port')}}</th>
                    <th class="govuk-table__header" scope="col"></th>
                    <th class="govuk-table__header" scope="col">{{__('field_submission_reference')}}</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body pagination__table_{{name}}">
                    {% for gar in gars %}
                      {% set page = ((loop.index-1) // pageSize) + 1 %}
                      <tr class="govuk-table__row pagination-page pagination-page_{{page}}" id="pagination-row-{{page}}-{{ loop.index }}">
                        <td class="govuk-table__cell">
                          {% if gar.registration === null %}
                            <button id="view-{{ name }}-{{ loop.index }}" class="govuk-link btn-link" name="garId" value="{{ gar.garId }}">{{__('value_aircraft_registration_null')}}</button>
                          {% else %}
                            <button id="view-{{ name }}-{{ loop.index }}" class="govuk-link btn-link" name="garId" value="{{ gar.garId }}">{{ gar.registration }}</button>
                          {% endif %}
                        </td>
                        <td class="govuk-table__cell">{{ gar.createdDate | truncate(11, true, "") }}</td>
                        <td class="govuk-table__cell">{{ gar.departureDate }}</td>
                        <td class="govuk-table__cell">{{ gar.departureTime }}</td>
                        <td class="govuk-table__cell">{{gar.departurePort | upper }}</td>
                        <td class="govuk-table__cell">{{gar.arrivalPort | upper }}</td>
                        <td class="govuk-table__cell"></td>
                        <td id="garid-{{ name }}-{{ loop.index }}" class="govuk-table__cell" >
                          <small>
                            <code>{{m.gar_id_screen_reader(gar.cbp_id) if gar.cbp_id else ('Processing...' if gar.status.name == 'Submitted') }}</code>
                          </small>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
              </table>
              {% else %}
                {{ m.empty_table_message(__('gar_' + name + '_no_records')) }}
              {% endif %}
              <script>
                $(document).on("click", "table thead tr th:not(.no-sort)", function () {
                  var table = $(this).parents("table");
                  var rows = $(this)
                    .parents("table")
                    .find("tbody tr")
                    .toArray()
                    .sort(TableComparer($(this).index()));
                  var dir = ($(this).hasClass("sort-asc"))
                    ? "desc"
                    : "asc";

                  if (dir == "desc") {
                    rows = rows.reverse();
                  }

                  for (var i = 0; i < rows.length; i++) {
                    table.append(rows[i]);
                  }

                  table
                    .find("thead tr th")
                    .removeClass("sort-asc")
                    .removeClass("sort-desc");
                  $(this)
                    .removeClass("sort-asc")
                    .removeClass("sort-desc")
                    .addClass("sort-" + dir);
                });

                function TableComparer(index) {
                  return function (a, b) {
                    var val_a = TableCellValue(a, index);
                    var val_b = TableCellValue(b, index);
                    var result = ($.isNumeric(val_a) && $.isNumeric(val_b))
                      ? val_a - val_b
                      : val_a
                        .toString()
                        .localeCompare(val_b);

                    return result;
                  }
                }

                function TableCellValue(row, index) {
                  return $(row)
                    .children("td")
                    .eq(index)
                    .text();
                }
              </script>

              {{ p.paginator(name, pageSize, gars.length) }}

            </section>
          {% endmacro %}
          {{ gar_summary_table('draft', draftGars) }}
          {{ gar_summary_table('submitted', submittedGars) }}
          {{ gar_summary_table('cancelled', cancelledGars) }}
        </div>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}"/>
      </div>
    </div>

  {% endblock %}
