{% extends "base-template.njk" %}

{% import "common/templates/includes/macros.njk" as m %}

{% block pageTitle %}
	GAR | Register success
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">
      <div class="govuk-panel govuk-panel--confirmation">
        {% if resend %}
          <h1 class="govuk-panel__title">{{__('account_verification_resent')}}</h1>
        {% else %}
          <h1 class="govuk-panel__title">{{__('account_verification_success')}}</h1>
        {% endif %}
      </div>
      <h2 class="govuk-heading-m">{{__('account_verification_heading')}}</h2>
      <p class="govuk-body-m">
        {{__('user_login_unverified_caption_1')}}
        <a href="/user/regmsg?resend=true">{{__('user_login_unverified_resend')}}</a>{{__('user_login_unverified_caption_3')}}
      </p>
      <a class="govuk-button" href="/login">{{__('button_sign_in')}}</a>
    </div>
  </div>
  <input type="hidden" name="_csrf" value="{{ csrfToken }}" />
{% endblock %}
